<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>01-12 Betrieb</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>01-12 Betrieb</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/06e8582a-687b-4fc0-8193-a756aea91140.png" alt="01-12 Betrieb" usemap="#06e8582a-687b-4fc0-8193-a756aea91140map"/>
			   <map name="06e8582a-687b-4fc0-8193-a756aea91140map">
				  		<area shape="rect" coords="598,250,791,305" href="../elements/20efbdce-14b8-49b0-9629-e78959697e7a.html"  target="element">
				  		<area shape="rect" coords="598,190,791,245" href="../elements/e3948655-b140-409e-ae79-bafb235f620c.html"  target="element">
				  		<area shape="rect" coords="598,130,791,185" href="../elements/b727070e-8310-4c55-a6b1-6f27809a0f93.html"  target="element">
				  		<area shape="rect" coords="598,70,791,125" href="../elements/6b8f4302-4d0c-4198-984c-3fceea6b29ca.html"  target="element">
				  		<area shape="rect" coords="598,10,791,65" href="../elements/a5c79d04-c69c-4725-8ae1-1a8c4f42da0f.html"  target="element">
				  		<area shape="rect" coords="10,310,203,365" href="../elements/06619237-98c0-49d5-8134-08b7400eafc3.html"  target="element">
				  		<area shape="rect" coords="10,250,203,305" href="../elements/3793befa-68b0-41d4-be75-b1ccb189f430.html"  target="element">
				  		<area shape="rect" coords="10,190,203,245" href="../elements/80351b64-f201-4d42-97af-248475c50636.html"  target="element">
				  		<area shape="rect" coords="10,130,203,185" href="../elements/ad05cc86-13fa-46e3-b623-aa6280ac9f32.html"  target="element">
				  		<area shape="rect" coords="10,70,203,125" href="../elements/c6c91975-41d7-471d-bf9c-5ac52a966d7f.html"  target="element">
				  				<area shape="rect" coords="298,166,503,221" href="../elements/bf0bb9e9-9cf5-47b3-91a9-35ffdcb1e989.html"  target="element">
				  				<area shape="rect" coords="298,106,503,161" href="../elements/457d14be-dfdf-4570-8f54-c43d2c806e90.html"  target="element">
				  				<area shape="rect" coords="298,226,503,281" href="../elements/54306410-bc43-43a4-82b8-7f9b332abfa3.html"  target="element">
				  				<area shape="rect" coords="298,46,503,101" href="../elements/0764fd2e-e469-4b6d-8d9d-8919900ab2ab.html"  target="element">

				  		<area shape="rect" coords="262,10,539,365" href="../elements/992bbd31-9b6a-4185-96a4-2f9aba857ac1.html"  target="element">
				  		<area shape="rect" coords="10,10,203,65" href="../elements/e65566b5-1d74-4440-91e1-bbbffae5fd4b.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/e65566b5-1d74-4440-91e1-bbbffae5fd4b.html" target="element"> Lebenszykluskonzepte </a> </td>
											    <td> <a href="../elements/e65566b5-1d74-4440-91e1-bbbffae5fd4b.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/992bbd31-9b6a-4185-96a4-2f9aba857ac1.html" target="element"> Betrieb </a> </td>
											    <td> <a href="../elements/992bbd31-9b6a-4185-96a4-2f9aba857ac1.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/0764fd2e-e469-4b6d-8d9d-8919900ab2ab.html" target="element"> Vorbereiten des Betriebs </a> </td>
													    <td> <a href="../elements/0764fd2e-e469-4b6d-8d9d-8919900ab2ab.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/54306410-bc43-43a4-82b8-7f9b332abfa3.html" target="element"> Unterst&#252;tzen des Kunden </a> </td>
													    <td> <a href="../elements/54306410-bc43-43a4-82b8-7f9b332abfa3.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/457d14be-dfdf-4570-8f54-c43d2c806e90.html" target="element"> Durchf&#252;hren des Betriebs </a> </td>
													    <td> <a href="../elements/457d14be-dfdf-4570-8f54-c43d2c806e90.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/bf0bb9e9-9cf5-47b3-91a9-35ffdcb1e989.html" target="element"> Verwalten der Betriebsergebnisse </a> </td>
													    <td> <a href="../elements/bf0bb9e9-9cf5-47b3-91a9-35ffdcb1e989.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/c6c91975-41d7-471d-bf9c-5ac52a966d7f.html" target="element"> Schulungsmaterial f&#252;r Betreiber bzw. Instandhalter </a> </td>
											    <td> <a href="../elements/c6c91975-41d7-471d-bf9c-5ac52a966d7f.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ad05cc86-13fa-46e3-b623-aa6280ac9f32.html" target="element"> geschulte Betreiber und Instandhalter </a> </td>
											    <td> <a href="../elements/ad05cc86-13fa-46e3-b623-aa6280ac9f32.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/80351b64-f201-4d42-97af-248475c50636.html" target="element"> validiertes System </a> </td>
											    <td> <a href="../elements/80351b64-f201-4d42-97af-248475c50636.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3793befa-68b0-41d4-be75-b1ccb189f430.html" target="element"> Validierungsbericht </a> </td>
											    <td> <a href="../elements/3793befa-68b0-41d4-be75-b1ccb189f430.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/06619237-98c0-49d5-8134-08b7400eafc3.html" target="element"> Wartungsbericht </a> </td>
											    <td> <a href="../elements/06619237-98c0-49d5-8134-08b7400eafc3.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a5c79d04-c69c-4725-8ae1-1a8c4f42da0f.html" target="element"> Betriebsstrategie </a> </td>
											    <td> <a href="../elements/a5c79d04-c69c-4725-8ae1-1a8c4f42da0f.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6b8f4302-4d0c-4198-984c-3fceea6b29ca.html" target="element"> Anforderungen an die betriebsunterst&#252;tzenden Systeme </a> </td>
											    <td> <a href="../elements/6b8f4302-4d0c-4198-984c-3fceea6b29ca.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b727070e-8310-4c55-a6b1-6f27809a0f93.html" target="element"> betriebsbedingte Einschr&#228;nkungen </a> </td>
											    <td> <a href="../elements/b727070e-8310-4c55-a6b1-6f27809a0f93.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e3948655-b140-409e-ae79-bafb235f620c.html" target="element"> Betriebsbericht </a> </td>
											    <td> <a href="../elements/e3948655-b140-409e-ae79-bafb235f620c.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/20efbdce-14b8-49b0-9629-e78959697e7a.html" target="element"> Betriebsprotokoll </a> </td>
											    <td> <a href="../elements/20efbdce-14b8-49b0-9629-e78959697e7a.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/2c550b4b-a3d7-4a19-ac50-0279021beb26.html" target="element">  </a> </td>
																		<td> <a href="../elements/2c550b4b-a3d7-4a19-ac50-0279021beb26.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/992bbd31-9b6a-4185-96a4-2f9aba857ac1.html" target="element"> Betrieb </a> </td>
																		<td> <a href="../elements/e65566b5-1d74-4440-91e1-bbbffae5fd4b.html" target="element"> Lebenszykluskonzepte </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c2461c7f-49ad-454d-b81c-886a33406fd5.html" target="element">  </a> </td>
																		<td> <a href="../elements/c2461c7f-49ad-454d-b81c-886a33406fd5.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/992bbd31-9b6a-4185-96a4-2f9aba857ac1.html" target="element"> Betrieb </a> </td>
																		<td> <a href="../elements/ad05cc86-13fa-46e3-b623-aa6280ac9f32.html" target="element"> geschulte Betreiber und Instandhalter </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e4760c0f-b42a-4f5e-b9e3-aeae6daa06bd.html" target="element">  </a> </td>
																		<td> <a href="../elements/e4760c0f-b42a-4f5e-b9e3-aeae6daa06bd.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/992bbd31-9b6a-4185-96a4-2f9aba857ac1.html" target="element"> Betrieb </a> </td>
																		<td> <a href="../elements/c6c91975-41d7-471d-bf9c-5ac52a966d7f.html" target="element"> Schulungsmaterial f&#252;r Betreiber bzw. Instandhalter </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/01e06071-b367-4a94-bcde-f09ba3801aca.html" target="element">  </a> </td>
																		<td> <a href="../elements/01e06071-b367-4a94-bcde-f09ba3801aca.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/992bbd31-9b6a-4185-96a4-2f9aba857ac1.html" target="element"> Betrieb </a> </td>
																		<td> <a href="../elements/80351b64-f201-4d42-97af-248475c50636.html" target="element"> validiertes System </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c90400e9-3a91-4e7d-8d0b-06ff4a3af83d.html" target="element">  </a> </td>
																		<td> <a href="../elements/c90400e9-3a91-4e7d-8d0b-06ff4a3af83d.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/992bbd31-9b6a-4185-96a4-2f9aba857ac1.html" target="element"> Betrieb </a> </td>
																		<td> <a href="../elements/3793befa-68b0-41d4-be75-b1ccb189f430.html" target="element"> Validierungsbericht </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c78b52de-48d8-47ff-8a70-5add057d840c.html" target="element">  </a> </td>
																		<td> <a href="../elements/c78b52de-48d8-47ff-8a70-5add057d840c.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/992bbd31-9b6a-4185-96a4-2f9aba857ac1.html" target="element"> Betrieb </a> </td>
																		<td> <a href="../elements/06619237-98c0-49d5-8134-08b7400eafc3.html" target="element"> Wartungsbericht </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d4c6e089-a19e-4f6e-8c99-c36209364f3d.html" target="element">  </a> </td>
																		<td> <a href="../elements/d4c6e089-a19e-4f6e-8c99-c36209364f3d.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/992bbd31-9b6a-4185-96a4-2f9aba857ac1.html" target="element"> Betrieb </a> </td>
																		<td> <a href="../elements/a5c79d04-c69c-4725-8ae1-1a8c4f42da0f.html" target="element"> Betriebsstrategie </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/1e13ce04-9771-4ae0-b60f-960f81070648.html" target="element">  </a> </td>
																		<td> <a href="../elements/1e13ce04-9771-4ae0-b60f-960f81070648.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/992bbd31-9b6a-4185-96a4-2f9aba857ac1.html" target="element"> Betrieb </a> </td>
																		<td> <a href="../elements/6b8f4302-4d0c-4198-984c-3fceea6b29ca.html" target="element"> Anforderungen an die betriebsunterst&#252;tzenden Systeme </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/50005547-56fe-4c82-ab62-66d485e6d574.html" target="element">  </a> </td>
																		<td> <a href="../elements/50005547-56fe-4c82-ab62-66d485e6d574.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/992bbd31-9b6a-4185-96a4-2f9aba857ac1.html" target="element"> Betrieb </a> </td>
																		<td> <a href="../elements/b727070e-8310-4c55-a6b1-6f27809a0f93.html" target="element"> betriebsbedingte Einschr&#228;nkungen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d37852f1-7d54-4656-be9b-456a04290fc2.html" target="element">  </a> </td>
																		<td> <a href="../elements/d37852f1-7d54-4656-be9b-456a04290fc2.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/992bbd31-9b6a-4185-96a4-2f9aba857ac1.html" target="element"> Betrieb </a> </td>
																		<td> <a href="../elements/e3948655-b140-409e-ae79-bafb235f620c.html" target="element"> Betriebsbericht </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8e6686f8-7175-4cdb-b3cb-aa55e04dab59.html" target="element">  </a> </td>
																		<td> <a href="../elements/8e6686f8-7175-4cdb-b3cb-aa55e04dab59.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/992bbd31-9b6a-4185-96a4-2f9aba857ac1.html" target="element"> Betrieb </a> </td>
																		<td> <a href="../elements/20efbdce-14b8-49b0-9629-e78959697e7a.html" target="element"> Betriebsprotokoll </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/fca6dd47-88df-4729-8e05-24669c59f3c1.html" target="element">  </a> </td>
																		<td> <a href="../elements/fca6dd47-88df-4729-8e05-24669c59f3c1.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/992bbd31-9b6a-4185-96a4-2f9aba857ac1.html" target="element"> Betrieb </a> </td>
																		<td> <a href="../elements/0764fd2e-e469-4b6d-8d9d-8919900ab2ab.html" target="element"> Vorbereiten des Betriebs </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/08469044-d5b8-4ae2-a902-43466b4299d6.html" target="element">  </a> </td>
																		<td> <a href="../elements/08469044-d5b8-4ae2-a902-43466b4299d6.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/992bbd31-9b6a-4185-96a4-2f9aba857ac1.html" target="element"> Betrieb </a> </td>
																		<td> <a href="../elements/54306410-bc43-43a4-82b8-7f9b332abfa3.html" target="element"> Unterst&#252;tzen des Kunden </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3e300711-e97d-40df-a192-6ab748f15288.html" target="element">  </a> </td>
																		<td> <a href="../elements/3e300711-e97d-40df-a192-6ab748f15288.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/992bbd31-9b6a-4185-96a4-2f9aba857ac1.html" target="element"> Betrieb </a> </td>
																		<td> <a href="../elements/457d14be-dfdf-4570-8f54-c43d2c806e90.html" target="element"> Durchf&#252;hren des Betriebs </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/bd5a3831-3e98-47b3-bf54-9fa6f5afffe1.html" target="element">  </a> </td>
																		<td> <a href="../elements/bd5a3831-3e98-47b3-bf54-9fa6f5afffe1.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/992bbd31-9b6a-4185-96a4-2f9aba857ac1.html" target="element"> Betrieb </a> </td>
																		<td> <a href="../elements/bf0bb9e9-9cf5-47b3-91a9-35ffdcb1e989.html" target="element"> Verwalten der Betriebsergebnisse </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>