<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>01-01 Geschäfts- oder Auftragsanalyse</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>01-01 Gesch&#228;fts- oder Auftragsanalyse</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/1a9b26e1-9dae-425c-b5f4-5141609ba2c9.png" alt="01-01 Geschäfts- oder Auftragsanalyse" usemap="#1a9b26e1-9dae-425c-b5f4-5141609ba2c9map"/>
			   <map name="1a9b26e1-9dae-425c-b5f4-5141609ba2c9map">
				  		<area shape="rect" coords="604,632,803,687" href="../elements/dc79d9f2-b1ed-4277-9ec6-f0048c4c3921.html"  target="element">
				  		<area shape="rect" coords="604,560,803,615" href="../elements/69a3f176-8d8e-4582-9e77-4a64812d5ec3.html"  target="element">
				  		<area shape="rect" coords="604,500,803,555" href="../elements/9e1e1d8d-846b-4752-b0fa-d48b7ab56ce0.html"  target="element">
				  		<area shape="rect" coords="604,440,803,495" href="../elements/af0d6bc8-3445-4910-8b6c-7cb4fc988a29.html"  target="element">
				  		<area shape="rect" coords="604,380,803,435" href="../elements/f0672845-f672-4bae-80c0-f709a1eae564.html"  target="element">
				  		<area shape="rect" coords="604,320,803,375" href="../elements/ac4c14b4-361c-4100-a2f6-52d22195ae8d.html"  target="element">
				  		<area shape="rect" coords="604,260,803,315" href="../elements/13069d0f-ac8f-4933-a9a5-00bed405832d.html"  target="element">
				  		<area shape="rect" coords="604,194,803,249" href="../elements/ae9e97db-6908-46ee-8bde-facbabbfcb40.html"  target="element">
				  		<area shape="rect" coords="604,131,803,186" href="../elements/c6af653a-cd59-4bd5-967d-0f788c23a91b.html"  target="element">
				  		<area shape="rect" coords="604,68,803,123" href="../elements/cbaae451-a92e-4a0f-8983-dc3972b0977d.html"  target="element">
				  		<area shape="rect" coords="604,10,803,65" href="../elements/e5d881ec-b634-4ef2-b89e-37227a395bf0.html"  target="element">
				  		<area shape="rect" coords="10,320,209,375" href="../elements/36d4a899-bde6-4e37-8fa6-79df485d155c.html"  target="element">
				  		<area shape="rect" coords="10,260,209,315" href="../elements/c0e1d3e2-e427-4617-bfb8-7960e6d676dd.html"  target="element">
				  		<area shape="rect" coords="10,200,209,255" href="../elements/dc9bf07b-fc5f-4926-acae-ed53f0264ded.html"  target="element">
				  		<area shape="rect" coords="10,140,209,195" href="../elements/08bc4610-9cf0-47bf-a527-c774eb516a9c.html"  target="element">
				  		<area shape="rect" coords="10,77,209,132" href="../elements/ab33d3d2-038d-4226-bbeb-b2e920743d9f.html"  target="element">
				  		<area shape="rect" coords="10,10,209,65" href="../elements/e22f055a-9433-4ee7-ae89-ecf17e132e79.html"  target="element">
				  				<area shape="rect" coords="316,46,521,101" href="../elements/8b5c7aa1-8e75-4ed7-9bbf-3ea14e65ea23.html"  target="element">
				  				<area shape="rect" coords="316,106,521,161" href="../elements/6b072860-6ec8-434f-b602-abaf37bf44a3.html"  target="element">
				  				<area shape="rect" coords="316,166,521,221" href="../elements/e0223b91-fefe-42a2-a551-f1e501a63512.html"  target="element">
				  				<area shape="rect" coords="316,226,521,281" href="../elements/e9e458be-eab7-4a55-888d-b0de5fdef740.html"  target="element">
				  				<area shape="rect" coords="316,286,521,341" href="../elements/b6d9f173-3056-44d2-ba0e-828ac87e9698.html"  target="element">

				  		<area shape="rect" coords="292,10,545,615" href="../elements/7747cee8-f983-4c1f-a0ee-fd35ab346e5d.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/7747cee8-f983-4c1f-a0ee-fd35ab346e5d.html" target="element"> Gesch&#228;fts- oder Auftragsanalyse </a> </td>
											    <td> <a href="../elements/7747cee8-f983-4c1f-a0ee-fd35ab346e5d.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/b6d9f173-3056-44d2-ba0e-828ac87e9698.html" target="element"> Verwalten der Ergebnisse aus der Gesch&#228;fts- oder Auftragsanalyse </a> </td>
													    <td> <a href="../elements/b6d9f173-3056-44d2-ba0e-828ac87e9698.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/e9e458be-eab7-4a55-888d-b0de5fdef740.html" target="element"> bewerten alternativer L&#246;sungsvarianten </a> </td>
													    <td> <a href="../elements/e9e458be-eab7-4a55-888d-b0de5fdef740.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/e0223b91-fefe-42a2-a551-f1e501a63512.html" target="element"> Abstecken des L&#246;sungsraums </a> </td>
													    <td> <a href="../elements/e0223b91-fefe-42a2-a551-f1e501a63512.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/6b072860-6ec8-434f-b602-abaf37bf44a3.html" target="element"> Abstecken des Problem- oder des Chancenraums </a> </td>
													    <td> <a href="../elements/6b072860-6ec8-434f-b602-abaf37bf44a3.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/8b5c7aa1-8e75-4ed7-9bbf-3ea14e65ea23.html" target="element"> Vorbereiten der Gesch&#228;fts- oder Auftragsanalyse </a> </td>
													    <td> <a href="../elements/8b5c7aa1-8e75-4ed7-9bbf-3ea14e65ea23.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/e22f055a-9433-4ee7-ae89-ecf17e132e79.html" target="element"> Strategieplan der Organisation </a> </td>
											    <td> <a href="../elements/e22f055a-9433-4ee7-ae89-ecf17e132e79.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ab33d3d2-038d-4226-bbeb-b2e920743d9f.html" target="element"> Vorgehenskonzept (ConOps) </a> </td>
											    <td> <a href="../elements/ab33d3d2-038d-4226-bbeb-b2e920743d9f.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/08bc4610-9cf0-47bf-a527-c774eb516a9c.html" target="element"> Quelldokumente </a> </td>
											    <td> <a href="../elements/08bc4610-9cf0-47bf-a527-c774eb516a9c.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/dc9bf07b-fc5f-4926-acae-ed53f0264ded.html" target="element"> Lebenszyklusbedingte Einschr&#228;nkungen (???) </a> </td>
											    <td> <a href="../elements/dc9bf07b-fc5f-4926-acae-ed53f0264ded.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c0e1d3e2-e427-4617-bfb8-7960e6d676dd.html" target="element"> projektbedingte Einschr&#228;nkungen </a> </td>
											    <td> <a href="../elements/c0e1d3e2-e427-4617-bfb8-7960e6d676dd.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/36d4a899-bde6-4e37-8fa6-79df485d155c.html" target="element"> R&#252;ckverfolgbarkeit der Stakeholder-Anforderungen </a> </td>
											    <td> <a href="../elements/36d4a899-bde6-4e37-8fa6-79df485d155c.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e5d881ec-b634-4ef2-b89e-37227a395bf0.html" target="element"> Strategie der Gesch&#228;fts- oder Auftragsanalyse </a> </td>
											    <td> <a href="../elements/e5d881ec-b634-4ef2-b89e-37227a395bf0.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/cbaae451-a92e-4a0f-8983-dc3972b0977d.html" target="element"> Identifikation der Haupt-Stakeholder </a> </td>
											    <td> <a href="../elements/cbaae451-a92e-4a0f-8983-dc3972b0977d.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c6af653a-cd59-4bd5-967d-0f788c23a91b.html" target="element"> vorl&#228;ufige Lebenszykluskonzepte </a> </td>
											    <td> <a href="../elements/c6af653a-cd59-4bd5-967d-0f788c23a91b.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ae9e97db-6908-46ee-8bde-facbabbfcb40.html" target="element"> Problem- oder Chancenfeststellung </a> </td>
											    <td> <a href="../elements/ae9e97db-6908-46ee-8bde-facbabbfcb40.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/13069d0f-ac8f-4933-a9a5-00bed405832d.html" target="element"> Gesch&#228;ftsanforderungen </a> </td>
											    <td> <a href="../elements/13069d0f-ac8f-4933-a9a5-00bed405832d.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ac4c14b4-361c-4100-a2f6-52d22195ae8d.html" target="element"> alternative L&#246;sungsrahmen </a> </td>
											    <td> <a href="../elements/ac4c14b4-361c-4100-a2f6-52d22195ae8d.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f0672845-f672-4bae-80c0-f709a1eae564.html" target="element"> vorl&#228;ufige Velidierungskriterien </a> </td>
											    <td> <a href="../elements/f0672845-f672-4bae-80c0-f709a1eae564.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/af0d6bc8-3445-4910-8b6c-7cb4fc988a29.html" target="element"> Bedarf an vorl&#228;ufigen Wirksamkeitsmessungen </a> </td>
											    <td> <a href="../elements/af0d6bc8-3445-4910-8b6c-7cb4fc988a29.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9e1e1d8d-846b-4752-b0fa-d48b7ab56ce0.html" target="element"> vorl&#228;ufige Wirksamkeitsmessdaten </a> </td>
											    <td> <a href="../elements/9e1e1d8d-846b-4752-b0fa-d48b7ab56ce0.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/69a3f176-8d8e-4582-9e77-4a64812d5ec3.html" target="element"> R&#252;ckverfolgbarkeit der Gesch&#228;ftsanforderungen </a> </td>
											    <td> <a href="../elements/69a3f176-8d8e-4582-9e77-4a64812d5ec3.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/dc79d9f2-b1ed-4277-9ec6-f0048c4c3921.html" target="element"> Protokoll der Gesch&#228;fts- oder Auftragsanalyse </a> </td>
											    <td> <a href="../elements/dc79d9f2-b1ed-4277-9ec6-f0048c4c3921.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/065e8c70-f1d5-4289-9569-80c56298da61.html" target="element">  </a> </td>
																		<td> <a href="../elements/065e8c70-f1d5-4289-9569-80c56298da61.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/7747cee8-f983-4c1f-a0ee-fd35ab346e5d.html" target="element"> Gesch&#228;fts- oder Auftragsanalyse </a> </td>
																		<td> <a href="../elements/b6d9f173-3056-44d2-ba0e-828ac87e9698.html" target="element"> Verwalten der Ergebnisse aus der Gesch&#228;fts- oder Auftragsanalyse </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a54665d6-ab65-4193-8bd1-072effda7b59.html" target="element">  </a> </td>
																		<td> <a href="../elements/a54665d6-ab65-4193-8bd1-072effda7b59.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/7747cee8-f983-4c1f-a0ee-fd35ab346e5d.html" target="element"> Gesch&#228;fts- oder Auftragsanalyse </a> </td>
																		<td> <a href="../elements/e9e458be-eab7-4a55-888d-b0de5fdef740.html" target="element"> bewerten alternativer L&#246;sungsvarianten </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e2d48da7-c33e-40ae-8d27-0ad714b40b05.html" target="element">  </a> </td>
																		<td> <a href="../elements/e2d48da7-c33e-40ae-8d27-0ad714b40b05.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/7747cee8-f983-4c1f-a0ee-fd35ab346e5d.html" target="element"> Gesch&#228;fts- oder Auftragsanalyse </a> </td>
																		<td> <a href="../elements/e0223b91-fefe-42a2-a551-f1e501a63512.html" target="element"> Abstecken des L&#246;sungsraums </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d9604012-9d77-4b6e-84d4-bd279cb2d250.html" target="element">  </a> </td>
																		<td> <a href="../elements/d9604012-9d77-4b6e-84d4-bd279cb2d250.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/7747cee8-f983-4c1f-a0ee-fd35ab346e5d.html" target="element"> Gesch&#228;fts- oder Auftragsanalyse </a> </td>
																		<td> <a href="../elements/6b072860-6ec8-434f-b602-abaf37bf44a3.html" target="element"> Abstecken des Problem- oder des Chancenraums </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/754757d9-85d5-47db-984c-ec42ddb8b225.html" target="element">  </a> </td>
																		<td> <a href="../elements/754757d9-85d5-47db-984c-ec42ddb8b225.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/7747cee8-f983-4c1f-a0ee-fd35ab346e5d.html" target="element"> Gesch&#228;fts- oder Auftragsanalyse </a> </td>
																		<td> <a href="../elements/8b5c7aa1-8e75-4ed7-9bbf-3ea14e65ea23.html" target="element"> Vorbereiten der Gesch&#228;fts- oder Auftragsanalyse </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8734d354-4a79-4494-a53f-5c8b528dc600.html" target="element">  </a> </td>
																		<td> <a href="../elements/8734d354-4a79-4494-a53f-5c8b528dc600.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/7747cee8-f983-4c1f-a0ee-fd35ab346e5d.html" target="element"> Gesch&#228;fts- oder Auftragsanalyse </a> </td>
																		<td> <a href="../elements/e22f055a-9433-4ee7-ae89-ecf17e132e79.html" target="element"> Strategieplan der Organisation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7c028fbf-7f33-443b-bb7c-74382765354a.html" target="element">  </a> </td>
																		<td> <a href="../elements/7c028fbf-7f33-443b-bb7c-74382765354a.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/7747cee8-f983-4c1f-a0ee-fd35ab346e5d.html" target="element"> Gesch&#228;fts- oder Auftragsanalyse </a> </td>
																		<td> <a href="../elements/ab33d3d2-038d-4226-bbeb-b2e920743d9f.html" target="element"> Vorgehenskonzept (ConOps) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d296afad-60cc-4c2a-b266-309401845949.html" target="element">  </a> </td>
																		<td> <a href="../elements/d296afad-60cc-4c2a-b266-309401845949.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/7747cee8-f983-4c1f-a0ee-fd35ab346e5d.html" target="element"> Gesch&#228;fts- oder Auftragsanalyse </a> </td>
																		<td> <a href="../elements/08bc4610-9cf0-47bf-a527-c774eb516a9c.html" target="element"> Quelldokumente </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a41f0f93-adf7-482e-b997-6162b48e5282.html" target="element">  </a> </td>
																		<td> <a href="../elements/a41f0f93-adf7-482e-b997-6162b48e5282.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/7747cee8-f983-4c1f-a0ee-fd35ab346e5d.html" target="element"> Gesch&#228;fts- oder Auftragsanalyse </a> </td>
																		<td> <a href="../elements/dc9bf07b-fc5f-4926-acae-ed53f0264ded.html" target="element"> Lebenszyklusbedingte Einschr&#228;nkungen (???) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/206e0c0c-20f6-44f0-b28e-9317c29fc749.html" target="element">  </a> </td>
																		<td> <a href="../elements/206e0c0c-20f6-44f0-b28e-9317c29fc749.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/7747cee8-f983-4c1f-a0ee-fd35ab346e5d.html" target="element"> Gesch&#228;fts- oder Auftragsanalyse </a> </td>
																		<td> <a href="../elements/c0e1d3e2-e427-4617-bfb8-7960e6d676dd.html" target="element"> projektbedingte Einschr&#228;nkungen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/80dd63e4-2696-41d7-8d66-eca48ac172c7.html" target="element">  </a> </td>
																		<td> <a href="../elements/80dd63e4-2696-41d7-8d66-eca48ac172c7.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/7747cee8-f983-4c1f-a0ee-fd35ab346e5d.html" target="element"> Gesch&#228;fts- oder Auftragsanalyse </a> </td>
																		<td> <a href="../elements/36d4a899-bde6-4e37-8fa6-79df485d155c.html" target="element"> R&#252;ckverfolgbarkeit der Stakeholder-Anforderungen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0e9c0075-bd46-4307-bc24-8cff421d5b76.html" target="element">  </a> </td>
																		<td> <a href="../elements/0e9c0075-bd46-4307-bc24-8cff421d5b76.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/7747cee8-f983-4c1f-a0ee-fd35ab346e5d.html" target="element"> Gesch&#228;fts- oder Auftragsanalyse </a> </td>
																		<td> <a href="../elements/e5d881ec-b634-4ef2-b89e-37227a395bf0.html" target="element"> Strategie der Gesch&#228;fts- oder Auftragsanalyse </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/831ab8c4-df0a-46a2-abae-709c4118a547.html" target="element">  </a> </td>
																		<td> <a href="../elements/831ab8c4-df0a-46a2-abae-709c4118a547.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/7747cee8-f983-4c1f-a0ee-fd35ab346e5d.html" target="element"> Gesch&#228;fts- oder Auftragsanalyse </a> </td>
																		<td> <a href="../elements/cbaae451-a92e-4a0f-8983-dc3972b0977d.html" target="element"> Identifikation der Haupt-Stakeholder </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b6267e56-8004-44cc-8e58-4249881df115.html" target="element">  </a> </td>
																		<td> <a href="../elements/b6267e56-8004-44cc-8e58-4249881df115.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/7747cee8-f983-4c1f-a0ee-fd35ab346e5d.html" target="element"> Gesch&#228;fts- oder Auftragsanalyse </a> </td>
																		<td> <a href="../elements/c6af653a-cd59-4bd5-967d-0f788c23a91b.html" target="element"> vorl&#228;ufige Lebenszykluskonzepte </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/050e4fd5-9631-4bbc-ab9b-b858f2dfd328.html" target="element">  </a> </td>
																		<td> <a href="../elements/050e4fd5-9631-4bbc-ab9b-b858f2dfd328.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/7747cee8-f983-4c1f-a0ee-fd35ab346e5d.html" target="element"> Gesch&#228;fts- oder Auftragsanalyse </a> </td>
																		<td> <a href="../elements/ae9e97db-6908-46ee-8bde-facbabbfcb40.html" target="element"> Problem- oder Chancenfeststellung </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/1ccaaf34-56aa-4b4b-89db-6aa042c57ea9.html" target="element">  </a> </td>
																		<td> <a href="../elements/1ccaaf34-56aa-4b4b-89db-6aa042c57ea9.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/7747cee8-f983-4c1f-a0ee-fd35ab346e5d.html" target="element"> Gesch&#228;fts- oder Auftragsanalyse </a> </td>
																		<td> <a href="../elements/13069d0f-ac8f-4933-a9a5-00bed405832d.html" target="element"> Gesch&#228;ftsanforderungen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6b30c146-0c20-4853-8659-68338f0d9aff.html" target="element">  </a> </td>
																		<td> <a href="../elements/6b30c146-0c20-4853-8659-68338f0d9aff.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/7747cee8-f983-4c1f-a0ee-fd35ab346e5d.html" target="element"> Gesch&#228;fts- oder Auftragsanalyse </a> </td>
																		<td> <a href="../elements/ac4c14b4-361c-4100-a2f6-52d22195ae8d.html" target="element"> alternative L&#246;sungsrahmen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/5c158de5-fe45-42a3-a42b-a9bf48593dcf.html" target="element">  </a> </td>
																		<td> <a href="../elements/5c158de5-fe45-42a3-a42b-a9bf48593dcf.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/7747cee8-f983-4c1f-a0ee-fd35ab346e5d.html" target="element"> Gesch&#228;fts- oder Auftragsanalyse </a> </td>
																		<td> <a href="../elements/f0672845-f672-4bae-80c0-f709a1eae564.html" target="element"> vorl&#228;ufige Velidierungskriterien </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/40aef9ba-3100-412b-ad6f-19eae351d2c7.html" target="element">  </a> </td>
																		<td> <a href="../elements/40aef9ba-3100-412b-ad6f-19eae351d2c7.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/7747cee8-f983-4c1f-a0ee-fd35ab346e5d.html" target="element"> Gesch&#228;fts- oder Auftragsanalyse </a> </td>
																		<td> <a href="../elements/af0d6bc8-3445-4910-8b6c-7cb4fc988a29.html" target="element"> Bedarf an vorl&#228;ufigen Wirksamkeitsmessungen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c25f82e9-438d-46bd-ab49-a263caf5d875.html" target="element">  </a> </td>
																		<td> <a href="../elements/c25f82e9-438d-46bd-ab49-a263caf5d875.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/7747cee8-f983-4c1f-a0ee-fd35ab346e5d.html" target="element"> Gesch&#228;fts- oder Auftragsanalyse </a> </td>
																		<td> <a href="../elements/9e1e1d8d-846b-4752-b0fa-d48b7ab56ce0.html" target="element"> vorl&#228;ufige Wirksamkeitsmessdaten </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/446eb0c6-219c-4eb9-8ac6-de5c7e804f7d.html" target="element">  </a> </td>
																		<td> <a href="../elements/446eb0c6-219c-4eb9-8ac6-de5c7e804f7d.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/7747cee8-f983-4c1f-a0ee-fd35ab346e5d.html" target="element"> Gesch&#228;fts- oder Auftragsanalyse </a> </td>
																		<td> <a href="../elements/69a3f176-8d8e-4582-9e77-4a64812d5ec3.html" target="element"> R&#252;ckverfolgbarkeit der Gesch&#228;ftsanforderungen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/cf01ec6f-20af-417b-bbb6-0cdd6b5a8c79.html" target="element">  </a> </td>
																		<td> <a href="../elements/cf01ec6f-20af-417b-bbb6-0cdd6b5a8c79.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/7747cee8-f983-4c1f-a0ee-fd35ab346e5d.html" target="element"> Gesch&#228;fts- oder Auftragsanalyse </a> </td>
																		<td> <a href="../elements/dc79d9f2-b1ed-4277-9ec6-f0048c4c3921.html" target="element"> Protokoll der Gesch&#228;fts- oder Auftragsanalyse </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>