<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>02-08 Qualitätssicherung</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>02-08 Qualit&#228;tssicherung</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/1c73cd86-4053-422a-89e4-d7f7b94e1bf5.png" alt="02-08 Qualitätssicherung" usemap="#1c73cd86-4053-422a-89e4-d7f7b94e1bf5map"/>
			   <map name="1c73cd86-4053-422a-89e4-d7f7b94e1bf5map">
				  		<area shape="rect" coords="598,190,791,245" href="../elements/30db0cdb-b722-4043-8ad0-49ceb40dc50c.html"  target="element">
				  		<area shape="rect" coords="598,130,791,185" href="../elements/22819028-9f55-4c59-af1c-43a9307b2bdb.html"  target="element">
				  		<area shape="rect" coords="598,70,791,125" href="../elements/84e97d09-ad79-43a3-bd1f-15b0ef8ca032.html"  target="element">
				  		<area shape="rect" coords="598,10,791,65" href="../elements/ffbf9e81-7d99-4cb7-9bb7-a0f3f016d5ef.html"  target="element">
				  		<area shape="rect" coords="10,190,203,245" href="../elements/556efe37-961e-4bb2-aacc-5e3cffc946dd.html"  target="element">
				  		<area shape="rect" coords="10,130,203,185" href="../elements/ebd0e90c-ec92-4125-a1ac-3f1b8cd278d7.html"  target="element">
				  		<area shape="rect" coords="10,70,203,125" href="../elements/16119af6-d790-4d4a-a461-db9ee60ec2c5.html"  target="element">
				  		<area shape="rect" coords="10,10,203,65" href="../elements/866fef9b-4d82-4c78-b499-02dc132acc56.html"  target="element">
				  				<area shape="rect" coords="298,286,503,341" href="../elements/01b77e2e-1050-4a30-b756-4f5e154ebf74.html"  target="element">
				  				<area shape="rect" coords="298,166,503,221" href="../elements/8e56b02a-3a02-4b7b-8779-d91ddbfe5476.html"  target="element">
				  				<area shape="rect" coords="298,46,503,101" href="../elements/32a0644c-ea0f-4d6a-8336-eeab662d7a60.html"  target="element">
				  				<area shape="rect" coords="298,226,503,281" href="../elements/5317a75a-9c30-4ab6-a081-82032c592cfb.html"  target="element">
				  				<area shape="rect" coords="298,106,503,161" href="../elements/1f01526c-a675-427d-8574-38e48f287ea4.html"  target="element">

				  		<area shape="rect" coords="262,10,539,371" href="../elements/83d72c0b-f74b-4619-9684-cf9cd7aad05d.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/83d72c0b-f74b-4619-9684-cf9cd7aad05d.html" target="element"> Qualit&#228;tssicherung </a> </td>
											    <td> <a href="../elements/83d72c0b-f74b-4619-9684-cf9cd7aad05d.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/1f01526c-a675-427d-8574-38e48f287ea4.html" target="element"> Durchf&#252;hren von Bewertungen der Produkte oder Dienstleistungen </a> </td>
													    <td> <a href="../elements/1f01526c-a675-427d-8574-38e48f287ea4.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/5317a75a-9c30-4ab6-a081-82032c592cfb.html" target="element"> Verwalten der QS-Protokolle und -Berichte </a> </td>
													    <td> <a href="../elements/5317a75a-9c30-4ab6-a081-82032c592cfb.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/32a0644c-ea0f-4d6a-8336-eeab662d7a60.html" target="element"> Planen der Qualit&#228;tssicherung </a> </td>
													    <td> <a href="../elements/32a0644c-ea0f-4d6a-8336-eeab662d7a60.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/8e56b02a-3a02-4b7b-8779-d91ddbfe5476.html" target="element"> Durchf&#252;hren von Prozessbewertungen </a> </td>
													    <td> <a href="../elements/8e56b02a-3a02-4b7b-8779-d91ddbfe5476.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/01b77e2e-1050-4a30-b756-4f5e154ebf74.html" target="element"> St&#246;rungen und Probleme behandeln </a> </td>
													    <td> <a href="../elements/01b77e2e-1050-4a30-b756-4f5e154ebf74.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/866fef9b-4d82-4c78-b499-02dc132acc56.html" target="element"> Qualit&#228;tsmanagementrichtlinien </a> </td>
											    <td> <a href="../elements/866fef9b-4d82-4c78-b499-02dc132acc56.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/16119af6-d790-4d4a-a461-db9ee60ec2c5.html" target="element"> Qualit&#228;tsmanagementplan </a> </td>
											    <td> <a href="../elements/16119af6-d790-4d4a-a461-db9ee60ec2c5.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ebd0e90c-ec92-4125-a1ac-3f1b8cd278d7.html" target="element"> Qualit&#228;tsmanagementbericht </a> </td>
											    <td> <a href="../elements/ebd0e90c-ec92-4125-a1ac-3f1b8cd278d7.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/556efe37-961e-4bb2-aacc-5e3cffc946dd.html" target="element"> QM Korrekturma&#223;nahmen </a> </td>
											    <td> <a href="../elements/556efe37-961e-4bb2-aacc-5e3cffc946dd.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ffbf9e81-7d99-4cb7-9bb7-a0f3f016d5ef.html" target="element"> Qualit&#228;tssicherungsplan </a> </td>
											    <td> <a href="../elements/ffbf9e81-7d99-4cb7-9bb7-a0f3f016d5ef.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/84e97d09-ad79-43a3-bd1f-15b0ef8ca032.html" target="element"> Qualit&#228;tssicherungsbericht </a> </td>
											    <td> <a href="../elements/84e97d09-ad79-43a3-bd1f-15b0ef8ca032.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/22819028-9f55-4c59-af1c-43a9307b2bdb.html" target="element"> Auswertungsbericht der Qualit&#228;tssicherung </a> </td>
											    <td> <a href="../elements/22819028-9f55-4c59-af1c-43a9307b2bdb.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/30db0cdb-b722-4043-8ad0-49ceb40dc50c.html" target="element"> Qualit&#228;tssicherungsprotokoll </a> </td>
											    <td> <a href="../elements/30db0cdb-b722-4043-8ad0-49ceb40dc50c.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/41085a85-13b5-4fe1-ac02-760cbb653736.html" target="element">  </a> </td>
																		<td> <a href="../elements/41085a85-13b5-4fe1-ac02-760cbb653736.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/83d72c0b-f74b-4619-9684-cf9cd7aad05d.html" target="element"> Qualit&#228;tssicherung </a> </td>
																		<td> <a href="../elements/1f01526c-a675-427d-8574-38e48f287ea4.html" target="element"> Durchf&#252;hren von Bewertungen der Produkte oder Dienstleistungen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/371ee03d-9e58-46cb-8986-a2785cf45c9d.html" target="element">  </a> </td>
																		<td> <a href="../elements/371ee03d-9e58-46cb-8986-a2785cf45c9d.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/83d72c0b-f74b-4619-9684-cf9cd7aad05d.html" target="element"> Qualit&#228;tssicherung </a> </td>
																		<td> <a href="../elements/5317a75a-9c30-4ab6-a081-82032c592cfb.html" target="element"> Verwalten der QS-Protokolle und -Berichte </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9b7e61c0-f766-4704-8ecb-d87195f82736.html" target="element">  </a> </td>
																		<td> <a href="../elements/9b7e61c0-f766-4704-8ecb-d87195f82736.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/83d72c0b-f74b-4619-9684-cf9cd7aad05d.html" target="element"> Qualit&#228;tssicherung </a> </td>
																		<td> <a href="../elements/32a0644c-ea0f-4d6a-8336-eeab662d7a60.html" target="element"> Planen der Qualit&#228;tssicherung </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/508bcb9e-5ee1-4a74-b68b-7263dd90734a.html" target="element">  </a> </td>
																		<td> <a href="../elements/508bcb9e-5ee1-4a74-b68b-7263dd90734a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/83d72c0b-f74b-4619-9684-cf9cd7aad05d.html" target="element"> Qualit&#228;tssicherung </a> </td>
																		<td> <a href="../elements/8e56b02a-3a02-4b7b-8779-d91ddbfe5476.html" target="element"> Durchf&#252;hren von Prozessbewertungen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0928705a-bb3e-456f-8374-8f66edd285df.html" target="element">  </a> </td>
																		<td> <a href="../elements/0928705a-bb3e-456f-8374-8f66edd285df.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/83d72c0b-f74b-4619-9684-cf9cd7aad05d.html" target="element"> Qualit&#228;tssicherung </a> </td>
																		<td> <a href="../elements/01b77e2e-1050-4a30-b756-4f5e154ebf74.html" target="element"> St&#246;rungen und Probleme behandeln </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/fd8a7614-3510-4c38-9bc2-f09071e019b3.html" target="element">  </a> </td>
																		<td> <a href="../elements/fd8a7614-3510-4c38-9bc2-f09071e019b3.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/83d72c0b-f74b-4619-9684-cf9cd7aad05d.html" target="element"> Qualit&#228;tssicherung </a> </td>
																		<td> <a href="../elements/866fef9b-4d82-4c78-b499-02dc132acc56.html" target="element"> Qualit&#228;tsmanagementrichtlinien </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f1765707-200e-44f9-b949-7d0d621dcae6.html" target="element">  </a> </td>
																		<td> <a href="../elements/f1765707-200e-44f9-b949-7d0d621dcae6.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/83d72c0b-f74b-4619-9684-cf9cd7aad05d.html" target="element"> Qualit&#228;tssicherung </a> </td>
																		<td> <a href="../elements/16119af6-d790-4d4a-a461-db9ee60ec2c5.html" target="element"> Qualit&#228;tsmanagementplan </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2fd6c254-0cd2-4a4a-9a55-1894b92bd261.html" target="element">  </a> </td>
																		<td> <a href="../elements/2fd6c254-0cd2-4a4a-9a55-1894b92bd261.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/83d72c0b-f74b-4619-9684-cf9cd7aad05d.html" target="element"> Qualit&#228;tssicherung </a> </td>
																		<td> <a href="../elements/ebd0e90c-ec92-4125-a1ac-3f1b8cd278d7.html" target="element"> Qualit&#228;tsmanagementbericht </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9fe16d7b-9a64-490a-9369-a1bac40a75c1.html" target="element">  </a> </td>
																		<td> <a href="../elements/9fe16d7b-9a64-490a-9369-a1bac40a75c1.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/83d72c0b-f74b-4619-9684-cf9cd7aad05d.html" target="element"> Qualit&#228;tssicherung </a> </td>
																		<td> <a href="../elements/556efe37-961e-4bb2-aacc-5e3cffc946dd.html" target="element"> QM Korrekturma&#223;nahmen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9622de12-ca4f-4afe-8b56-36dcfb5dc239.html" target="element">  </a> </td>
																		<td> <a href="../elements/9622de12-ca4f-4afe-8b56-36dcfb5dc239.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/83d72c0b-f74b-4619-9684-cf9cd7aad05d.html" target="element"> Qualit&#228;tssicherung </a> </td>
																		<td> <a href="../elements/ffbf9e81-7d99-4cb7-9bb7-a0f3f016d5ef.html" target="element"> Qualit&#228;tssicherungsplan </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/5aa12bd8-916f-4869-a790-8f0d1428264b.html" target="element">  </a> </td>
																		<td> <a href="../elements/5aa12bd8-916f-4869-a790-8f0d1428264b.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/83d72c0b-f74b-4619-9684-cf9cd7aad05d.html" target="element"> Qualit&#228;tssicherung </a> </td>
																		<td> <a href="../elements/84e97d09-ad79-43a3-bd1f-15b0ef8ca032.html" target="element"> Qualit&#228;tssicherungsbericht </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/830edbb3-904c-4324-9f2f-27c5798862fe.html" target="element">  </a> </td>
																		<td> <a href="../elements/830edbb3-904c-4324-9f2f-27c5798862fe.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/83d72c0b-f74b-4619-9684-cf9cd7aad05d.html" target="element"> Qualit&#228;tssicherung </a> </td>
																		<td> <a href="../elements/22819028-9f55-4c59-af1c-43a9307b2bdb.html" target="element"> Auswertungsbericht der Qualit&#228;tssicherung </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2212ebc2-cceb-4a84-a960-a8617d33f130.html" target="element">  </a> </td>
																		<td> <a href="../elements/2212ebc2-cceb-4a84-a960-a8617d33f130.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/83d72c0b-f74b-4619-9684-cf9cd7aad05d.html" target="element"> Qualit&#228;tssicherung </a> </td>
																		<td> <a href="../elements/30db0cdb-b722-4043-8ad0-49ceb40dc50c.html" target="element"> Qualit&#228;tssicherungsprotokoll </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>