<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>04-05 Qualitätsmanagement</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>04-05 Qualit&#228;tsmanagement</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/2e6aaa1f-7dab-47e5-808c-604092224dbf.png" alt="04-05 Qualitätsmanagement" usemap="#2e6aaa1f-7dab-47e5-808c-604092224dbfmap"/>
			   <map name="2e6aaa1f-7dab-47e5-808c-604092224dbfmap">
				  		<area shape="rect" coords="598,370,791,425" href="../elements/bb4b72cd-cd24-43ea-904e-c01694bc7e86.html"  target="element">
				  		<area shape="rect" coords="598,310,791,365" href="../elements/b9b7530d-7ec8-4ea3-a0eb-c958a5d3e5f4.html"  target="element">
				  		<area shape="rect" coords="598,250,791,305" href="../elements/ebd0e90c-ec92-4125-a1ac-3f1b8cd278d7.html"  target="element">
				  		<area shape="rect" coords="598,190,791,245" href="../elements/556efe37-961e-4bb2-aacc-5e3cffc946dd.html"  target="element">
				  		<area shape="rect" coords="598,130,791,185" href="../elements/866fef9b-4d82-4c78-b499-02dc132acc56.html"  target="element">
				  		<area shape="rect" coords="598,70,791,125" href="../elements/16119af6-d790-4d4a-a461-db9ee60ec2c5.html"  target="element">
				  		<area shape="rect" coords="598,10,791,65" href="../elements/4fb373bf-e08e-4249-9d1f-7def41ad0199.html"  target="element">
				  		<area shape="rect" coords="10,250,203,305" href="../elements/87b33951-5f96-46a6-ba14-9d881f8dbd52.html"  target="element">
				  		<area shape="rect" coords="10,190,203,245" href="../elements/22819028-9f55-4c59-af1c-43a9307b2bdb.html"  target="element">
				  		<area shape="rect" coords="10,130,203,185" href="../elements/84e97d09-ad79-43a3-bd1f-15b0ef8ca032.html"  target="element">
				  		<area shape="rect" coords="10,70,203,125" href="../elements/ffbf9e81-7d99-4cb7-9bb7-a0f3f016d5ef.html"  target="element">
				  				<area shape="rect" coords="298,46,503,101" href="../elements/2b40296a-e4e3-4570-b934-68fdb7ce5d0f.html"  target="element">
				  				<area shape="rect" coords="298,106,503,161" href="../elements/66e1f411-3f50-48a6-9516-7b1b2e39f824.html"  target="element">
				  				<area shape="rect" coords="298,166,503,221" href="../elements/746beea3-560d-4c78-b187-91300cc4d16d.html"  target="element">

				  		<area shape="rect" coords="262,10,539,425" href="../elements/13e0bed5-2e8c-4178-a392-b9b7080c92d6.html"  target="element">
				  		<area shape="rect" coords="10,10,203,65" href="../elements/e22f055a-9433-4ee7-ae89-ecf17e132e79.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/e22f055a-9433-4ee7-ae89-ecf17e132e79.html" target="element"> Strategieplan der Organisation </a> </td>
											    <td> <a href="../elements/e22f055a-9433-4ee7-ae89-ecf17e132e79.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/13e0bed5-2e8c-4178-a392-b9b7080c92d6.html" target="element"> Qualit&#228;tsmanagement </a> </td>
											    <td> <a href="../elements/13e0bed5-2e8c-4178-a392-b9b7080c92d6.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/746beea3-560d-4c78-b187-91300cc4d16d.html" target="element"> Ausf&#252;hren von qualit&#228;tsbezogenen Verbesserungs- und vorbeugenden Ma&#223;nahmen </a> </td>
													    <td> <a href="../elements/746beea3-560d-4c78-b187-91300cc4d16d.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/66e1f411-3f50-48a6-9516-7b1b2e39f824.html" target="element"> Bewerten des Qualit&#228;tsmanagements </a> </td>
													    <td> <a href="../elements/66e1f411-3f50-48a6-9516-7b1b2e39f824.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/2b40296a-e4e3-4570-b934-68fdb7ce5d0f.html" target="element"> Olanen des Qualit&#228;tsmanagements </a> </td>
													    <td> <a href="../elements/2b40296a-e4e3-4570-b934-68fdb7ce5d0f.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/ffbf9e81-7d99-4cb7-9bb7-a0f3f016d5ef.html" target="element"> Qualit&#228;tssicherungsplan </a> </td>
											    <td> <a href="../elements/ffbf9e81-7d99-4cb7-9bb7-a0f3f016d5ef.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/84e97d09-ad79-43a3-bd1f-15b0ef8ca032.html" target="element"> Qualit&#228;tssicherungsbericht </a> </td>
											    <td> <a href="../elements/84e97d09-ad79-43a3-bd1f-15b0ef8ca032.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/22819028-9f55-4c59-af1c-43a9307b2bdb.html" target="element"> Auswertungsbericht der Qualit&#228;tssicherung </a> </td>
											    <td> <a href="../elements/22819028-9f55-4c59-af1c-43a9307b2bdb.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/87b33951-5f96-46a6-ba14-9d881f8dbd52.html" target="element"> R&#252;ckmeldungen zur Kundenzufriedenheit </a> </td>
											    <td> <a href="../elements/87b33951-5f96-46a6-ba14-9d881f8dbd52.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4fb373bf-e08e-4249-9d1f-7def41ad0199.html" target="element"> Ergebnisse (???) </a> </td>
											    <td> <a href="../elements/4fb373bf-e08e-4249-9d1f-7def41ad0199.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/16119af6-d790-4d4a-a461-db9ee60ec2c5.html" target="element"> Qualit&#228;tsmanagementplan </a> </td>
											    <td> <a href="../elements/16119af6-d790-4d4a-a461-db9ee60ec2c5.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/866fef9b-4d82-4c78-b499-02dc132acc56.html" target="element"> Qualit&#228;tsmanagementrichtlinien </a> </td>
											    <td> <a href="../elements/866fef9b-4d82-4c78-b499-02dc132acc56.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/556efe37-961e-4bb2-aacc-5e3cffc946dd.html" target="element"> QM Korrekturma&#223;nahmen </a> </td>
											    <td> <a href="../elements/556efe37-961e-4bb2-aacc-5e3cffc946dd.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ebd0e90c-ec92-4125-a1ac-3f1b8cd278d7.html" target="element"> Qualit&#228;tsmanagementbericht </a> </td>
											    <td> <a href="../elements/ebd0e90c-ec92-4125-a1ac-3f1b8cd278d7.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b9b7530d-7ec8-4ea3-a0eb-c958a5d3e5f4.html" target="element"> Auswertungsbericht des Qualit&#228;tsmanagements </a> </td>
											    <td> <a href="../elements/b9b7530d-7ec8-4ea3-a0eb-c958a5d3e5f4.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/bb4b72cd-cd24-43ea-904e-c01694bc7e86.html" target="element"> Qualit&#228;tsmanagementprotokoll </a> </td>
											    <td> <a href="../elements/bb4b72cd-cd24-43ea-904e-c01694bc7e86.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/be6dd5b4-d73a-4107-95a7-76dd6ead39dc.html" target="element">  </a> </td>
																		<td> <a href="../elements/be6dd5b4-d73a-4107-95a7-76dd6ead39dc.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/13e0bed5-2e8c-4178-a392-b9b7080c92d6.html" target="element"> Qualit&#228;tsmanagement </a> </td>
																		<td> <a href="../elements/746beea3-560d-4c78-b187-91300cc4d16d.html" target="element"> Ausf&#252;hren von qualit&#228;tsbezogenen Verbesserungs- und vorbeugenden Ma&#223;nahmen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f86656f7-f1dd-4a0f-944a-41ecec7361f5.html" target="element">  </a> </td>
																		<td> <a href="../elements/f86656f7-f1dd-4a0f-944a-41ecec7361f5.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/13e0bed5-2e8c-4178-a392-b9b7080c92d6.html" target="element"> Qualit&#228;tsmanagement </a> </td>
																		<td> <a href="../elements/66e1f411-3f50-48a6-9516-7b1b2e39f824.html" target="element"> Bewerten des Qualit&#228;tsmanagements </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0c58b94a-795d-4af4-be6d-250ba909db65.html" target="element">  </a> </td>
																		<td> <a href="../elements/0c58b94a-795d-4af4-be6d-250ba909db65.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/13e0bed5-2e8c-4178-a392-b9b7080c92d6.html" target="element"> Qualit&#228;tsmanagement </a> </td>
																		<td> <a href="../elements/2b40296a-e4e3-4570-b934-68fdb7ce5d0f.html" target="element"> Olanen des Qualit&#228;tsmanagements </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7079fee6-2826-4b46-bf65-38f2c67cc30f.html" target="element">  </a> </td>
																		<td> <a href="../elements/7079fee6-2826-4b46-bf65-38f2c67cc30f.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/13e0bed5-2e8c-4178-a392-b9b7080c92d6.html" target="element"> Qualit&#228;tsmanagement </a> </td>
																		<td> <a href="../elements/e22f055a-9433-4ee7-ae89-ecf17e132e79.html" target="element"> Strategieplan der Organisation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/347f0977-b8dc-4665-beeb-b182ee414db1.html" target="element">  </a> </td>
																		<td> <a href="../elements/347f0977-b8dc-4665-beeb-b182ee414db1.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/13e0bed5-2e8c-4178-a392-b9b7080c92d6.html" target="element"> Qualit&#228;tsmanagement </a> </td>
																		<td> <a href="../elements/ffbf9e81-7d99-4cb7-9bb7-a0f3f016d5ef.html" target="element"> Qualit&#228;tssicherungsplan </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2a0d27f9-80d2-4f50-99e8-497e3e011aad.html" target="element">  </a> </td>
																		<td> <a href="../elements/2a0d27f9-80d2-4f50-99e8-497e3e011aad.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/13e0bed5-2e8c-4178-a392-b9b7080c92d6.html" target="element"> Qualit&#228;tsmanagement </a> </td>
																		<td> <a href="../elements/84e97d09-ad79-43a3-bd1f-15b0ef8ca032.html" target="element"> Qualit&#228;tssicherungsbericht </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/149a3236-aa6a-492b-b764-0a77e98e6155.html" target="element">  </a> </td>
																		<td> <a href="../elements/149a3236-aa6a-492b-b764-0a77e98e6155.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/13e0bed5-2e8c-4178-a392-b9b7080c92d6.html" target="element"> Qualit&#228;tsmanagement </a> </td>
																		<td> <a href="../elements/22819028-9f55-4c59-af1c-43a9307b2bdb.html" target="element"> Auswertungsbericht der Qualit&#228;tssicherung </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/67c4ad8c-4a29-4ba0-8d5b-dfaa2d982f0e.html" target="element">  </a> </td>
																		<td> <a href="../elements/67c4ad8c-4a29-4ba0-8d5b-dfaa2d982f0e.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/13e0bed5-2e8c-4178-a392-b9b7080c92d6.html" target="element"> Qualit&#228;tsmanagement </a> </td>
																		<td> <a href="../elements/87b33951-5f96-46a6-ba14-9d881f8dbd52.html" target="element"> R&#252;ckmeldungen zur Kundenzufriedenheit </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/68ae5108-33d1-4d0f-a040-052b8607b4b8.html" target="element">  </a> </td>
																		<td> <a href="../elements/68ae5108-33d1-4d0f-a040-052b8607b4b8.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/13e0bed5-2e8c-4178-a392-b9b7080c92d6.html" target="element"> Qualit&#228;tsmanagement </a> </td>
																		<td> <a href="../elements/4fb373bf-e08e-4249-9d1f-7def41ad0199.html" target="element"> Ergebnisse (???) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a0566b00-1419-4d1e-9175-c0ec0729a11f.html" target="element">  </a> </td>
																		<td> <a href="../elements/a0566b00-1419-4d1e-9175-c0ec0729a11f.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/13e0bed5-2e8c-4178-a392-b9b7080c92d6.html" target="element"> Qualit&#228;tsmanagement </a> </td>
																		<td> <a href="../elements/16119af6-d790-4d4a-a461-db9ee60ec2c5.html" target="element"> Qualit&#228;tsmanagementplan </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f3273956-13d4-4bdf-a559-6015d660c496.html" target="element">  </a> </td>
																		<td> <a href="../elements/f3273956-13d4-4bdf-a559-6015d660c496.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/13e0bed5-2e8c-4178-a392-b9b7080c92d6.html" target="element"> Qualit&#228;tsmanagement </a> </td>
																		<td> <a href="../elements/866fef9b-4d82-4c78-b499-02dc132acc56.html" target="element"> Qualit&#228;tsmanagementrichtlinien </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/5e1daeb6-801d-4184-a2b8-5c278b7f43df.html" target="element">  </a> </td>
																		<td> <a href="../elements/5e1daeb6-801d-4184-a2b8-5c278b7f43df.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/13e0bed5-2e8c-4178-a392-b9b7080c92d6.html" target="element"> Qualit&#228;tsmanagement </a> </td>
																		<td> <a href="../elements/556efe37-961e-4bb2-aacc-5e3cffc946dd.html" target="element"> QM Korrekturma&#223;nahmen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f94eb174-b7ca-4a24-b0c1-7542f603543f.html" target="element">  </a> </td>
																		<td> <a href="../elements/f94eb174-b7ca-4a24-b0c1-7542f603543f.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/13e0bed5-2e8c-4178-a392-b9b7080c92d6.html" target="element"> Qualit&#228;tsmanagement </a> </td>
																		<td> <a href="../elements/ebd0e90c-ec92-4125-a1ac-3f1b8cd278d7.html" target="element"> Qualit&#228;tsmanagementbericht </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/47b73575-bd25-414e-b1bd-9c92c2dc9389.html" target="element">  </a> </td>
																		<td> <a href="../elements/47b73575-bd25-414e-b1bd-9c92c2dc9389.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/13e0bed5-2e8c-4178-a392-b9b7080c92d6.html" target="element"> Qualit&#228;tsmanagement </a> </td>
																		<td> <a href="../elements/b9b7530d-7ec8-4ea3-a0eb-c958a5d3e5f4.html" target="element"> Auswertungsbericht des Qualit&#228;tsmanagements </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f75bdc05-da03-4a71-913f-a5647345a8ec.html" target="element">  </a> </td>
																		<td> <a href="../elements/f75bdc05-da03-4a71-913f-a5647345a8ec.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/13e0bed5-2e8c-4178-a392-b9b7080c92d6.html" target="element"> Qualit&#228;tsmanagement </a> </td>
																		<td> <a href="../elements/bb4b72cd-cd24-43ea-904e-c01694bc7e86.html" target="element"> Qualit&#228;tsmanagementprotokoll </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>