<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>02-04 Risikomanagement</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>02-04 Risikomanagement</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/4d678a86-6613-4886-9d5c-b715a018da52.png" alt="02-04 Risikomanagement" usemap="#4d678a86-6613-4886-9d5c-b715a018da52map"/>
			   <map name="4d678a86-6613-4886-9d5c-b715a018da52map">
				  		<area shape="rect" coords="598,130,791,185" href="../elements/7b2edd1f-c574-4c6f-91cb-fbef7e39995a.html"  target="element">
				  		<area shape="rect" coords="598,70,791,125" href="../elements/bf301e45-8646-4edb-a137-b7d687ba969c.html"  target="element">
				  		<area shape="rect" coords="598,10,791,65" href="../elements/c61a1a8e-0c39-4890-a97a-7ee7369726fa.html"  target="element">
				  		<area shape="rect" coords="10,10,203,65" href="../elements/b518edaa-3b13-497a-8366-a04ddce25858.html"  target="element">
				  				<area shape="rect" coords="298,106,503,161" href="../elements/e87fe7c8-b199-4bff-a4db-4743991f977b.html"  target="element">
				  				<area shape="rect" coords="298,286,503,341" href="../elements/8163fc24-4f67-4265-acd9-d476aacccb41.html"  target="element">
				  				<area shape="rect" coords="298,166,503,221" href="../elements/166d7165-2cba-42c3-9596-3dcf62089ff1.html"  target="element">
				  				<area shape="rect" coords="298,46,503,101" href="../elements/f71a2fcb-318b-402f-9c95-f812ee9f4677.html"  target="element">
				  				<area shape="rect" coords="298,226,503,281" href="../elements/e6aa30dd-2354-4dc4-83ae-7c5e8bab938c.html"  target="element">

				  		<area shape="rect" coords="262,10,539,359" href="../elements/aa6772e6-4886-4a54-9a91-5ec034fe941d.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/aa6772e6-4886-4a54-9a91-5ec034fe941d.html" target="element"> Risikomanagement </a> </td>
											    <td> <a href="../elements/aa6772e6-4886-4a54-9a91-5ec034fe941d.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/e6aa30dd-2354-4dc4-83ae-7c5e8bab938c.html" target="element"> Behandeln der Risiken </a> </td>
													    <td> <a href="../elements/e6aa30dd-2354-4dc4-83ae-7c5e8bab938c.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/f71a2fcb-318b-402f-9c95-f812ee9f4677.html" target="element"> Planen des Risikomanagements </a> </td>
													    <td> <a href="../elements/f71a2fcb-318b-402f-9c95-f812ee9f4677.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/166d7165-2cba-42c3-9596-3dcf62089ff1.html" target="element"> Analysieren von Risiken </a> </td>
													    <td> <a href="../elements/166d7165-2cba-42c3-9596-3dcf62089ff1.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/8163fc24-4f67-4265-acd9-d476aacccb41.html" target="element"> Beobachten der Risiken </a> </td>
													    <td> <a href="../elements/8163fc24-4f67-4265-acd9-d476aacccb41.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/e87fe7c8-b199-4bff-a4db-4743991f977b.html" target="element"> Verwalten des Risikoprofils </a> </td>
													    <td> <a href="../elements/e87fe7c8-b199-4bff-a4db-4743991f977b.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/b518edaa-3b13-497a-8366-a04ddce25858.html" target="element"> m&#246;gliche Risiken und Chancen </a> </td>
											    <td> <a href="../elements/b518edaa-3b13-497a-8366-a04ddce25858.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c61a1a8e-0c39-4890-a97a-7ee7369726fa.html" target="element"> Risikomanagementstrategie </a> </td>
											    <td> <a href="../elements/c61a1a8e-0c39-4890-a97a-7ee7369726fa.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/bf301e45-8646-4edb-a137-b7d687ba969c.html" target="element"> Risikobericht </a> </td>
											    <td> <a href="../elements/bf301e45-8646-4edb-a137-b7d687ba969c.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7b2edd1f-c574-4c6f-91cb-fbef7e39995a.html" target="element"> Risikoprotokoll </a> </td>
											    <td> <a href="../elements/7b2edd1f-c574-4c6f-91cb-fbef7e39995a.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/5135345e-a0be-43e6-9d11-0f3b5a1281ec.html" target="element">  </a> </td>
																		<td> <a href="../elements/5135345e-a0be-43e6-9d11-0f3b5a1281ec.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/aa6772e6-4886-4a54-9a91-5ec034fe941d.html" target="element"> Risikomanagement </a> </td>
																		<td> <a href="../elements/e6aa30dd-2354-4dc4-83ae-7c5e8bab938c.html" target="element"> Behandeln der Risiken </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6451d84a-725d-4e2e-a051-d81c86a29964.html" target="element">  </a> </td>
																		<td> <a href="../elements/6451d84a-725d-4e2e-a051-d81c86a29964.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/aa6772e6-4886-4a54-9a91-5ec034fe941d.html" target="element"> Risikomanagement </a> </td>
																		<td> <a href="../elements/f71a2fcb-318b-402f-9c95-f812ee9f4677.html" target="element"> Planen des Risikomanagements </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/82004ee9-36ba-4e61-b9d7-88042f815b08.html" target="element">  </a> </td>
																		<td> <a href="../elements/82004ee9-36ba-4e61-b9d7-88042f815b08.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/aa6772e6-4886-4a54-9a91-5ec034fe941d.html" target="element"> Risikomanagement </a> </td>
																		<td> <a href="../elements/166d7165-2cba-42c3-9596-3dcf62089ff1.html" target="element"> Analysieren von Risiken </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6bcf3fd6-5ec1-4dd9-9716-5310e8014e7b.html" target="element">  </a> </td>
																		<td> <a href="../elements/6bcf3fd6-5ec1-4dd9-9716-5310e8014e7b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/aa6772e6-4886-4a54-9a91-5ec034fe941d.html" target="element"> Risikomanagement </a> </td>
																		<td> <a href="../elements/8163fc24-4f67-4265-acd9-d476aacccb41.html" target="element"> Beobachten der Risiken </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9a42d520-b48e-47e8-b64b-e12b2768a4cc.html" target="element">  </a> </td>
																		<td> <a href="../elements/9a42d520-b48e-47e8-b64b-e12b2768a4cc.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/aa6772e6-4886-4a54-9a91-5ec034fe941d.html" target="element"> Risikomanagement </a> </td>
																		<td> <a href="../elements/e87fe7c8-b199-4bff-a4db-4743991f977b.html" target="element"> Verwalten des Risikoprofils </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7820b70d-b169-4699-9d0e-9e3fb77a73cb.html" target="element">  </a> </td>
																		<td> <a href="../elements/7820b70d-b169-4699-9d0e-9e3fb77a73cb.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/aa6772e6-4886-4a54-9a91-5ec034fe941d.html" target="element"> Risikomanagement </a> </td>
																		<td> <a href="../elements/b518edaa-3b13-497a-8366-a04ddce25858.html" target="element"> m&#246;gliche Risiken und Chancen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6af5689e-6590-494e-b2c4-960d14d6f753.html" target="element">  </a> </td>
																		<td> <a href="../elements/6af5689e-6590-494e-b2c4-960d14d6f753.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/aa6772e6-4886-4a54-9a91-5ec034fe941d.html" target="element"> Risikomanagement </a> </td>
																		<td> <a href="../elements/c61a1a8e-0c39-4890-a97a-7ee7369726fa.html" target="element"> Risikomanagementstrategie </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/5dea812f-8066-48ed-87b7-88d676c27e00.html" target="element">  </a> </td>
																		<td> <a href="../elements/5dea812f-8066-48ed-87b7-88d676c27e00.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/aa6772e6-4886-4a54-9a91-5ec034fe941d.html" target="element"> Risikomanagement </a> </td>
																		<td> <a href="../elements/7b2edd1f-c574-4c6f-91cb-fbef7e39995a.html" target="element"> Risikoprotokoll </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a82180ee-37fa-4731-9780-85734790b52b.html" target="element">  </a> </td>
																		<td> <a href="../elements/a82180ee-37fa-4731-9780-85734790b52b.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/aa6772e6-4886-4a54-9a91-5ec034fe941d.html" target="element"> Risikomanagement </a> </td>
																		<td> <a href="../elements/bf301e45-8646-4edb-a137-b7d687ba969c.html" target="element"> Risikobericht </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>