<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>02-07 Messung</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>02-07 Messung</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/7ddd5e6f-bfbb-43ee-8cd3-80e1e58425e0.png" alt="02-07 Messung" usemap="#7ddd5e6f-bfbb-43ee-8cd3-80e1e58425e0map"/>
			   <map name="7ddd5e6f-bfbb-43ee-8cd3-80e1e58425e0map">
				  		<area shape="rect" coords="598,190,791,245" href="../elements/9b26bb44-5b46-4890-9d86-30fa22bdb03c.html"  target="element">
				  		<area shape="rect" coords="598,130,791,185" href="../elements/75fc9cd9-d84b-4606-a0e4-24e338efb490.html"  target="element">
				  		<area shape="rect" coords="598,70,791,125" href="../elements/e11ffa3b-e954-4c66-8085-4428032b5b0d.html"  target="element">
				  		<area shape="rect" coords="598,10,791,65" href="../elements/ddfd9715-6ec8-481d-a736-b97a58cc707f.html"  target="element">
				  		<area shape="rect" coords="10,70,203,125" href="../elements/ff8fd7c1-a76f-4078-a9aa-2008ca343591.html"  target="element">
				  		<area shape="rect" coords="10,10,203,65" href="../elements/1f708dce-d754-4189-a82f-2c1b7b3e0616.html"  target="element">
				  				<area shape="rect" coords="298,108,503,163" href="../elements/464fe660-4b41-4d65-bb4a-7b1881bafb24.html"  target="element">
				  				<area shape="rect" coords="298,46,503,101" href="../elements/d6505e26-e32b-42d8-bead-f894bbf6ae1e.html"  target="element">

				  		<area shape="rect" coords="262,10,539,245" href="../elements/be1b5c92-0387-4725-83aa-85e146694e2c.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/be1b5c92-0387-4725-83aa-85e146694e2c.html" target="element"> Messung </a> </td>
											    <td> <a href="../elements/be1b5c92-0387-4725-83aa-85e146694e2c.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/d6505e26-e32b-42d8-bead-f894bbf6ae1e.html" target="element"> Planen der Messung </a> </td>
													    <td> <a href="../elements/d6505e26-e32b-42d8-bead-f894bbf6ae1e.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/464fe660-4b41-4d65-bb4a-7b1881bafb24.html" target="element"> Durchf&#252;hren der Messung </a> </td>
													    <td> <a href="../elements/464fe660-4b41-4d65-bb4a-7b1881bafb24.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/1f708dce-d754-4189-a82f-2c1b7b3e0616.html" target="element"> Bedarf an Messungen (???) </a> </td>
											    <td> <a href="../elements/1f708dce-d754-4189-a82f-2c1b7b3e0616.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ff8fd7c1-a76f-4078-a9aa-2008ca343591.html" target="element"> Messdaten (???) </a> </td>
											    <td> <a href="../elements/ff8fd7c1-a76f-4078-a9aa-2008ca343591.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ddfd9715-6ec8-481d-a736-b97a58cc707f.html" target="element"> Messstrategie </a> </td>
											    <td> <a href="../elements/ddfd9715-6ec8-481d-a736-b97a58cc707f.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e11ffa3b-e954-4c66-8085-4428032b5b0d.html" target="element"> Messdatenablage </a> </td>
											    <td> <a href="../elements/e11ffa3b-e954-4c66-8085-4428032b5b0d.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/75fc9cd9-d84b-4606-a0e4-24e338efb490.html" target="element"> Messungsbericht </a> </td>
											    <td> <a href="../elements/75fc9cd9-d84b-4606-a0e4-24e338efb490.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9b26bb44-5b46-4890-9d86-30fa22bdb03c.html" target="element"> Messprotokoll </a> </td>
											    <td> <a href="../elements/9b26bb44-5b46-4890-9d86-30fa22bdb03c.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/f5ef1d9d-869b-4daf-9307-e1bc4eed7f00.html" target="element">  </a> </td>
																		<td> <a href="../elements/f5ef1d9d-869b-4daf-9307-e1bc4eed7f00.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/be1b5c92-0387-4725-83aa-85e146694e2c.html" target="element"> Messung </a> </td>
																		<td> <a href="../elements/d6505e26-e32b-42d8-bead-f894bbf6ae1e.html" target="element"> Planen der Messung </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f2153530-2cbf-4817-8677-2ef021618ced.html" target="element">  </a> </td>
																		<td> <a href="../elements/f2153530-2cbf-4817-8677-2ef021618ced.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/be1b5c92-0387-4725-83aa-85e146694e2c.html" target="element"> Messung </a> </td>
																		<td> <a href="../elements/464fe660-4b41-4d65-bb4a-7b1881bafb24.html" target="element"> Durchf&#252;hren der Messung </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/47cec560-4f9c-4d16-94f1-1d835b296e73.html" target="element">  </a> </td>
																		<td> <a href="../elements/47cec560-4f9c-4d16-94f1-1d835b296e73.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/be1b5c92-0387-4725-83aa-85e146694e2c.html" target="element"> Messung </a> </td>
																		<td> <a href="../elements/1f708dce-d754-4189-a82f-2c1b7b3e0616.html" target="element"> Bedarf an Messungen (???) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/57dbf33e-8b48-43fd-8e82-fc5e643baa3b.html" target="element">  </a> </td>
																		<td> <a href="../elements/57dbf33e-8b48-43fd-8e82-fc5e643baa3b.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/be1b5c92-0387-4725-83aa-85e146694e2c.html" target="element"> Messung </a> </td>
																		<td> <a href="../elements/ff8fd7c1-a76f-4078-a9aa-2008ca343591.html" target="element"> Messdaten (???) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b055ab69-10b3-480b-a623-e1a4f9b85371.html" target="element">  </a> </td>
																		<td> <a href="../elements/b055ab69-10b3-480b-a623-e1a4f9b85371.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/be1b5c92-0387-4725-83aa-85e146694e2c.html" target="element"> Messung </a> </td>
																		<td> <a href="../elements/ddfd9715-6ec8-481d-a736-b97a58cc707f.html" target="element"> Messstrategie </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ff42b3ac-504c-4ef6-9e94-c2b196aeff13.html" target="element">  </a> </td>
																		<td> <a href="../elements/ff42b3ac-504c-4ef6-9e94-c2b196aeff13.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/be1b5c92-0387-4725-83aa-85e146694e2c.html" target="element"> Messung </a> </td>
																		<td> <a href="../elements/e11ffa3b-e954-4c66-8085-4428032b5b0d.html" target="element"> Messdatenablage </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3506c29e-b36e-4e47-9315-a80bf17466f8.html" target="element">  </a> </td>
																		<td> <a href="../elements/3506c29e-b36e-4e47-9315-a80bf17466f8.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/be1b5c92-0387-4725-83aa-85e146694e2c.html" target="element"> Messung </a> </td>
																		<td> <a href="../elements/75fc9cd9-d84b-4606-a0e4-24e338efb490.html" target="element"> Messungsbericht </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/11e8d53f-a73c-4e4e-8d31-f2a9be46e378.html" target="element">  </a> </td>
																		<td> <a href="../elements/11e8d53f-a73c-4e4e-8d31-f2a9be46e378.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/be1b5c92-0387-4725-83aa-85e146694e2c.html" target="element"> Messung </a> </td>
																		<td> <a href="../elements/9b26bb44-5b46-4890-9d86-30fa22bdb03c.html" target="element"> Messprotokoll </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>