<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>01-05 Entwurf</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>01-05 Entwurf</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/9a0750a4-59d7-4be9-afeb-f30e085e8fc2.png" alt="01-05 Entwurf" usemap="#9a0750a4-59d7-4be9-afeb-f30e085e8fc2map"/>
			   <map name="9a0750a4-59d7-4be9-afeb-f30e085e8fc2map">
				  		<area shape="rect" coords="610,490,803,545" href="../elements/2613c1e5-dd0f-43bc-8dfe-b8e595e54ba8.html"  target="element">
				  		<area shape="rect" coords="610,430,803,485" href="../elements/ca733799-24ee-457f-9a7a-8ea0e5fc83e6.html"  target="element">
				  		<area shape="rect" coords="610,370,803,425" href="../elements/b6edf327-79de-4fbf-b594-ddaad1046ab9.html"  target="element">
				  		<area shape="rect" coords="610,310,803,365" href="../elements/71295167-90da-4086-9b97-0152ebcbc6ca.html"  target="element">
				  		<area shape="rect" coords="610,250,803,305" href="../elements/c97c3a53-8622-4a96-bbf6-58c2014f22c4.html"  target="element">
				  		<area shape="rect" coords="610,190,803,245" href="../elements/81b48bbc-5163-41b5-986d-f79cec1f99f8.html"  target="element">
				  		<area shape="rect" coords="610,130,803,185" href="../elements/86206312-c218-48f6-a910-da68d48fd64d.html"  target="element">
				  		<area shape="rect" coords="610,70,803,125" href="../elements/9cd824a5-310f-47ca-995a-9934f027965c.html"  target="element">
				  		<area shape="rect" coords="610,10,803,65" href="../elements/55048d29-e11e-494c-91f3-d67b148ee310.html"  target="element">
				  		<area shape="rect" coords="10,730,203,785" href="../elements/dc9bf07b-fc5f-4926-acae-ed53f0264ded.html"  target="element">
				  		<area shape="rect" coords="10,670,203,725" href="../elements/d50512c9-df85-4cd8-9dd8-f7e33c4f0728.html"  target="element">
				  		<area shape="rect" coords="10,610,203,665" href="../elements/6fb56e3e-f6da-4bbb-99e1-4faa6a94d14d.html"  target="element">
				  		<area shape="rect" coords="10,550,203,605" href="../elements/b47ab109-68f7-4ecd-8ce6-8d45ba137a58.html"  target="element">
				  		<area shape="rect" coords="10,490,203,545" href="../elements/0765321e-ec00-471a-bd73-98fc3511562f.html"  target="element">
				  		<area shape="rect" coords="10,430,203,485" href="../elements/2074c4a7-b0d7-4095-90a0-4a5e342e2068.html"  target="element">
				  		<area shape="rect" coords="10,370,203,425" href="../elements/8e3bb868-87cc-4d20-9d14-bd64fd535499.html"  target="element">
				  		<area shape="rect" coords="10,310,203,365" href="../elements/95d9105e-3d79-48bf-ad81-d34628503715.html"  target="element">
				  		<area shape="rect" coords="10,250,203,305" href="../elements/c260cd18-3810-490b-a6ba-afd78fa2e9fc.html"  target="element">
				  		<area shape="rect" coords="10,190,203,245" href="../elements/1bb0180e-ad5a-46f1-856d-5278e5dac898.html"  target="element">
				  		<area shape="rect" coords="10,70,203,125" href="../elements/f68f2ec1-2ad4-49d7-899a-beba9d69a3d2.html"  target="element">
				  		<area shape="rect" coords="10,130,203,185" href="../elements/a86aa7d9-f171-4c06-b536-a497058f4ce5.html"  target="element">
				  		<area shape="rect" coords="10,10,203,65" href="../elements/e65566b5-1d74-4440-91e1-bbbffae5fd4b.html"  target="element">
				  				<area shape="rect" coords="286,214,515,269" href="../elements/122a67ac-e253-4c6f-8195-882edb677ec3.html"  target="element">
				  				<area shape="rect" coords="286,154,515,209" href="../elements/291ee39d-c5d6-4c7d-90f9-b03394dd3615.html"  target="element">
				  				<area shape="rect" coords="286,94,515,149" href="../elements/17fcc57a-a67f-455d-a79f-3129d5edf153.html"  target="element">
				  				<area shape="rect" coords="286,34,515,89" href="../elements/a8da4f0b-7107-4cba-ba2e-4dfeafaea056.html"  target="element">

				  		<area shape="rect" coords="262,10,539,785" href="../elements/b8ac0880-99a6-478a-bf9d-ea454b055bd1.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/b8ac0880-99a6-478a-bf9d-ea454b055bd1.html" target="element"> Entwurf </a> </td>
											    <td> <a href="../elements/b8ac0880-99a6-478a-bf9d-ea454b055bd1.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/a8da4f0b-7107-4cba-ba2e-4dfeafaea056.html" target="element"> Vorbereiten des Entwurfs </a> </td>
													    <td> <a href="../elements/a8da4f0b-7107-4cba-ba2e-4dfeafaea056.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/17fcc57a-a67f-455d-a79f-3129d5edf153.html" target="element"> Erstellen von Entwurfsmerkmalen und Entwurfsmitteln f&#252;r jedes Systemelement </a> </td>
													    <td> <a href="../elements/17fcc57a-a67f-455d-a79f-3129d5edf153.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/291ee39d-c5d6-4c7d-90f9-b03394dd3615.html" target="element"> Bewerten von Alternativen f&#252;r die zu beschaffenden Systemelemente </a> </td>
													    <td> <a href="../elements/291ee39d-c5d6-4c7d-90f9-b03394dd3615.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/122a67ac-e253-4c6f-8195-882edb677ec3.html" target="element"> Verwalten des Entwurfs </a> </td>
													    <td> <a href="../elements/122a67ac-e253-4c6f-8195-882edb677ec3.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/e65566b5-1d74-4440-91e1-bbbffae5fd4b.html" target="element"> Lebenszykluskonzepte </a> </td>
											    <td> <a href="../elements/e65566b5-1d74-4440-91e1-bbbffae5fd4b.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a86aa7d9-f171-4c06-b536-a497058f4ce5.html" target="element"> Systemanforderungen </a> </td>
											    <td> <a href="../elements/a86aa7d9-f171-4c06-b536-a497058f4ce5.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f68f2ec1-2ad4-49d7-899a-beba9d69a3d2.html" target="element"> Definition der Systemfunktionen </a> </td>
											    <td> <a href="../elements/f68f2ec1-2ad4-49d7-899a-beba9d69a3d2.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1bb0180e-ad5a-46f1-856d-5278e5dac898.html" target="element"> Identifikation der funktionalen Systemschnittstellen </a> </td>
											    <td> <a href="../elements/1bb0180e-ad5a-46f1-856d-5278e5dac898.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c260cd18-3810-490b-a6ba-afd78fa2e9fc.html" target="element"> Beschreibung der Systemarchitektur </a> </td>
											    <td> <a href="../elements/c260cd18-3810-490b-a6ba-afd78fa2e9fc.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/95d9105e-3d79-48bf-ad81-d34628503715.html" target="element"> Begr&#252;ndung der Systemarchitektur </a> </td>
											    <td> <a href="../elements/95d9105e-3d79-48bf-ad81-d34628503715.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8e3bb868-87cc-4d20-9d14-bd64fd535499.html" target="element"> vorl&#228;ufige Schnittstellendefinition </a> </td>
											    <td> <a href="../elements/8e3bb868-87cc-4d20-9d14-bd64fd535499.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2074c4a7-b0d7-4095-90a0-4a5e342e2068.html" target="element"> Bedarf an vorl&#228;ufiger Messungen der technischen Leistungskennzahlen </a> </td>
											    <td> <a href="../elements/2074c4a7-b0d7-4095-90a0-4a5e342e2068.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0765321e-ec00-471a-bd73-98fc3511562f.html" target="element"> vorl&#228;ufige technische Leistungsmessdaten </a> </td>
											    <td> <a href="../elements/0765321e-ec00-471a-bd73-98fc3511562f.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b47ab109-68f7-4ecd-8ce6-8d45ba137a58.html" target="element"> R&#252;ckverfolgbarkeit der Architektur </a> </td>
											    <td> <a href="../elements/b47ab109-68f7-4ecd-8ce6-8d45ba137a58.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6fb56e3e-f6da-4bbb-99e1-4faa6a94d14d.html" target="element"> Kennzeichnung aktualisierter Schnittstellendefinitionen </a> </td>
											    <td> <a href="../elements/6fb56e3e-f6da-4bbb-99e1-4faa6a94d14d.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d50512c9-df85-4cd8-9dd8-f7e33c4f0728.html" target="element"> R&#252;ckverfolgbarkeit der Umsetzung </a> </td>
											    <td> <a href="../elements/d50512c9-df85-4cd8-9dd8-f7e33c4f0728.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/dc9bf07b-fc5f-4926-acae-ed53f0264ded.html" target="element"> Lebenszyklusbedingte Einschr&#228;nkungen (???) </a> </td>
											    <td> <a href="../elements/dc9bf07b-fc5f-4926-acae-ed53f0264ded.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/55048d29-e11e-494c-91f3-d67b148ee310.html" target="element"> Entwurfsstrategie </a> </td>
											    <td> <a href="../elements/55048d29-e11e-494c-91f3-d67b148ee310.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9cd824a5-310f-47ca-995a-9934f027965c.html" target="element"> Beschreibung des Systementwurfs </a> </td>
											    <td> <a href="../elements/9cd824a5-310f-47ca-995a-9934f027965c.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/86206312-c218-48f6-a910-da68d48fd64d.html" target="element"> Begr&#252;ndung des Systementwurfs </a> </td>
											    <td> <a href="../elements/86206312-c218-48f6-a910-da68d48fd64d.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/81b48bbc-5163-41b5-986d-f79cec1f99f8.html" target="element"> Schnittstellendefinition </a> </td>
											    <td> <a href="../elements/81b48bbc-5163-41b5-986d-f79cec1f99f8.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c97c3a53-8622-4a96-bbf6-58c2014f22c4.html" target="element"> Bedarf an Messung der technischen Leistungskennzahlen </a> </td>
											    <td> <a href="../elements/c97c3a53-8622-4a96-bbf6-58c2014f22c4.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/71295167-90da-4086-9b97-0152ebcbc6ca.html" target="element"> technische Leistungsmessdaten </a> </td>
											    <td> <a href="../elements/71295167-90da-4086-9b97-0152ebcbc6ca.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b6edf327-79de-4fbf-b594-ddaad1046ab9.html" target="element"> R&#252;ckverfolgbarkeit des Entwurfs </a> </td>
											    <td> <a href="../elements/b6edf327-79de-4fbf-b594-ddaad1046ab9.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ca733799-24ee-457f-9a7a-8ea0e5fc83e6.html" target="element"> Beschreibungen der Systemelemente </a> </td>
											    <td> <a href="../elements/ca733799-24ee-457f-9a7a-8ea0e5fc83e6.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2613c1e5-dd0f-43bc-8dfe-b8e595e54ba8.html" target="element"> Entwurfsprotokoll </a> </td>
											    <td> <a href="../elements/2613c1e5-dd0f-43bc-8dfe-b8e595e54ba8.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/570f9c24-bfee-4164-a56b-705f4eb08ed3.html" target="element">  </a> </td>
																		<td> <a href="../elements/570f9c24-bfee-4164-a56b-705f4eb08ed3.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/b8ac0880-99a6-478a-bf9d-ea454b055bd1.html" target="element"> Entwurf </a> </td>
																		<td> <a href="../elements/e65566b5-1d74-4440-91e1-bbbffae5fd4b.html" target="element"> Lebenszykluskonzepte </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f945ef58-859a-4aec-bd25-00982473ee06.html" target="element">  </a> </td>
																		<td> <a href="../elements/f945ef58-859a-4aec-bd25-00982473ee06.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/b8ac0880-99a6-478a-bf9d-ea454b055bd1.html" target="element"> Entwurf </a> </td>
																		<td> <a href="../elements/f68f2ec1-2ad4-49d7-899a-beba9d69a3d2.html" target="element"> Definition der Systemfunktionen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/cef868fa-6be9-4da8-bfb8-83387000e8a1.html" target="element">  </a> </td>
																		<td> <a href="../elements/cef868fa-6be9-4da8-bfb8-83387000e8a1.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/b8ac0880-99a6-478a-bf9d-ea454b055bd1.html" target="element"> Entwurf </a> </td>
																		<td> <a href="../elements/a86aa7d9-f171-4c06-b536-a497058f4ce5.html" target="element"> Systemanforderungen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b074f326-6695-4b88-85a4-20c77406175f.html" target="element">  </a> </td>
																		<td> <a href="../elements/b074f326-6695-4b88-85a4-20c77406175f.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/b8ac0880-99a6-478a-bf9d-ea454b055bd1.html" target="element"> Entwurf </a> </td>
																		<td> <a href="../elements/1bb0180e-ad5a-46f1-856d-5278e5dac898.html" target="element"> Identifikation der funktionalen Systemschnittstellen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d2c6c673-c3fb-4ed8-afc1-37e912621a4a.html" target="element">  </a> </td>
																		<td> <a href="../elements/d2c6c673-c3fb-4ed8-afc1-37e912621a4a.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/b8ac0880-99a6-478a-bf9d-ea454b055bd1.html" target="element"> Entwurf </a> </td>
																		<td> <a href="../elements/c260cd18-3810-490b-a6ba-afd78fa2e9fc.html" target="element"> Beschreibung der Systemarchitektur </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0d79ab71-de37-48a3-91a0-7bf74d90a6c3.html" target="element">  </a> </td>
																		<td> <a href="../elements/0d79ab71-de37-48a3-91a0-7bf74d90a6c3.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/b8ac0880-99a6-478a-bf9d-ea454b055bd1.html" target="element"> Entwurf </a> </td>
																		<td> <a href="../elements/95d9105e-3d79-48bf-ad81-d34628503715.html" target="element"> Begr&#252;ndung der Systemarchitektur </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c13a6973-bf5b-438d-a8a3-c5d0117f9799.html" target="element">  </a> </td>
																		<td> <a href="../elements/c13a6973-bf5b-438d-a8a3-c5d0117f9799.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/b8ac0880-99a6-478a-bf9d-ea454b055bd1.html" target="element"> Entwurf </a> </td>
																		<td> <a href="../elements/8e3bb868-87cc-4d20-9d14-bd64fd535499.html" target="element"> vorl&#228;ufige Schnittstellendefinition </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a4f015c3-b184-46bf-85f7-aa4231c16438.html" target="element">  </a> </td>
																		<td> <a href="../elements/a4f015c3-b184-46bf-85f7-aa4231c16438.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/b8ac0880-99a6-478a-bf9d-ea454b055bd1.html" target="element"> Entwurf </a> </td>
																		<td> <a href="../elements/2074c4a7-b0d7-4095-90a0-4a5e342e2068.html" target="element"> Bedarf an vorl&#228;ufiger Messungen der technischen Leistungskennzahlen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/dee283c6-ebb5-4fa5-bf91-6245e6545157.html" target="element">  </a> </td>
																		<td> <a href="../elements/dee283c6-ebb5-4fa5-bf91-6245e6545157.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/b8ac0880-99a6-478a-bf9d-ea454b055bd1.html" target="element"> Entwurf </a> </td>
																		<td> <a href="../elements/0765321e-ec00-471a-bd73-98fc3511562f.html" target="element"> vorl&#228;ufige technische Leistungsmessdaten </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e1072fa9-05f6-47a8-8988-36cec5b38af1.html" target="element">  </a> </td>
																		<td> <a href="../elements/e1072fa9-05f6-47a8-8988-36cec5b38af1.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/b8ac0880-99a6-478a-bf9d-ea454b055bd1.html" target="element"> Entwurf </a> </td>
																		<td> <a href="../elements/b47ab109-68f7-4ecd-8ce6-8d45ba137a58.html" target="element"> R&#252;ckverfolgbarkeit der Architektur </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b08b68cb-1cd5-400d-a07f-a9645e5c5c7e.html" target="element">  </a> </td>
																		<td> <a href="../elements/b08b68cb-1cd5-400d-a07f-a9645e5c5c7e.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/b8ac0880-99a6-478a-bf9d-ea454b055bd1.html" target="element"> Entwurf </a> </td>
																		<td> <a href="../elements/6fb56e3e-f6da-4bbb-99e1-4faa6a94d14d.html" target="element"> Kennzeichnung aktualisierter Schnittstellendefinitionen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/dd6a622e-5deb-4001-8eff-48e2f5ee538a.html" target="element">  </a> </td>
																		<td> <a href="../elements/dd6a622e-5deb-4001-8eff-48e2f5ee538a.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/b8ac0880-99a6-478a-bf9d-ea454b055bd1.html" target="element"> Entwurf </a> </td>
																		<td> <a href="../elements/d50512c9-df85-4cd8-9dd8-f7e33c4f0728.html" target="element"> R&#252;ckverfolgbarkeit der Umsetzung </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/82ff7f34-1a5f-49b0-864a-9b6e7c0cad4e.html" target="element">  </a> </td>
																		<td> <a href="../elements/82ff7f34-1a5f-49b0-864a-9b6e7c0cad4e.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/b8ac0880-99a6-478a-bf9d-ea454b055bd1.html" target="element"> Entwurf </a> </td>
																		<td> <a href="../elements/dc9bf07b-fc5f-4926-acae-ed53f0264ded.html" target="element"> Lebenszyklusbedingte Einschr&#228;nkungen (???) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b4d6f9a3-d050-49c3-90d7-8023e909cbbd.html" target="element">  </a> </td>
																		<td> <a href="../elements/b4d6f9a3-d050-49c3-90d7-8023e909cbbd.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/b8ac0880-99a6-478a-bf9d-ea454b055bd1.html" target="element"> Entwurf </a> </td>
																		<td> <a href="../elements/55048d29-e11e-494c-91f3-d67b148ee310.html" target="element"> Entwurfsstrategie </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f084748f-f129-41cf-b695-b866319f3e6b.html" target="element">  </a> </td>
																		<td> <a href="../elements/f084748f-f129-41cf-b695-b866319f3e6b.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/b8ac0880-99a6-478a-bf9d-ea454b055bd1.html" target="element"> Entwurf </a> </td>
																		<td> <a href="../elements/9cd824a5-310f-47ca-995a-9934f027965c.html" target="element"> Beschreibung des Systementwurfs </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b314b597-31c0-495b-9bb4-6d8ff3c4ba97.html" target="element">  </a> </td>
																		<td> <a href="../elements/b314b597-31c0-495b-9bb4-6d8ff3c4ba97.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/b8ac0880-99a6-478a-bf9d-ea454b055bd1.html" target="element"> Entwurf </a> </td>
																		<td> <a href="../elements/86206312-c218-48f6-a910-da68d48fd64d.html" target="element"> Begr&#252;ndung des Systementwurfs </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c2dd230e-cfe8-428e-8a3d-bbf25cf99e2f.html" target="element">  </a> </td>
																		<td> <a href="../elements/c2dd230e-cfe8-428e-8a3d-bbf25cf99e2f.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/b8ac0880-99a6-478a-bf9d-ea454b055bd1.html" target="element"> Entwurf </a> </td>
																		<td> <a href="../elements/81b48bbc-5163-41b5-986d-f79cec1f99f8.html" target="element"> Schnittstellendefinition </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4de2cdd4-7e0f-431e-9c17-1f9a6fcdc9b9.html" target="element">  </a> </td>
																		<td> <a href="../elements/4de2cdd4-7e0f-431e-9c17-1f9a6fcdc9b9.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/b8ac0880-99a6-478a-bf9d-ea454b055bd1.html" target="element"> Entwurf </a> </td>
																		<td> <a href="../elements/c97c3a53-8622-4a96-bbf6-58c2014f22c4.html" target="element"> Bedarf an Messung der technischen Leistungskennzahlen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3a40bd35-6cea-4b53-8305-9764f2bffa6d.html" target="element">  </a> </td>
																		<td> <a href="../elements/3a40bd35-6cea-4b53-8305-9764f2bffa6d.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/b8ac0880-99a6-478a-bf9d-ea454b055bd1.html" target="element"> Entwurf </a> </td>
																		<td> <a href="../elements/71295167-90da-4086-9b97-0152ebcbc6ca.html" target="element"> technische Leistungsmessdaten </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/1aad51d8-033c-4854-9b0d-ca1a5c31fde5.html" target="element">  </a> </td>
																		<td> <a href="../elements/1aad51d8-033c-4854-9b0d-ca1a5c31fde5.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/b8ac0880-99a6-478a-bf9d-ea454b055bd1.html" target="element"> Entwurf </a> </td>
																		<td> <a href="../elements/b6edf327-79de-4fbf-b594-ddaad1046ab9.html" target="element"> R&#252;ckverfolgbarkeit des Entwurfs </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/bcdfcbab-2e37-4869-bd89-d7c0dddf88ca.html" target="element">  </a> </td>
																		<td> <a href="../elements/bcdfcbab-2e37-4869-bd89-d7c0dddf88ca.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/b8ac0880-99a6-478a-bf9d-ea454b055bd1.html" target="element"> Entwurf </a> </td>
																		<td> <a href="../elements/ca733799-24ee-457f-9a7a-8ea0e5fc83e6.html" target="element"> Beschreibungen der Systemelemente </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/202f4cb0-d7f2-4650-924c-1da3b31d6caf.html" target="element">  </a> </td>
																		<td> <a href="../elements/202f4cb0-d7f2-4650-924c-1da3b31d6caf.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/b8ac0880-99a6-478a-bf9d-ea454b055bd1.html" target="element"> Entwurf </a> </td>
																		<td> <a href="../elements/2613c1e5-dd0f-43bc-8dfe-b8e595e54ba8.html" target="element"> Entwurfsprotokoll </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4da4ec53-d980-4743-a1b3-2613b0df283b.html" target="element">  </a> </td>
																		<td> <a href="../elements/4da4ec53-d980-4743-a1b3-2613b0df283b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/b8ac0880-99a6-478a-bf9d-ea454b055bd1.html" target="element"> Entwurf </a> </td>
																		<td> <a href="../elements/a8da4f0b-7107-4cba-ba2e-4dfeafaea056.html" target="element"> Vorbereiten des Entwurfs </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e0482887-6737-4dff-bde7-3b74d65a3a4e.html" target="element">  </a> </td>
																		<td> <a href="../elements/e0482887-6737-4dff-bde7-3b74d65a3a4e.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/b8ac0880-99a6-478a-bf9d-ea454b055bd1.html" target="element"> Entwurf </a> </td>
																		<td> <a href="../elements/17fcc57a-a67f-455d-a79f-3129d5edf153.html" target="element"> Erstellen von Entwurfsmerkmalen und Entwurfsmitteln f&#252;r jedes Systemelement </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/1b533d0b-d8b6-4ce6-a000-b75b05bada97.html" target="element">  </a> </td>
																		<td> <a href="../elements/1b533d0b-d8b6-4ce6-a000-b75b05bada97.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/b8ac0880-99a6-478a-bf9d-ea454b055bd1.html" target="element"> Entwurf </a> </td>
																		<td> <a href="../elements/291ee39d-c5d6-4c7d-90f9-b03394dd3615.html" target="element"> Bewerten von Alternativen f&#252;r die zu beschaffenden Systemelemente </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/17843a8b-2126-4cf3-b98e-8ba043c2df83.html" target="element">  </a> </td>
																		<td> <a href="../elements/17843a8b-2126-4cf3-b98e-8ba043c2df83.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/b8ac0880-99a6-478a-bf9d-ea454b055bd1.html" target="element"> Entwurf </a> </td>
																		<td> <a href="../elements/122a67ac-e253-4c6f-8195-882edb677ec3.html" target="element"> Verwalten des Entwurfs </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>