<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>03-02 Lieferung</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>03-02 Lieferung</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/a5974849-f3da-44af-a959-50e25c9e5acd.png" alt="03-02 Lieferung" usemap="#a5974849-f3da-44af-a959-50e25c9e5acdmap"/>
			   <map name="a5974849-f3da-44af-a959-50e25c9e5acdmap">
				  		<area shape="rect" coords="598,310,791,365" href="../elements/8c197b88-4dd9-4d28-9cfb-960f07869195.html"  target="element">
				  		<area shape="rect" coords="598,250,791,305" href="../elements/6c9e0231-450d-4afd-8eb1-bc266f39177f.html"  target="element">
				  		<area shape="rect" coords="598,190,791,245" href="../elements/8b9772f2-961f-44d3-a108-0d2193e5d41a.html"  target="element">
				  		<area shape="rect" coords="598,130,791,185" href="../elements/81e259c0-4686-4b6d-9675-01e34a4587a5.html"  target="element">
				  		<area shape="rect" coords="598,70,791,125" href="../elements/33b69fd0-f296-45a7-b426-fc373103c301.html"  target="element">
				  		<area shape="rect" coords="598,10,791,65" href="../elements/df3d31fd-b3cb-4007-9ca1-354133b061d4.html"  target="element">
				  		<area shape="rect" coords="10,250,203,305" href="../elements/b0338605-ba64-4de6-bebc-1b291cfce6ed.html"  target="element">
				  		<area shape="rect" coords="10,190,203,245" href="../elements/80351b64-f201-4d42-97af-248475c50636.html"  target="element">
				  		<area shape="rect" coords="10,130,203,185" href="../elements/d530c08e-86c5-4ed4-9493-8d1f6a253e42.html"  target="element">
				  		<area shape="rect" coords="10,70,203,125" href="../elements/41f874c8-4e4b-4c71-880c-ccf8713a52fd.html"  target="element">
				  				<area shape="rect" coords="298,286,503,341" href="../elements/878e9448-08f7-484a-9077-db816bc09d0c.html"  target="element">
				  				<area shape="rect" coords="298,226,503,281" href="../elements/6beb8bb6-d9f7-437c-83d4-1848fb9cb337.html"  target="element">
				  				<area shape="rect" coords="298,166,503,221" href="../elements/9f1cabf9-c5ac-40c6-8e5f-ca4168811c82.html"  target="element">
				  				<area shape="rect" coords="298,106,503,161" href="../elements/ded057cb-e1bf-478f-a843-c0e5b6eb9df0.html"  target="element">
				  				<area shape="rect" coords="298,46,503,101" href="../elements/c9f996ca-6348-4aef-ac13-ec2cae88a3be.html"  target="element">

				  		<area shape="rect" coords="262,10,539,365" href="../elements/d25855a7-e8a3-4aa1-9801-7adcd555a4e8.html"  target="element">
				  		<area shape="rect" coords="10,10,203,65" href="../elements/e22f055a-9433-4ee7-ae89-ecf17e132e79.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/e22f055a-9433-4ee7-ae89-ecf17e132e79.html" target="element"> Strategieplan der Organisation </a> </td>
											    <td> <a href="../elements/e22f055a-9433-4ee7-ae89-ecf17e132e79.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d25855a7-e8a3-4aa1-9801-7adcd555a4e8.html" target="element"> Lieferung </a> </td>
											    <td> <a href="../elements/d25855a7-e8a3-4aa1-9801-7adcd555a4e8.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/c9f996ca-6348-4aef-ac13-ec2cae88a3be.html" target="element"> Vorbereiten der Zulieferung </a> </td>
													    <td> <a href="../elements/c9f996ca-6348-4aef-ac13-ec2cae88a3be.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/ded057cb-e1bf-478f-a843-c0e5b6eb9df0.html" target="element"> Beteiligen an einer Ausschreibung </a> </td>
													    <td> <a href="../elements/ded057cb-e1bf-478f-a843-c0e5b6eb9df0.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/9f1cabf9-c5ac-40c6-8e5f-ca4168811c82.html" target="element"> Vertragliche Vereinbarungen treffen </a> </td>
													    <td> <a href="../elements/9f1cabf9-c5ac-40c6-8e5f-ca4168811c82.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/6beb8bb6-d9f7-437c-83d4-1848fb9cb337.html" target="element"> Ausf&#252;hren des Vertrages </a> </td>
													    <td> <a href="../elements/6beb8bb6-d9f7-437c-83d4-1848fb9cb337.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/878e9448-08f7-484a-9077-db816bc09d0c.html" target="element"> Liefern und Erhalten des Produkts oder der Dienstleistung </a> </td>
													    <td> <a href="../elements/878e9448-08f7-484a-9077-db816bc09d0c.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/41f874c8-4e4b-4c71-880c-ccf8713a52fd.html" target="element"> Beschaffungsanfrage </a> </td>
											    <td> <a href="../elements/41f874c8-4e4b-4c71-880c-ccf8713a52fd.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d530c08e-86c5-4ed4-9493-8d1f6a253e42.html" target="element"> Bezahlung der Lieferung </a> </td>
											    <td> <a href="../elements/d530c08e-86c5-4ed4-9493-8d1f6a253e42.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/80351b64-f201-4d42-97af-248475c50636.html" target="element"> validiertes System </a> </td>
											    <td> <a href="../elements/80351b64-f201-4d42-97af-248475c50636.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b0338605-ba64-4de6-bebc-1b291cfce6ed.html" target="element"> entsorgtes System </a> </td>
											    <td> <a href="../elements/b0338605-ba64-4de6-bebc-1b291cfce6ed.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/df3d31fd-b3cb-4007-9ca1-354133b061d4.html" target="element"> Zulieferungsstrategie </a> </td>
											    <td> <a href="../elements/df3d31fd-b3cb-4007-9ca1-354133b061d4.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/33b69fd0-f296-45a7-b426-fc373103c301.html" target="element"> Ausschreibungsantwort </a> </td>
											    <td> <a href="../elements/33b69fd0-f296-45a7-b426-fc373103c301.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/81e259c0-4686-4b6d-9675-01e34a4587a5.html" target="element"> Zulieferungsvertrag </a> </td>
											    <td> <a href="../elements/81e259c0-4686-4b6d-9675-01e34a4587a5.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8b9772f2-961f-44d3-a108-0d2193e5d41a.html" target="element"> ausgeliefertes System </a> </td>
											    <td> <a href="../elements/8b9772f2-961f-44d3-a108-0d2193e5d41a.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6c9e0231-450d-4afd-8eb1-bc266f39177f.html" target="element"> Zulieferungsbericht </a> </td>
											    <td> <a href="../elements/6c9e0231-450d-4afd-8eb1-bc266f39177f.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8c197b88-4dd9-4d28-9cfb-960f07869195.html" target="element"> Zulieferungsprotokoll </a> </td>
											    <td> <a href="../elements/8c197b88-4dd9-4d28-9cfb-960f07869195.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/bf339fa9-64fc-41cb-9741-00518298441b.html" target="element">  </a> </td>
																		<td> <a href="../elements/bf339fa9-64fc-41cb-9741-00518298441b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/d25855a7-e8a3-4aa1-9801-7adcd555a4e8.html" target="element"> Lieferung </a> </td>
																		<td> <a href="../elements/c9f996ca-6348-4aef-ac13-ec2cae88a3be.html" target="element"> Vorbereiten der Zulieferung </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/23d218c7-5254-415a-b6d0-ea1d99c32314.html" target="element">  </a> </td>
																		<td> <a href="../elements/23d218c7-5254-415a-b6d0-ea1d99c32314.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/d25855a7-e8a3-4aa1-9801-7adcd555a4e8.html" target="element"> Lieferung </a> </td>
																		<td> <a href="../elements/ded057cb-e1bf-478f-a843-c0e5b6eb9df0.html" target="element"> Beteiligen an einer Ausschreibung </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8dcbf730-6ed9-4837-a7cf-0b4a8cf177be.html" target="element">  </a> </td>
																		<td> <a href="../elements/8dcbf730-6ed9-4837-a7cf-0b4a8cf177be.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/d25855a7-e8a3-4aa1-9801-7adcd555a4e8.html" target="element"> Lieferung </a> </td>
																		<td> <a href="../elements/9f1cabf9-c5ac-40c6-8e5f-ca4168811c82.html" target="element"> Vertragliche Vereinbarungen treffen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e675336c-635d-4b6f-8903-97d568922d86.html" target="element">  </a> </td>
																		<td> <a href="../elements/e675336c-635d-4b6f-8903-97d568922d86.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/d25855a7-e8a3-4aa1-9801-7adcd555a4e8.html" target="element"> Lieferung </a> </td>
																		<td> <a href="../elements/6beb8bb6-d9f7-437c-83d4-1848fb9cb337.html" target="element"> Ausf&#252;hren des Vertrages </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d1b3f202-8e29-45e2-9dca-c571c2eb12b4.html" target="element">  </a> </td>
																		<td> <a href="../elements/d1b3f202-8e29-45e2-9dca-c571c2eb12b4.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/d25855a7-e8a3-4aa1-9801-7adcd555a4e8.html" target="element"> Lieferung </a> </td>
																		<td> <a href="../elements/878e9448-08f7-484a-9077-db816bc09d0c.html" target="element"> Liefern und Erhalten des Produkts oder der Dienstleistung </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d172df74-f999-4815-befa-bdb9fb83d557.html" target="element">  </a> </td>
																		<td> <a href="../elements/d172df74-f999-4815-befa-bdb9fb83d557.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/d25855a7-e8a3-4aa1-9801-7adcd555a4e8.html" target="element"> Lieferung </a> </td>
																		<td> <a href="../elements/e22f055a-9433-4ee7-ae89-ecf17e132e79.html" target="element"> Strategieplan der Organisation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/72fa3913-8ce2-4431-9534-7557b262b339.html" target="element">  </a> </td>
																		<td> <a href="../elements/72fa3913-8ce2-4431-9534-7557b262b339.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/d25855a7-e8a3-4aa1-9801-7adcd555a4e8.html" target="element"> Lieferung </a> </td>
																		<td> <a href="../elements/41f874c8-4e4b-4c71-880c-ccf8713a52fd.html" target="element"> Beschaffungsanfrage </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4b7061ab-a931-4827-971c-139fe86dde67.html" target="element">  </a> </td>
																		<td> <a href="../elements/4b7061ab-a931-4827-971c-139fe86dde67.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/d25855a7-e8a3-4aa1-9801-7adcd555a4e8.html" target="element"> Lieferung </a> </td>
																		<td> <a href="../elements/d530c08e-86c5-4ed4-9493-8d1f6a253e42.html" target="element"> Bezahlung der Lieferung </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/55c4558e-2234-437b-9108-8bcf4b52f44e.html" target="element">  </a> </td>
																		<td> <a href="../elements/55c4558e-2234-437b-9108-8bcf4b52f44e.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/d25855a7-e8a3-4aa1-9801-7adcd555a4e8.html" target="element"> Lieferung </a> </td>
																		<td> <a href="../elements/80351b64-f201-4d42-97af-248475c50636.html" target="element"> validiertes System </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/37e2c819-ac58-4fc3-9a81-3ad34920c7b4.html" target="element">  </a> </td>
																		<td> <a href="../elements/37e2c819-ac58-4fc3-9a81-3ad34920c7b4.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/d25855a7-e8a3-4aa1-9801-7adcd555a4e8.html" target="element"> Lieferung </a> </td>
																		<td> <a href="../elements/b0338605-ba64-4de6-bebc-1b291cfce6ed.html" target="element"> entsorgtes System </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4661a59a-ccd2-480d-862c-7f2f95223d6c.html" target="element">  </a> </td>
																		<td> <a href="../elements/4661a59a-ccd2-480d-862c-7f2f95223d6c.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/d25855a7-e8a3-4aa1-9801-7adcd555a4e8.html" target="element"> Lieferung </a> </td>
																		<td> <a href="../elements/df3d31fd-b3cb-4007-9ca1-354133b061d4.html" target="element"> Zulieferungsstrategie </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a17d6bbf-4eff-469e-9f05-174e51850eb9.html" target="element">  </a> </td>
																		<td> <a href="../elements/a17d6bbf-4eff-469e-9f05-174e51850eb9.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/d25855a7-e8a3-4aa1-9801-7adcd555a4e8.html" target="element"> Lieferung </a> </td>
																		<td> <a href="../elements/33b69fd0-f296-45a7-b426-fc373103c301.html" target="element"> Ausschreibungsantwort </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/11426db5-0e25-43af-b51e-b36e0488cf3d.html" target="element">  </a> </td>
																		<td> <a href="../elements/11426db5-0e25-43af-b51e-b36e0488cf3d.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/d25855a7-e8a3-4aa1-9801-7adcd555a4e8.html" target="element"> Lieferung </a> </td>
																		<td> <a href="../elements/81e259c0-4686-4b6d-9675-01e34a4587a5.html" target="element"> Zulieferungsvertrag </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a0183dbc-d766-4e50-8529-dae2e033b201.html" target="element">  </a> </td>
																		<td> <a href="../elements/a0183dbc-d766-4e50-8529-dae2e033b201.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/d25855a7-e8a3-4aa1-9801-7adcd555a4e8.html" target="element"> Lieferung </a> </td>
																		<td> <a href="../elements/8b9772f2-961f-44d3-a108-0d2193e5d41a.html" target="element"> ausgeliefertes System </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c2487c1a-e9f5-4777-9c76-43434d009f1b.html" target="element">  </a> </td>
																		<td> <a href="../elements/c2487c1a-e9f5-4777-9c76-43434d009f1b.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/d25855a7-e8a3-4aa1-9801-7adcd555a4e8.html" target="element"> Lieferung </a> </td>
																		<td> <a href="../elements/6c9e0231-450d-4afd-8eb1-bc266f39177f.html" target="element"> Zulieferungsbericht </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a6a05d8e-d9e5-4ccc-9784-7cd142aa3935.html" target="element">  </a> </td>
																		<td> <a href="../elements/a6a05d8e-d9e5-4ccc-9784-7cd142aa3935.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/d25855a7-e8a3-4aa1-9801-7adcd555a4e8.html" target="element"> Lieferung </a> </td>
																		<td> <a href="../elements/8c197b88-4dd9-4d28-9cfb-960f07869195.html" target="element"> Zulieferungsprotokoll </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>