<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>04-02 Infrastrukturmanagement</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>04-02 Infrastrukturmanagement</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/afd681ae-b1ec-4566-98b0-14fb55dfb219.png" alt="04-02 Infrastrukturmanagement" usemap="#afd681ae-b1ec-4566-98b0-14fb55dfb219map"/>
			   <map name="afd681ae-b1ec-4566-98b0-14fb55dfb219map">
				  		<area shape="rect" coords="598,190,791,245" href="../elements/8125ddd6-a161-4c29-9943-8382f1773807.html"  target="element">
				  		<area shape="rect" coords="598,130,791,185" href="../elements/bb76cbad-b960-4e95-b8c8-b5a67c5dbf85.html"  target="element">
				  		<area shape="rect" coords="598,70,791,125" href="../elements/236b6c55-2f18-41a3-90b8-47d2081986dd.html"  target="element">
				  		<area shape="rect" coords="598,10,791,65" href="../elements/ea203d98-af14-445a-b44a-3471e0c88710.html"  target="element">
				  		<area shape="rect" coords="10,130,203,185" href="../elements/6f15e8f1-a233-4dd3-927f-f435f72b1ced.html"  target="element">
				  		<area shape="rect" coords="10,70,203,125" href="../elements/3efef099-f141-4465-aefb-9faa47f4b70e.html"  target="element">
				  				<area shape="rect" coords="298,109,503,164" href="../elements/81e861a6-f851-420d-b956-e4852d4e0252.html"  target="element">
				  				<area shape="rect" coords="298,46,503,101" href="../elements/cafd526a-a29f-4fb5-8fa5-30f183586ba4.html"  target="element">

				  		<area shape="rect" coords="262,10,539,425" href="../elements/9c015bfb-b80c-40de-b40d-80abe47553b6.html"  target="element">
				  		<area shape="rect" coords="10,10,203,65" href="../elements/e22f055a-9433-4ee7-ae89-ecf17e132e79.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/e22f055a-9433-4ee7-ae89-ecf17e132e79.html" target="element"> Strategieplan der Organisation </a> </td>
											    <td> <a href="../elements/e22f055a-9433-4ee7-ae89-ecf17e132e79.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9c015bfb-b80c-40de-b40d-80abe47553b6.html" target="element"> Infrastrukturmanagement </a> </td>
											    <td> <a href="../elements/9c015bfb-b80c-40de-b40d-80abe47553b6.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/cafd526a-a29f-4fb5-8fa5-30f183586ba4.html" target="element"> Einrichten der Infrastruktur </a> </td>
													    <td> <a href="../elements/cafd526a-a29f-4fb5-8fa5-30f183586ba4.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/81e861a6-f851-420d-b956-e4852d4e0252.html" target="element"> Pflegen der Infrastruktur </a> </td>
													    <td> <a href="../elements/81e861a6-f851-420d-b956-e4852d4e0252.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/3efef099-f141-4465-aefb-9faa47f4b70e.html" target="element"> Infrastrukturbedarfe der Organisation </a> </td>
											    <td> <a href="../elements/3efef099-f141-4465-aefb-9faa47f4b70e.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6f15e8f1-a233-4dd3-927f-f435f72b1ced.html" target="element"> Infrastrukturbedarfe des Projekts </a> </td>
											    <td> <a href="../elements/6f15e8f1-a233-4dd3-927f-f435f72b1ced.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ea203d98-af14-445a-b44a-3471e0c88710.html" target="element"> Infrastrukturmanagementplan </a> </td>
											    <td> <a href="../elements/ea203d98-af14-445a-b44a-3471e0c88710.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/236b6c55-2f18-41a3-90b8-47d2081986dd.html" target="element"> Infrastruktur der Organisation </a> </td>
											    <td> <a href="../elements/236b6c55-2f18-41a3-90b8-47d2081986dd.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/bb76cbad-b960-4e95-b8c8-b5a67c5dbf85.html" target="element"> Projektinfrastruktur </a> </td>
											    <td> <a href="../elements/bb76cbad-b960-4e95-b8c8-b5a67c5dbf85.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8125ddd6-a161-4c29-9943-8382f1773807.html" target="element"> Infrastrukturmanagementbericht </a> </td>
											    <td> <a href="../elements/8125ddd6-a161-4c29-9943-8382f1773807.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/ef2af796-2f25-41f5-9e21-f0070c3a8564.html" target="element">  </a> </td>
																		<td> <a href="../elements/ef2af796-2f25-41f5-9e21-f0070c3a8564.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/9c015bfb-b80c-40de-b40d-80abe47553b6.html" target="element"> Infrastrukturmanagement </a> </td>
																		<td> <a href="../elements/cafd526a-a29f-4fb5-8fa5-30f183586ba4.html" target="element"> Einrichten der Infrastruktur </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e173d809-1630-4974-a72f-408e7d1504f8.html" target="element">  </a> </td>
																		<td> <a href="../elements/e173d809-1630-4974-a72f-408e7d1504f8.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/9c015bfb-b80c-40de-b40d-80abe47553b6.html" target="element"> Infrastrukturmanagement </a> </td>
																		<td> <a href="../elements/81e861a6-f851-420d-b956-e4852d4e0252.html" target="element"> Pflegen der Infrastruktur </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e3edf039-2db4-40c5-8225-7436b281114b.html" target="element">  </a> </td>
																		<td> <a href="../elements/e3edf039-2db4-40c5-8225-7436b281114b.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/9c015bfb-b80c-40de-b40d-80abe47553b6.html" target="element"> Infrastrukturmanagement </a> </td>
																		<td> <a href="../elements/e22f055a-9433-4ee7-ae89-ecf17e132e79.html" target="element"> Strategieplan der Organisation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/aa75fb55-9ac3-4bf7-b576-df0da1cbc515.html" target="element">  </a> </td>
																		<td> <a href="../elements/aa75fb55-9ac3-4bf7-b576-df0da1cbc515.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/9c015bfb-b80c-40de-b40d-80abe47553b6.html" target="element"> Infrastrukturmanagement </a> </td>
																		<td> <a href="../elements/3efef099-f141-4465-aefb-9faa47f4b70e.html" target="element"> Infrastrukturbedarfe der Organisation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7fc557ca-9115-4f0b-aaac-8805e693b882.html" target="element">  </a> </td>
																		<td> <a href="../elements/7fc557ca-9115-4f0b-aaac-8805e693b882.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/9c015bfb-b80c-40de-b40d-80abe47553b6.html" target="element"> Infrastrukturmanagement </a> </td>
																		<td> <a href="../elements/6f15e8f1-a233-4dd3-927f-f435f72b1ced.html" target="element"> Infrastrukturbedarfe des Projekts </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2a471700-e336-44f9-98b3-bfcf5526f8b5.html" target="element">  </a> </td>
																		<td> <a href="../elements/2a471700-e336-44f9-98b3-bfcf5526f8b5.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/9c015bfb-b80c-40de-b40d-80abe47553b6.html" target="element"> Infrastrukturmanagement </a> </td>
																		<td> <a href="../elements/ea203d98-af14-445a-b44a-3471e0c88710.html" target="element"> Infrastrukturmanagementplan </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/220646f8-186e-4b04-8dae-1009361a670e.html" target="element">  </a> </td>
																		<td> <a href="../elements/220646f8-186e-4b04-8dae-1009361a670e.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/9c015bfb-b80c-40de-b40d-80abe47553b6.html" target="element"> Infrastrukturmanagement </a> </td>
																		<td> <a href="../elements/236b6c55-2f18-41a3-90b8-47d2081986dd.html" target="element"> Infrastruktur der Organisation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/07d77a0f-4fbc-4f24-b212-a76c4d4618b7.html" target="element">  </a> </td>
																		<td> <a href="../elements/07d77a0f-4fbc-4f24-b212-a76c4d4618b7.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/9c015bfb-b80c-40de-b40d-80abe47553b6.html" target="element"> Infrastrukturmanagement </a> </td>
																		<td> <a href="../elements/bb76cbad-b960-4e95-b8c8-b5a67c5dbf85.html" target="element"> Projektinfrastruktur </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/165faa0d-2c9d-415f-9444-e5ae6b4e6528.html" target="element">  </a> </td>
																		<td> <a href="../elements/165faa0d-2c9d-415f-9444-e5ae6b4e6528.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/9c015bfb-b80c-40de-b40d-80abe47553b6.html" target="element"> Infrastrukturmanagement </a> </td>
																		<td> <a href="../elements/8125ddd6-a161-4c29-9943-8382f1773807.html" target="element"> Infrastrukturmanagementbericht </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>