<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>02-02 Projektbewertung und -steuerung</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>02-02 Projektbewertung und -steuerung</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/ca6db94e-24bd-450e-a803-32404da38f53.png" alt="02-02 Projektbewertung und -steuerung" usemap="#ca6db94e-24bd-450e-a803-32404da38f53map"/>
			   <map name="ca6db94e-24bd-450e-a803-32404da38f53map">
				  		<area shape="rect" coords="598,430,791,485" href="../elements/f7bf43ae-928c-4b86-8a21-0f9c5efa1499.html"  target="element">
				  		<area shape="rect" coords="598,370,791,425" href="../elements/0011d823-78e2-4606-9b9e-09d8b02a08d1.html"  target="element">
				  		<area shape="rect" coords="598,310,791,365" href="../elements/a2651f57-5803-4a88-a6bf-fa1bb13958c7.html"  target="element">
				  		<area shape="rect" coords="598,250,791,305" href="../elements/00414204-af8c-4af7-8cde-cd1acd96c3e9.html"  target="element">
				  		<area shape="rect" coords="598,190,791,245" href="../elements/da9d42fb-c94a-4db4-95b8-50457cdb81e4.html"  target="element">
				  		<area shape="rect" coords="598,130,791,185" href="../elements/8cdf596f-6d9a-48fd-9072-27a704886887.html"  target="element">
				  		<area shape="rect" coords="598,70,791,125" href="../elements/90cf1423-3569-429a-a248-83baac38d066.html"  target="element">
				  		<area shape="rect" coords="598,10,791,65" href="../elements/70b1747a-9598-4365-bd1c-75f6d04fe6a5.html"  target="element">
				  		<area shape="rect" coords="10,610,203,665" href="../elements/3b0ecdf4-9356-439d-97d2-49d0ba3c3351.html"  target="element">
				  		<area shape="rect" coords="10,550,203,605" href="../elements/8263d114-293a-4a4a-9749-39454d4065d8.html"  target="element">
				  		<area shape="rect" coords="10,490,203,545" href="../elements/556efe37-961e-4bb2-aacc-5e3cffc946dd.html"  target="element">
				  		<area shape="rect" coords="10,430,203,485" href="../elements/e11ffa3b-e954-4c66-8085-4428032b5b0d.html"  target="element">
				  		<area shape="rect" coords="10,370,203,425" href="../elements/1c910a7a-d6fb-41bf-a55c-a3ae98ba3a1c.html"  target="element">
				  		<area shape="rect" coords="10,310,203,365" href="../elements/b0a4a060-da04-41ff-9ad8-3cf42a2d42fd.html"  target="element">
				  		<area shape="rect" coords="10,250,203,305" href="../elements/e0ab33e6-d80a-46b2-90b9-7fc0806d30f7.html"  target="element">
				  		<area shape="rect" coords="10,190,203,245" href="../elements/5d9b53ba-66e5-4951-afbe-b67f1386d462.html"  target="element">
				  		<area shape="rect" coords="10,10,203,65" href="../elements/ea62060e-6178-4c22-acfe-b525988686af.html"  target="element">
				  				<area shape="rect" coords="298,46,503,101" href="../elements/7c7d2a1a-15a4-49e2-94e6-adb37030597e.html"  target="element">
				  				<area shape="rect" coords="298,106,503,161" href="../elements/c827462c-1738-4f39-9a31-bcc01628d2ad.html"  target="element">
				  				<area shape="rect" coords="298,166,503,221" href="../elements/b288abcb-7748-4ff8-bc1a-5484184de477.html"  target="element">

				  		<area shape="rect" coords="262,10,539,665" href="../elements/029eec0c-36b5-42e0-8bed-96cd6d7182c4.html"  target="element">
				  		<area shape="rect" coords="10,70,203,125" href="../elements/709c58a0-6f19-48aa-9172-f75d64a22067.html"  target="element">
				  		<area shape="rect" coords="10,130,203,185" href="../elements/15d17abc-2d9e-4323-be4e-1d7730d99a7f.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/15d17abc-2d9e-4323-be4e-1d7730d99a7f.html" target="element"> Projektzeitplan </a> </td>
											    <td> <a href="../elements/15d17abc-2d9e-4323-be4e-1d7730d99a7f.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/709c58a0-6f19-48aa-9172-f75d64a22067.html" target="element"> Projektbudget </a> </td>
											    <td> <a href="../elements/709c58a0-6f19-48aa-9172-f75d64a22067.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/029eec0c-36b5-42e0-8bed-96cd6d7182c4.html" target="element"> Projektbewertung und -steuerung </a> </td>
											    <td> <a href="../elements/029eec0c-36b5-42e0-8bed-96cd6d7182c4.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/b288abcb-7748-4ff8-bc1a-5484184de477.html" target="element"> Steuern des Projekts </a> </td>
													    <td> <a href="../elements/b288abcb-7748-4ff8-bc1a-5484184de477.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/c827462c-1738-4f39-9a31-bcc01628d2ad.html" target="element"> Bewerten des Projekts </a> </td>
													    <td> <a href="../elements/c827462c-1738-4f39-9a31-bcc01628d2ad.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/7c7d2a1a-15a4-49e2-94e6-adb37030597e.html" target="element"> Planen der Projektbewertung und -steuerung </a> </td>
													    <td> <a href="../elements/7c7d2a1a-15a4-49e2-94e6-adb37030597e.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/ea62060e-6178-4c22-acfe-b525988686af.html" target="element"> Projektstrukturplan (Work Breakdown Structure, WBS) </a> </td>
											    <td> <a href="../elements/ea62060e-6178-4c22-acfe-b525988686af.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5d9b53ba-66e5-4951-afbe-b67f1386d462.html" target="element"> Verfahren (???) </a> </td>
											    <td> <a href="../elements/5d9b53ba-66e5-4951-afbe-b67f1386d462.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e0ab33e6-d80a-46b2-90b9-7fc0806d30f7.html" target="element"> Berichte (???) </a> </td>
											    <td> <a href="../elements/e0ab33e6-d80a-46b2-90b9-7fc0806d30f7.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b0a4a060-da04-41ff-9ad8-3cf42a2d42fd.html" target="element"> Referenzkonfigurationen </a> </td>
											    <td> <a href="../elements/b0a4a060-da04-41ff-9ad8-3cf42a2d42fd.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1c910a7a-d6fb-41bf-a55c-a3ae98ba3a1c.html" target="element"> Informationsablage </a> </td>
											    <td> <a href="../elements/1c910a7a-d6fb-41bf-a55c-a3ae98ba3a1c.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e11ffa3b-e954-4c66-8085-4428032b5b0d.html" target="element"> Messdatenablage </a> </td>
											    <td> <a href="../elements/e11ffa3b-e954-4c66-8085-4428032b5b0d.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/556efe37-961e-4bb2-aacc-5e3cffc946dd.html" target="element"> QM Korrekturma&#223;nahmen </a> </td>
											    <td> <a href="../elements/556efe37-961e-4bb2-aacc-5e3cffc946dd.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8263d114-293a-4a4a-9749-39454d4065d8.html" target="element"> Anwertungsbericht der Qualit&#228;tssicherung </a> </td>
											    <td> <a href="../elements/8263d114-293a-4a4a-9749-39454d4065d8.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3b0ecdf4-9356-439d-97d2-49d0ba3c3351.html" target="element"> validierte Anforderungen </a> </td>
											    <td> <a href="../elements/3b0ecdf4-9356-439d-97d2-49d0ba3c3351.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/70b1747a-9598-4365-bd1c-75f6d04fe6a5.html" target="element"> Strategie zur Produktbewertung und -steuerung </a> </td>
											    <td> <a href="../elements/70b1747a-9598-4365-bd1c-75f6d04fe6a5.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/90cf1423-3569-429a-a248-83baac38d066.html" target="element"> Bedarf an Projekt-Leistungskennzahlen </a> </td>
											    <td> <a href="../elements/90cf1423-3569-429a-a248-83baac38d066.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8cdf596f-6d9a-48fd-9072-27a704886887.html" target="element"> Projekt-Leistungsmessdaten </a> </td>
											    <td> <a href="../elements/8cdf596f-6d9a-48fd-9072-27a704886887.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/da9d42fb-c94a-4db4-95b8-50457cdb81e4.html" target="element"> Projektstatusbericht </a> </td>
											    <td> <a href="../elements/da9d42fb-c94a-4db4-95b8-50457cdb81e4.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/00414204-af8c-4af7-8cde-cd1acd96c3e9.html" target="element"> Projektsteuerungsantr&#228;ge </a> </td>
											    <td> <a href="../elements/00414204-af8c-4af7-8cde-cd1acd96c3e9.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a2651f57-5803-4a88-a6bf-fa1bb13958c7.html" target="element"> Projekt&#228;nderungsantr&#228;ge </a> </td>
											    <td> <a href="../elements/a2651f57-5803-4a88-a6bf-fa1bb13958c7.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0011d823-78e2-4606-9b9e-09d8b02a08d1.html" target="element"> "Lessons Learned" des Projekts </a> </td>
											    <td> <a href="../elements/0011d823-78e2-4606-9b9e-09d8b02a08d1.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f7bf43ae-928c-4b86-8a21-0f9c5efa1499.html" target="element"> Protokoll der Projektbewertung und -steuerung </a> </td>
											    <td> <a href="../elements/f7bf43ae-928c-4b86-8a21-0f9c5efa1499.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/babb8cec-bb78-49c7-b62c-36ac260212a7.html" target="element">  </a> </td>
																		<td> <a href="../elements/babb8cec-bb78-49c7-b62c-36ac260212a7.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/029eec0c-36b5-42e0-8bed-96cd6d7182c4.html" target="element"> Projektbewertung und -steuerung </a> </td>
																		<td> <a href="../elements/ea62060e-6178-4c22-acfe-b525988686af.html" target="element"> Projektstrukturplan (Work Breakdown Structure, WBS) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7f5d71f7-d862-49cc-9994-635649559ff4.html" target="element">  </a> </td>
																		<td> <a href="../elements/7f5d71f7-d862-49cc-9994-635649559ff4.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/029eec0c-36b5-42e0-8bed-96cd6d7182c4.html" target="element"> Projektbewertung und -steuerung </a> </td>
																		<td> <a href="../elements/709c58a0-6f19-48aa-9172-f75d64a22067.html" target="element"> Projektbudget </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/dfd33552-836f-4fa2-b7f0-010304f26b3e.html" target="element">  </a> </td>
																		<td> <a href="../elements/dfd33552-836f-4fa2-b7f0-010304f26b3e.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/029eec0c-36b5-42e0-8bed-96cd6d7182c4.html" target="element"> Projektbewertung und -steuerung </a> </td>
																		<td> <a href="../elements/15d17abc-2d9e-4323-be4e-1d7730d99a7f.html" target="element"> Projektzeitplan </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2b2ec001-78dc-4d18-ab59-a47dff27e7c9.html" target="element">  </a> </td>
																		<td> <a href="../elements/2b2ec001-78dc-4d18-ab59-a47dff27e7c9.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/029eec0c-36b5-42e0-8bed-96cd6d7182c4.html" target="element"> Projektbewertung und -steuerung </a> </td>
																		<td> <a href="../elements/5d9b53ba-66e5-4951-afbe-b67f1386d462.html" target="element"> Verfahren (???) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/812a6af1-625e-4fbf-a689-c6aa1b3e08d2.html" target="element">  </a> </td>
																		<td> <a href="../elements/812a6af1-625e-4fbf-a689-c6aa1b3e08d2.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/029eec0c-36b5-42e0-8bed-96cd6d7182c4.html" target="element"> Projektbewertung und -steuerung </a> </td>
																		<td> <a href="../elements/e0ab33e6-d80a-46b2-90b9-7fc0806d30f7.html" target="element"> Berichte (???) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c0cf633b-9744-43ae-ad34-a6ef0e910f7d.html" target="element">  </a> </td>
																		<td> <a href="../elements/c0cf633b-9744-43ae-ad34-a6ef0e910f7d.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/029eec0c-36b5-42e0-8bed-96cd6d7182c4.html" target="element"> Projektbewertung und -steuerung </a> </td>
																		<td> <a href="../elements/b0a4a060-da04-41ff-9ad8-3cf42a2d42fd.html" target="element"> Referenzkonfigurationen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/cf85196c-f985-45b5-b5b1-e89dc810988d.html" target="element">  </a> </td>
																		<td> <a href="../elements/cf85196c-f985-45b5-b5b1-e89dc810988d.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/029eec0c-36b5-42e0-8bed-96cd6d7182c4.html" target="element"> Projektbewertung und -steuerung </a> </td>
																		<td> <a href="../elements/1c910a7a-d6fb-41bf-a55c-a3ae98ba3a1c.html" target="element"> Informationsablage </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c00bd244-8c85-4b44-b21a-10a913664c79.html" target="element">  </a> </td>
																		<td> <a href="../elements/c00bd244-8c85-4b44-b21a-10a913664c79.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/029eec0c-36b5-42e0-8bed-96cd6d7182c4.html" target="element"> Projektbewertung und -steuerung </a> </td>
																		<td> <a href="../elements/e11ffa3b-e954-4c66-8085-4428032b5b0d.html" target="element"> Messdatenablage </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b811dea0-77a8-433a-ae94-c86a35f61d66.html" target="element">  </a> </td>
																		<td> <a href="../elements/b811dea0-77a8-433a-ae94-c86a35f61d66.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/029eec0c-36b5-42e0-8bed-96cd6d7182c4.html" target="element"> Projektbewertung und -steuerung </a> </td>
																		<td> <a href="../elements/556efe37-961e-4bb2-aacc-5e3cffc946dd.html" target="element"> QM Korrekturma&#223;nahmen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c2c438ff-3dc6-40fa-b9d6-268ee90cdf7c.html" target="element">  </a> </td>
																		<td> <a href="../elements/c2c438ff-3dc6-40fa-b9d6-268ee90cdf7c.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/029eec0c-36b5-42e0-8bed-96cd6d7182c4.html" target="element"> Projektbewertung und -steuerung </a> </td>
																		<td> <a href="../elements/8263d114-293a-4a4a-9749-39454d4065d8.html" target="element"> Anwertungsbericht der Qualit&#228;tssicherung </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4473f69e-b867-4401-8223-7394857e0fbf.html" target="element">  </a> </td>
																		<td> <a href="../elements/4473f69e-b867-4401-8223-7394857e0fbf.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/029eec0c-36b5-42e0-8bed-96cd6d7182c4.html" target="element"> Projektbewertung und -steuerung </a> </td>
																		<td> <a href="../elements/3b0ecdf4-9356-439d-97d2-49d0ba3c3351.html" target="element"> validierte Anforderungen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/06540281-2117-445e-96b9-f9a0fdfac21e.html" target="element">  </a> </td>
																		<td> <a href="../elements/06540281-2117-445e-96b9-f9a0fdfac21e.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/029eec0c-36b5-42e0-8bed-96cd6d7182c4.html" target="element"> Projektbewertung und -steuerung </a> </td>
																		<td> <a href="../elements/70b1747a-9598-4365-bd1c-75f6d04fe6a5.html" target="element"> Strategie zur Produktbewertung und -steuerung </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9959dfaa-47a1-4eff-acfa-1fabf12a73b1.html" target="element">  </a> </td>
																		<td> <a href="../elements/9959dfaa-47a1-4eff-acfa-1fabf12a73b1.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/029eec0c-36b5-42e0-8bed-96cd6d7182c4.html" target="element"> Projektbewertung und -steuerung </a> </td>
																		<td> <a href="../elements/90cf1423-3569-429a-a248-83baac38d066.html" target="element"> Bedarf an Projekt-Leistungskennzahlen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f79c3fff-78c7-4011-9a1a-22bca78cb9cf.html" target="element">  </a> </td>
																		<td> <a href="../elements/f79c3fff-78c7-4011-9a1a-22bca78cb9cf.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/029eec0c-36b5-42e0-8bed-96cd6d7182c4.html" target="element"> Projektbewertung und -steuerung </a> </td>
																		<td> <a href="../elements/8cdf596f-6d9a-48fd-9072-27a704886887.html" target="element"> Projekt-Leistungsmessdaten </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/cd150c77-afb5-4ab3-ac43-c2a1eb081358.html" target="element">  </a> </td>
																		<td> <a href="../elements/cd150c77-afb5-4ab3-ac43-c2a1eb081358.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/029eec0c-36b5-42e0-8bed-96cd6d7182c4.html" target="element"> Projektbewertung und -steuerung </a> </td>
																		<td> <a href="../elements/da9d42fb-c94a-4db4-95b8-50457cdb81e4.html" target="element"> Projektstatusbericht </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d162cd02-2d80-4311-a32c-9c9bf5da335d.html" target="element">  </a> </td>
																		<td> <a href="../elements/d162cd02-2d80-4311-a32c-9c9bf5da335d.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/029eec0c-36b5-42e0-8bed-96cd6d7182c4.html" target="element"> Projektbewertung und -steuerung </a> </td>
																		<td> <a href="../elements/00414204-af8c-4af7-8cde-cd1acd96c3e9.html" target="element"> Projektsteuerungsantr&#228;ge </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a6b4d830-df96-49a1-ae08-59cf83dd0693.html" target="element">  </a> </td>
																		<td> <a href="../elements/a6b4d830-df96-49a1-ae08-59cf83dd0693.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/029eec0c-36b5-42e0-8bed-96cd6d7182c4.html" target="element"> Projektbewertung und -steuerung </a> </td>
																		<td> <a href="../elements/a2651f57-5803-4a88-a6bf-fa1bb13958c7.html" target="element"> Projekt&#228;nderungsantr&#228;ge </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2e182a72-f32b-431f-ac3e-204c68f27437.html" target="element">  </a> </td>
																		<td> <a href="../elements/2e182a72-f32b-431f-ac3e-204c68f27437.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/029eec0c-36b5-42e0-8bed-96cd6d7182c4.html" target="element"> Projektbewertung und -steuerung </a> </td>
																		<td> <a href="../elements/0011d823-78e2-4606-9b9e-09d8b02a08d1.html" target="element"> "Lessons Learned" des Projekts </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a1cf832d-fe73-4e30-9f68-544c3cb14109.html" target="element">  </a> </td>
																		<td> <a href="../elements/a1cf832d-fe73-4e30-9f68-544c3cb14109.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/029eec0c-36b5-42e0-8bed-96cd6d7182c4.html" target="element"> Projektbewertung und -steuerung </a> </td>
																		<td> <a href="../elements/f7bf43ae-928c-4b86-8a21-0f9c5efa1499.html" target="element"> Protokoll der Projektbewertung und -steuerung </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/94e98e49-58b5-46be-a50b-a6c64e3fe3a7.html" target="element">  </a> </td>
																		<td> <a href="../elements/94e98e49-58b5-46be-a50b-a6c64e3fe3a7.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/029eec0c-36b5-42e0-8bed-96cd6d7182c4.html" target="element"> Projektbewertung und -steuerung </a> </td>
																		<td> <a href="../elements/b288abcb-7748-4ff8-bc1a-5484184de477.html" target="element"> Steuern des Projekts </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/44ec813e-fad4-48c9-b09b-504b7120e03b.html" target="element">  </a> </td>
																		<td> <a href="../elements/44ec813e-fad4-48c9-b09b-504b7120e03b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/029eec0c-36b5-42e0-8bed-96cd6d7182c4.html" target="element"> Projektbewertung und -steuerung </a> </td>
																		<td> <a href="../elements/c827462c-1738-4f39-9a31-bcc01628d2ad.html" target="element"> Bewerten des Projekts </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e2f5ac5c-241a-4adc-9d18-1f199cd66b60.html" target="element">  </a> </td>
																		<td> <a href="../elements/e2f5ac5c-241a-4adc-9d18-1f199cd66b60.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/029eec0c-36b5-42e0-8bed-96cd6d7182c4.html" target="element"> Projektbewertung und -steuerung </a> </td>
																		<td> <a href="../elements/7c7d2a1a-15a4-49e2-94e6-adb37030597e.html" target="element"> Planen der Projektbewertung und -steuerung </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>