<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>02-03 Entscheidungsmanagement</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>02-03 Entscheidungsmanagement</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/d9e6ef60-706f-47a6-a2e9-0ba79036f5e5.png" alt="02-03 Entscheidungsmanagement" usemap="#d9e6ef60-706f-47a6-a2e9-0ba79036f5e5map"/>
			   <map name="d9e6ef60-706f-47a6-a2e9-0ba79036f5e5map">
				  		<area shape="rect" coords="886,10,1091,65" href="../views/02456f7f-532d-4bde-bf64-09583bda0ef8.html"  target="view">
				      <!-- Other diagram objects -->
				  		<area shape="rect" coords="598,130,791,185" href="../elements/271f1dbb-7d05-4e65-b423-e6e564e0c9d1.html"  target="element">
				  		<area shape="rect" coords="598,70,791,125" href="../elements/1ba2761b-68dd-4374-9f55-ebe7c6ffeaa7.html"  target="element">
				  		<area shape="rect" coords="598,10,791,65" href="../elements/b0adc531-6844-4c5f-b322-0341f317d870.html"  target="element">
				  		<area shape="rect" coords="10,10,203,65" href="../elements/54ecd60c-1e2b-4da5-8805-0317adac7580.html"  target="element">
				  				<area shape="rect" coords="298,47,503,102" href="../elements/373cfb10-d3f9-41aa-afbd-d36c93511c14.html"  target="element">
				  				<area shape="rect" coords="298,106,503,161" href="../elements/96aa7901-6a00-474c-802d-dd43c4f6203f.html"  target="element">
				  				<area shape="rect" coords="298,166,503,221" href="../elements/9d59a4c2-13ed-4ef0-9c38-6f411feb1468.html"  target="element">

				  		<area shape="rect" coords="262,10,539,243" href="../elements/9261e84f-49e1-46f8-86ee-ed7fdb1ca83a.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/9261e84f-49e1-46f8-86ee-ed7fdb1ca83a.html" target="element"> Entscheidungsmanagement </a> </td>
											    <td> <a href="../elements/9261e84f-49e1-46f8-86ee-ed7fdb1ca83a.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/9d59a4c2-13ed-4ef0-9c38-6f411feb1468.html" target="element"> Treffen und Verwalten von Entscheidungen </a> </td>
													    <td> <a href="../elements/9d59a4c2-13ed-4ef0-9c38-6f411feb1468.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/96aa7901-6a00-474c-802d-dd43c4f6203f.html" target="element"> Analysieren der zur Entscheidung vorhandenen Information </a> </td>
													    <td> <a href="../elements/96aa7901-6a00-474c-802d-dd43c4f6203f.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/373cfb10-d3f9-41aa-afbd-d36c93511c14.html" target="element"> Entscheidungen vorbereiten </a> </td>
													    <td> <a href="../elements/373cfb10-d3f9-41aa-afbd-d36c93511c14.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/54ecd60c-1e2b-4da5-8805-0317adac7580.html" target="element"> Entscheidungssituation </a> </td>
											    <td> <a href="../elements/54ecd60c-1e2b-4da5-8805-0317adac7580.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b0adc531-6844-4c5f-b322-0341f317d870.html" target="element"> Entscheidungsmanagementstrategie </a> </td>
											    <td> <a href="../elements/b0adc531-6844-4c5f-b322-0341f317d870.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1ba2761b-68dd-4374-9f55-ebe7c6ffeaa7.html" target="element"> Entscheidungsbericht </a> </td>
											    <td> <a href="../elements/1ba2761b-68dd-4374-9f55-ebe7c6ffeaa7.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/271f1dbb-7d05-4e65-b423-e6e564e0c9d1.html" target="element"> Entscheidungsprotokoll </a> </td>
											    <td> <a href="../elements/271f1dbb-7d05-4e65-b423-e6e564e0c9d1.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../views/02456f7f-532d-4bde-bf64-09583bda0ef8.html" target="view"> 01 - Systemlebenszyklusprozesse </a> </td>
											    <td> <a href="../views/02456f7f-532d-4bde-bf64-09583bda0ef8.html" target="view" class="i18n-viewpoint-"> </a> </td>
											</tr>
									    <!-- Other graphical objects -->


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/ed414655-3ca7-4a5d-b909-f2cb3fde24b8.html" target="element">  </a> </td>
																		<td> <a href="../elements/ed414655-3ca7-4a5d-b909-f2cb3fde24b8.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/9261e84f-49e1-46f8-86ee-ed7fdb1ca83a.html" target="element"> Entscheidungsmanagement </a> </td>
																		<td> <a href="../elements/9d59a4c2-13ed-4ef0-9c38-6f411feb1468.html" target="element"> Treffen und Verwalten von Entscheidungen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/1a7138ec-9daf-4d12-8c84-e5f21071a275.html" target="element">  </a> </td>
																		<td> <a href="../elements/1a7138ec-9daf-4d12-8c84-e5f21071a275.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/9261e84f-49e1-46f8-86ee-ed7fdb1ca83a.html" target="element"> Entscheidungsmanagement </a> </td>
																		<td> <a href="../elements/96aa7901-6a00-474c-802d-dd43c4f6203f.html" target="element"> Analysieren der zur Entscheidung vorhandenen Information </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/05e3247b-1abd-43ee-8289-6178d2708cdf.html" target="element">  </a> </td>
																		<td> <a href="../elements/05e3247b-1abd-43ee-8289-6178d2708cdf.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/9261e84f-49e1-46f8-86ee-ed7fdb1ca83a.html" target="element"> Entscheidungsmanagement </a> </td>
																		<td> <a href="../elements/373cfb10-d3f9-41aa-afbd-d36c93511c14.html" target="element"> Entscheidungen vorbereiten </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/237d7ea7-f1bc-44d1-aee8-f333f81cefff.html" target="element">  </a> </td>
																		<td> <a href="../elements/237d7ea7-f1bc-44d1-aee8-f333f81cefff.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/9261e84f-49e1-46f8-86ee-ed7fdb1ca83a.html" target="element"> Entscheidungsmanagement </a> </td>
																		<td> <a href="../elements/54ecd60c-1e2b-4da5-8805-0317adac7580.html" target="element"> Entscheidungssituation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/dd1cf569-fb7a-49d4-8492-3f31dcb4f62e.html" target="element">  </a> </td>
																		<td> <a href="../elements/dd1cf569-fb7a-49d4-8492-3f31dcb4f62e.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/9261e84f-49e1-46f8-86ee-ed7fdb1ca83a.html" target="element"> Entscheidungsmanagement </a> </td>
																		<td> <a href="../elements/b0adc531-6844-4c5f-b322-0341f317d870.html" target="element"> Entscheidungsmanagementstrategie </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/de2b37c7-33cd-41d5-8b96-898e3c62d259.html" target="element">  </a> </td>
																		<td> <a href="../elements/de2b37c7-33cd-41d5-8b96-898e3c62d259.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/9261e84f-49e1-46f8-86ee-ed7fdb1ca83a.html" target="element"> Entscheidungsmanagement </a> </td>
																		<td> <a href="../elements/1ba2761b-68dd-4374-9f55-ebe7c6ffeaa7.html" target="element"> Entscheidungsbericht </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a7f87df1-011f-49de-98ab-6272e42bdb95.html" target="element">  </a> </td>
																		<td> <a href="../elements/a7f87df1-011f-49de-98ab-6272e42bdb95.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/9261e84f-49e1-46f8-86ee-ed7fdb1ca83a.html" target="element"> Entscheidungsmanagement </a> </td>
																		<td> <a href="../elements/271f1dbb-7d05-4e65-b423-e6e564e0c9d1.html" target="element"> Entscheidungsprotokoll </a> </td>
																	</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>