<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>03-01 Beschaffung</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>03-01 Beschaffung</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/e6f715b5-e959-4278-88d2-74f2a409c5c4.png" alt="03-01 Beschaffung" usemap="#e6f715b5-e959-4278-88d2-74f2a409c5c4map"/>
			   <map name="e6f715b5-e959-4278-88d2-74f2a409c5c4map">
				  		<area shape="rect" coords="598,370,791,425" href="../elements/2a70644d-1bcc-4efa-9475-388f7c45d741.html"  target="element">
				  		<area shape="rect" coords="598,310,791,365" href="../elements/25206609-1075-4ce5-8d8f-d0463a796959.html"  target="element">
				  		<area shape="rect" coords="598,250,791,305" href="../elements/fdbac9c5-28bd-419e-b701-03b7a95b31d9.html"  target="element">
				  		<area shape="rect" coords="598,190,791,245" href="../elements/369a37e4-1d00-4514-b4ad-e7fa50386aa1.html"  target="element">
				  		<area shape="rect" coords="598,130,791,185" href="../elements/636e2201-493e-4e4a-a39d-8f0fda24748d.html"  target="element">
				  		<area shape="rect" coords="598,70,791,125" href="../elements/41f874c8-4e4b-4c71-880c-ccf8713a52fd.html"  target="element">
				  		<area shape="rect" coords="598,10,791,65" href="../elements/5594d13a-9743-4ba3-b07f-8771fcf425a8.html"  target="element">
				  		<area shape="rect" coords="10,250,203,305" href="../elements/354a60de-670c-48a0-bd49-e683fd58921c.html"  target="element">
				  		<area shape="rect" coords="10,190,203,245" href="../elements/6f7853a1-aa22-45bb-a0ca-7d0f4838e6fc.html"  target="element">
				  		<area shape="rect" coords="10,130,203,185" href="../elements/2d727ded-5f99-4974-9298-a8e4090d3c77.html"  target="element">
				  		<area shape="rect" coords="10,70,203,125" href="../elements/8b22cc29-784f-4c66-9e73-63662674efda.html"  target="element">
				  		<area shape="rect" coords="10,10,203,65" href="../elements/e22f055a-9433-4ee7-ae89-ecf17e132e79.html"  target="element">
				  				<area shape="rect" coords="298,286,503,341" href="../elements/98bd9a06-4c77-496e-8deb-7e44fea65c12.html"  target="element">
				  				<area shape="rect" coords="298,226,503,281" href="../elements/c21e50a0-63d3-4a00-9e77-a455585e2810.html"  target="element">
				  				<area shape="rect" coords="298,165,503,220" href="../elements/171dcbc7-ce35-4191-8577-8e6eb90fcbfc.html"  target="element">
				  				<area shape="rect" coords="298,105,503,160" href="../elements/7c00c1de-72bc-45f4-ae7d-6156a0dca1b8.html"  target="element">
				  				<area shape="rect" coords="298,46,503,101" href="../elements/911e2867-f5e7-4dce-a526-697460bed17e.html"  target="element">

				  		<area shape="rect" coords="262,10,539,425" href="../elements/e51ea540-dbc6-4fe6-b89a-ea4643919bd8.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/e51ea540-dbc6-4fe6-b89a-ea4643919bd8.html" target="element"> Beschaffung </a> </td>
											    <td> <a href="../elements/e51ea540-dbc6-4fe6-b89a-ea4643919bd8.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/911e2867-f5e7-4dce-a526-697460bed17e.html" target="element"> Vorbereiten der Beschaffung </a> </td>
													    <td> <a href="../elements/911e2867-f5e7-4dce-a526-697460bed17e.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/7c00c1de-72bc-45f4-ae7d-6156a0dca1b8.html" target="element"> Bekanntmachen der Beschaffung und Auswahl des Lieferanten </a> </td>
													    <td> <a href="../elements/7c00c1de-72bc-45f4-ae7d-6156a0dca1b8.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/171dcbc7-ce35-4191-8577-8e6eb90fcbfc.html" target="element"> Eingehen und Pflegen einer vertraglichen Vereinbarung </a> </td>
													    <td> <a href="../elements/171dcbc7-ce35-4191-8577-8e6eb90fcbfc.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/c21e50a0-63d3-4a00-9e77-a455585e2810.html" target="element"> &#220;berwachen des Vertrags </a> </td>
													    <td> <a href="../elements/c21e50a0-63d3-4a00-9e77-a455585e2810.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/98bd9a06-4c77-496e-8deb-7e44fea65c12.html" target="element"> Abnehmen des Produkts oder der Dienstleistung </a> </td>
													    <td> <a href="../elements/98bd9a06-4c77-496e-8deb-7e44fea65c12.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/e22f055a-9433-4ee7-ae89-ecf17e132e79.html" target="element"> Strategieplan der Organisation </a> </td>
											    <td> <a href="../elements/e22f055a-9433-4ee7-ae89-ecf17e132e79.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8b22cc29-784f-4c66-9e73-63662674efda.html" target="element"> Beschaffungsbedarf </a> </td>
											    <td> <a href="../elements/8b22cc29-784f-4c66-9e73-63662674efda.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2d727ded-5f99-4974-9298-a8e4090d3c77.html" target="element"> Anforderungen an Unterst&#252;tzungssysteme (???) </a> </td>
											    <td> <a href="../elements/2d727ded-5f99-4974-9298-a8e4090d3c77.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6f7853a1-aa22-45bb-a0ca-7d0f4838e6fc.html" target="element"> Zulieferungsangebot </a> </td>
											    <td> <a href="../elements/6f7853a1-aa22-45bb-a0ca-7d0f4838e6fc.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/354a60de-670c-48a0-bd49-e683fd58921c.html" target="element"> beschafftes System </a> </td>
											    <td> <a href="../elements/354a60de-670c-48a0-bd49-e683fd58921c.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5594d13a-9743-4ba3-b07f-8771fcf425a8.html" target="element"> Beschaffungsstrategie </a> </td>
											    <td> <a href="../elements/5594d13a-9743-4ba3-b07f-8771fcf425a8.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/41f874c8-4e4b-4c71-880c-ccf8713a52fd.html" target="element"> Beschaffungsanfrage </a> </td>
											    <td> <a href="../elements/41f874c8-4e4b-4c71-880c-ccf8713a52fd.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/636e2201-493e-4e4a-a39d-8f0fda24748d.html" target="element"> Beschaffungsvertrag </a> </td>
											    <td> <a href="../elements/636e2201-493e-4e4a-a39d-8f0fda24748d.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/369a37e4-1d00-4514-b4ad-e7fa50386aa1.html" target="element"> abgenommenes System oder Systemelement </a> </td>
											    <td> <a href="../elements/369a37e4-1d00-4514-b4ad-e7fa50386aa1.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/fdbac9c5-28bd-419e-b701-03b7a95b31d9.html" target="element"> Bezahlung der Beschaffung </a> </td>
											    <td> <a href="../elements/fdbac9c5-28bd-419e-b701-03b7a95b31d9.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/25206609-1075-4ce5-8d8f-d0463a796959.html" target="element"> Beschaffungsbericht </a> </td>
											    <td> <a href="../elements/25206609-1075-4ce5-8d8f-d0463a796959.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2a70644d-1bcc-4efa-9475-388f7c45d741.html" target="element"> Beschaffungsprotokoll </a> </td>
											    <td> <a href="../elements/2a70644d-1bcc-4efa-9475-388f7c45d741.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/ce89f3d9-8e09-4bdb-86db-852b34f3549e.html" target="element">  </a> </td>
																		<td> <a href="../elements/ce89f3d9-8e09-4bdb-86db-852b34f3549e.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e51ea540-dbc6-4fe6-b89a-ea4643919bd8.html" target="element"> Beschaffung </a> </td>
																		<td> <a href="../elements/911e2867-f5e7-4dce-a526-697460bed17e.html" target="element"> Vorbereiten der Beschaffung </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a4aef7a9-b072-47a2-acd9-eb961a7ee7c7.html" target="element">  </a> </td>
																		<td> <a href="../elements/a4aef7a9-b072-47a2-acd9-eb961a7ee7c7.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e51ea540-dbc6-4fe6-b89a-ea4643919bd8.html" target="element"> Beschaffung </a> </td>
																		<td> <a href="../elements/7c00c1de-72bc-45f4-ae7d-6156a0dca1b8.html" target="element"> Bekanntmachen der Beschaffung und Auswahl des Lieferanten </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b36fa7a7-cb54-4391-ad4f-626f819ee84e.html" target="element">  </a> </td>
																		<td> <a href="../elements/b36fa7a7-cb54-4391-ad4f-626f819ee84e.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e51ea540-dbc6-4fe6-b89a-ea4643919bd8.html" target="element"> Beschaffung </a> </td>
																		<td> <a href="../elements/171dcbc7-ce35-4191-8577-8e6eb90fcbfc.html" target="element"> Eingehen und Pflegen einer vertraglichen Vereinbarung </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/1abe8b98-4eed-4534-a205-effec8b3bd0d.html" target="element">  </a> </td>
																		<td> <a href="../elements/1abe8b98-4eed-4534-a205-effec8b3bd0d.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e51ea540-dbc6-4fe6-b89a-ea4643919bd8.html" target="element"> Beschaffung </a> </td>
																		<td> <a href="../elements/c21e50a0-63d3-4a00-9e77-a455585e2810.html" target="element"> &#220;berwachen des Vertrags </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9e1c712b-7ede-4273-a670-0f7b3dd82853.html" target="element">  </a> </td>
																		<td> <a href="../elements/9e1c712b-7ede-4273-a670-0f7b3dd82853.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e51ea540-dbc6-4fe6-b89a-ea4643919bd8.html" target="element"> Beschaffung </a> </td>
																		<td> <a href="../elements/98bd9a06-4c77-496e-8deb-7e44fea65c12.html" target="element"> Abnehmen des Produkts oder der Dienstleistung </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e85d6e19-8d3f-4b4b-8a55-e14d0a124803.html" target="element">  </a> </td>
																		<td> <a href="../elements/e85d6e19-8d3f-4b4b-8a55-e14d0a124803.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/e51ea540-dbc6-4fe6-b89a-ea4643919bd8.html" target="element"> Beschaffung </a> </td>
																		<td> <a href="../elements/e22f055a-9433-4ee7-ae89-ecf17e132e79.html" target="element"> Strategieplan der Organisation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7dee6467-ae90-42b2-af64-e9036117255d.html" target="element">  </a> </td>
																		<td> <a href="../elements/7dee6467-ae90-42b2-af64-e9036117255d.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/e51ea540-dbc6-4fe6-b89a-ea4643919bd8.html" target="element"> Beschaffung </a> </td>
																		<td> <a href="../elements/8b22cc29-784f-4c66-9e73-63662674efda.html" target="element"> Beschaffungsbedarf </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0da1053c-7d42-4b0a-bc5b-048157d03737.html" target="element">  </a> </td>
																		<td> <a href="../elements/0da1053c-7d42-4b0a-bc5b-048157d03737.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/e51ea540-dbc6-4fe6-b89a-ea4643919bd8.html" target="element"> Beschaffung </a> </td>
																		<td> <a href="../elements/2d727ded-5f99-4974-9298-a8e4090d3c77.html" target="element"> Anforderungen an Unterst&#252;tzungssysteme (???) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0929229b-29b6-452f-b8b0-a71545e76a46.html" target="element">  </a> </td>
																		<td> <a href="../elements/0929229b-29b6-452f-b8b0-a71545e76a46.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/e51ea540-dbc6-4fe6-b89a-ea4643919bd8.html" target="element"> Beschaffung </a> </td>
																		<td> <a href="../elements/6f7853a1-aa22-45bb-a0ca-7d0f4838e6fc.html" target="element"> Zulieferungsangebot </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a66b8bfc-2d86-4b80-86bc-6f629b0ce222.html" target="element">  </a> </td>
																		<td> <a href="../elements/a66b8bfc-2d86-4b80-86bc-6f629b0ce222.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/e51ea540-dbc6-4fe6-b89a-ea4643919bd8.html" target="element"> Beschaffung </a> </td>
																		<td> <a href="../elements/354a60de-670c-48a0-bd49-e683fd58921c.html" target="element"> beschafftes System </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8e8c7783-ce00-4e8c-b975-db123cd69c5d.html" target="element">  </a> </td>
																		<td> <a href="../elements/8e8c7783-ce00-4e8c-b975-db123cd69c5d.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/e51ea540-dbc6-4fe6-b89a-ea4643919bd8.html" target="element"> Beschaffung </a> </td>
																		<td> <a href="../elements/5594d13a-9743-4ba3-b07f-8771fcf425a8.html" target="element"> Beschaffungsstrategie </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9f0389b5-e631-4ff1-ba00-cb24967427d1.html" target="element">  </a> </td>
																		<td> <a href="../elements/9f0389b5-e631-4ff1-ba00-cb24967427d1.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/e51ea540-dbc6-4fe6-b89a-ea4643919bd8.html" target="element"> Beschaffung </a> </td>
																		<td> <a href="../elements/41f874c8-4e4b-4c71-880c-ccf8713a52fd.html" target="element"> Beschaffungsanfrage </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/5ec8faa0-12a5-4b15-97b5-189d8e970c70.html" target="element">  </a> </td>
																		<td> <a href="../elements/5ec8faa0-12a5-4b15-97b5-189d8e970c70.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/e51ea540-dbc6-4fe6-b89a-ea4643919bd8.html" target="element"> Beschaffung </a> </td>
																		<td> <a href="../elements/636e2201-493e-4e4a-a39d-8f0fda24748d.html" target="element"> Beschaffungsvertrag </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2c33c582-0dbc-47a6-9e20-e81a37428405.html" target="element">  </a> </td>
																		<td> <a href="../elements/2c33c582-0dbc-47a6-9e20-e81a37428405.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/e51ea540-dbc6-4fe6-b89a-ea4643919bd8.html" target="element"> Beschaffung </a> </td>
																		<td> <a href="../elements/369a37e4-1d00-4514-b4ad-e7fa50386aa1.html" target="element"> abgenommenes System oder Systemelement </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3a8b3b54-4093-42fc-8b0b-fbf0f151272e.html" target="element">  </a> </td>
																		<td> <a href="../elements/3a8b3b54-4093-42fc-8b0b-fbf0f151272e.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/e51ea540-dbc6-4fe6-b89a-ea4643919bd8.html" target="element"> Beschaffung </a> </td>
																		<td> <a href="../elements/fdbac9c5-28bd-419e-b701-03b7a95b31d9.html" target="element"> Bezahlung der Beschaffung </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/877c4602-182b-4d7a-982f-8758ffb5aba6.html" target="element">  </a> </td>
																		<td> <a href="../elements/877c4602-182b-4d7a-982f-8758ffb5aba6.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/e51ea540-dbc6-4fe6-b89a-ea4643919bd8.html" target="element"> Beschaffung </a> </td>
																		<td> <a href="../elements/25206609-1075-4ce5-8d8f-d0463a796959.html" target="element"> Beschaffungsbericht </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7ff60c37-beb8-4017-8088-b72b8ba13fba.html" target="element">  </a> </td>
																		<td> <a href="../elements/7ff60c37-beb8-4017-8088-b72b8ba13fba.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/e51ea540-dbc6-4fe6-b89a-ea4643919bd8.html" target="element"> Beschaffung </a> </td>
																		<td> <a href="../elements/2a70644d-1bcc-4efa-9475-388f7c45d741.html" target="element"> Beschaffungsprotokoll </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>