<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>01-03 Definition der Systemanforderungen</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>01-03 Definition der Systemanforderungen</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/f0003883-0b43-478c-93eb-95c00a46e382.png" alt="01-03 Definition der Systemanforderungen" usemap="#f0003883-0b43-478c-93eb-95c00a46e382map"/>
			   <map name="f0003883-0b43-478c-93eb-95c00a46e382map">
				  		<area shape="rect" coords="646,70,851,125" href="../elements/f68f2ec1-2ad4-49d7-899a-beba9d69a3d2.html"  target="element">
				  		<area shape="rect" coords="646,550,851,605" href="../elements/3506e1b9-7229-456f-8771-ef3a99b78bd3.html"  target="element">
				  		<area shape="rect" coords="646,490,851,545" href="../elements/f6105dcf-0a13-4c12-85d9-e449652b0b9c.html"  target="element">
				  		<area shape="rect" coords="646,430,851,485" href="../elements/5217608c-403c-4774-a042-ea9e9cd46d53.html"  target="element">
				  		<area shape="rect" coords="646,370,851,425" href="../elements/c8cb1658-d56d-40e6-96bf-8c2eddc6d6db.html"  target="element">
				  		<area shape="rect" coords="646,310,851,365" href="../elements/d83c0f33-aaf5-4429-ac4a-5450c4d72a52.html"  target="element">
				  		<area shape="rect" coords="646,250,851,305" href="../elements/d799ed49-121c-489d-b3bb-e4b8df04ac13.html"  target="element">
				  		<area shape="rect" coords="646,190,851,245" href="../elements/1bb0180e-ad5a-46f1-856d-5278e5dac898.html"  target="element">
				  		<area shape="rect" coords="646,130,851,185" href="../elements/a86aa7d9-f171-4c06-b536-a497058f4ce5.html"  target="element">
				  		<area shape="rect" coords="646,10,851,65" href="../elements/cca11f71-f9e3-45f0-8352-7656cd0a581c.html"  target="element">
				  		<area shape="rect" coords="10,430,215,485" href="../elements/dc9bf07b-fc5f-4926-acae-ed53f0264ded.html"  target="element">
				  		<area shape="rect" coords="10,370,215,425" href="../elements/926fc0a1-ebe5-4cf2-8d6a-ec647c7c6070.html"  target="element">
				  		<area shape="rect" coords="10,310,215,365" href="../elements/b47ab109-68f7-4ecd-8ce6-8d45ba137a58.html"  target="element">
				  		<area shape="rect" coords="10,250,215,305" href="../elements/820fbf61-c5bb-4760-a667-9b093b78a315.html"  target="element">
				  		<area shape="rect" coords="10,190,215,245" href="../elements/36d4a899-bde6-4e37-8fa6-79df485d155c.html"  target="element">
				  		<area shape="rect" coords="10,130,215,185" href="../elements/6d9f7dee-dfa8-4b73-99f6-93f5a5ca73c5.html"  target="element">
				  		<area shape="rect" coords="10,70,215,125" href="../elements/135953ff-fb8f-4beb-b5de-3673cf2ff47b.html"  target="element">
				  		<area shape="rect" coords="10,10,215,65" href="../elements/e65566b5-1d74-4440-91e1-bbbffae5fd4b.html"  target="element">
				  				<area shape="rect" coords="310,226,551,281" href="../elements/95e24d56-5a9c-4615-9ee2-ed55ae7e48d7.html"  target="element">
				  				<area shape="rect" coords="310,166,551,221" href="../elements/6f7b6ead-08fb-4e30-be78-921b38956230.html"  target="element">
				  				<area shape="rect" coords="310,106,551,161" href="../elements/8361ac6e-3163-419d-b7ce-2bc52aeaa95f.html"  target="element">
				  				<area shape="rect" coords="310,46,551,101" href="../elements/03c991c0-e97c-4aa8-8f76-c4b3236a1315.html"  target="element">

				  		<area shape="rect" coords="286,10,575,605" href="../elements/9c83d5ef-01d7-4808-ad06-e4493fbf9cf6.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/9c83d5ef-01d7-4808-ad06-e4493fbf9cf6.html" target="element"> Definition der Systemanforderungen </a> </td>
											    <td> <a href="../elements/9c83d5ef-01d7-4808-ad06-e4493fbf9cf6.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/03c991c0-e97c-4aa8-8f76-c4b3236a1315.html" target="element"> Vorbereiten der Definition der Systemanforderungen </a> </td>
													    <td> <a href="../elements/03c991c0-e97c-4aa8-8f76-c4b3236a1315.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/8361ac6e-3163-419d-b7ce-2bc52aeaa95f.html" target="element"> Definieren der Systemanforderungen </a> </td>
													    <td> <a href="../elements/8361ac6e-3163-419d-b7ce-2bc52aeaa95f.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/6f7b6ead-08fb-4e30-be78-921b38956230.html" target="element"> Analysieren der Systemanforderungen </a> </td>
													    <td> <a href="../elements/6f7b6ead-08fb-4e30-be78-921b38956230.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/95e24d56-5a9c-4615-9ee2-ed55ae7e48d7.html" target="element"> Verwalten der Systemanforderungen </a> </td>
													    <td> <a href="../elements/95e24d56-5a9c-4615-9ee2-ed55ae7e48d7.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/e65566b5-1d74-4440-91e1-bbbffae5fd4b.html" target="element"> Lebenszykluskonzepte </a> </td>
											    <td> <a href="../elements/e65566b5-1d74-4440-91e1-bbbffae5fd4b.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/135953ff-fb8f-4beb-b5de-3673cf2ff47b.html" target="element"> Identifikation der Systemfunktionen </a> </td>
											    <td> <a href="../elements/135953ff-fb8f-4beb-b5de-3673cf2ff47b.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6d9f7dee-dfa8-4b73-99f6-93f5a5ca73c5.html" target="element"> Stakeholder-Anforderungen </a> </td>
											    <td> <a href="../elements/6d9f7dee-dfa8-4b73-99f6-93f5a5ca73c5.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/36d4a899-bde6-4e37-8fa6-79df485d155c.html" target="element"> R&#252;ckverfolgbarkeit der Stakeholder-Anforderungen </a> </td>
											    <td> <a href="../elements/36d4a899-bde6-4e37-8fa6-79df485d155c.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/820fbf61-c5bb-4760-a667-9b093b78a315.html" target="element"> initiale RVTM </a> </td>
											    <td> <a href="../elements/820fbf61-c5bb-4760-a667-9b093b78a315.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b47ab109-68f7-4ecd-8ce6-8d45ba137a58.html" target="element"> R&#252;ckverfolgbarkeit der Architektur </a> </td>
											    <td> <a href="../elements/b47ab109-68f7-4ecd-8ce6-8d45ba137a58.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/926fc0a1-ebe5-4cf2-8d6a-ec647c7c6070.html" target="element"> finale RVTM </a> </td>
											    <td> <a href="../elements/926fc0a1-ebe5-4cf2-8d6a-ec647c7c6070.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/dc9bf07b-fc5f-4926-acae-ed53f0264ded.html" target="element"> Lebenszyklusbedingte Einschr&#228;nkungen (???) </a> </td>
											    <td> <a href="../elements/dc9bf07b-fc5f-4926-acae-ed53f0264ded.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/cca11f71-f9e3-45f0-8352-7656cd0a581c.html" target="element"> Strategie zur Definition der Systemanforderungen </a> </td>
											    <td> <a href="../elements/cca11f71-f9e3-45f0-8352-7656cd0a581c.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a86aa7d9-f171-4c06-b536-a497058f4ce5.html" target="element"> Systemanforderungen </a> </td>
											    <td> <a href="../elements/a86aa7d9-f171-4c06-b536-a497058f4ce5.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1bb0180e-ad5a-46f1-856d-5278e5dac898.html" target="element"> Identifikation der funktionalen Systemschnittstellen </a> </td>
											    <td> <a href="../elements/1bb0180e-ad5a-46f1-856d-5278e5dac898.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d799ed49-121c-489d-b3bb-e4b8df04ac13.html" target="element"> Verifikationskriterien </a> </td>
											    <td> <a href="../elements/d799ed49-121c-489d-b3bb-e4b8df04ac13.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d83c0f33-aaf5-4429-ac4a-5450c4d72a52.html" target="element"> Bedarf an Leistungsmessungen (!!!) </a> </td>
											    <td> <a href="../elements/d83c0f33-aaf5-4429-ac4a-5450c4d72a52.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c8cb1658-d56d-40e6-96bf-8c2eddc6d6db.html" target="element"> Leistungsmessdaten </a> </td>
											    <td> <a href="../elements/c8cb1658-d56d-40e6-96bf-8c2eddc6d6db.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5217608c-403c-4774-a042-ea9e9cd46d53.html" target="element"> R&#252;ckverfolgbarkeit der Systemanforderungen </a> </td>
											    <td> <a href="../elements/5217608c-403c-4774-a042-ea9e9cd46d53.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f6105dcf-0a13-4c12-85d9-e449652b0b9c.html" target="element"> aktualisierte RVTM </a> </td>
											    <td> <a href="../elements/f6105dcf-0a13-4c12-85d9-e449652b0b9c.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3506e1b9-7229-456f-8771-ef3a99b78bd3.html" target="element"> Protokoll zur Definition der Systemanforderungen </a> </td>
											    <td> <a href="../elements/3506e1b9-7229-456f-8771-ef3a99b78bd3.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f68f2ec1-2ad4-49d7-899a-beba9d69a3d2.html" target="element"> Definition der Systemfunktionen </a> </td>
											    <td> <a href="../elements/f68f2ec1-2ad4-49d7-899a-beba9d69a3d2.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/34687867-a60e-4380-9263-374f0715db49.html" target="element">  </a> </td>
																		<td> <a href="../elements/34687867-a60e-4380-9263-374f0715db49.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/9c83d5ef-01d7-4808-ad06-e4493fbf9cf6.html" target="element"> Definition der Systemanforderungen </a> </td>
																		<td> <a href="../elements/e65566b5-1d74-4440-91e1-bbbffae5fd4b.html" target="element"> Lebenszykluskonzepte </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9f71dff0-147b-4ae8-ba55-ae73be1c0402.html" target="element">  </a> </td>
																		<td> <a href="../elements/9f71dff0-147b-4ae8-ba55-ae73be1c0402.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/9c83d5ef-01d7-4808-ad06-e4493fbf9cf6.html" target="element"> Definition der Systemanforderungen </a> </td>
																		<td> <a href="../elements/135953ff-fb8f-4beb-b5de-3673cf2ff47b.html" target="element"> Identifikation der Systemfunktionen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6bc5a354-a671-4ef8-b851-596ad2b8e21e.html" target="element">  </a> </td>
																		<td> <a href="../elements/6bc5a354-a671-4ef8-b851-596ad2b8e21e.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/9c83d5ef-01d7-4808-ad06-e4493fbf9cf6.html" target="element"> Definition der Systemanforderungen </a> </td>
																		<td> <a href="../elements/6d9f7dee-dfa8-4b73-99f6-93f5a5ca73c5.html" target="element"> Stakeholder-Anforderungen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/1c83ecda-94ed-4712-970e-123392f7fd28.html" target="element">  </a> </td>
																		<td> <a href="../elements/1c83ecda-94ed-4712-970e-123392f7fd28.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/9c83d5ef-01d7-4808-ad06-e4493fbf9cf6.html" target="element"> Definition der Systemanforderungen </a> </td>
																		<td> <a href="../elements/36d4a899-bde6-4e37-8fa6-79df485d155c.html" target="element"> R&#252;ckverfolgbarkeit der Stakeholder-Anforderungen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e350f8ab-e8dd-4a2e-8a6b-b4e1de07933a.html" target="element">  </a> </td>
																		<td> <a href="../elements/e350f8ab-e8dd-4a2e-8a6b-b4e1de07933a.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/9c83d5ef-01d7-4808-ad06-e4493fbf9cf6.html" target="element"> Definition der Systemanforderungen </a> </td>
																		<td> <a href="../elements/820fbf61-c5bb-4760-a667-9b093b78a315.html" target="element"> initiale RVTM </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/378ff198-6665-4c6b-a0e0-846fb0cf16f9.html" target="element">  </a> </td>
																		<td> <a href="../elements/378ff198-6665-4c6b-a0e0-846fb0cf16f9.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/9c83d5ef-01d7-4808-ad06-e4493fbf9cf6.html" target="element"> Definition der Systemanforderungen </a> </td>
																		<td> <a href="../elements/b47ab109-68f7-4ecd-8ce6-8d45ba137a58.html" target="element"> R&#252;ckverfolgbarkeit der Architektur </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/1a26aea3-d96b-4169-be95-2ff18bda3e89.html" target="element">  </a> </td>
																		<td> <a href="../elements/1a26aea3-d96b-4169-be95-2ff18bda3e89.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/9c83d5ef-01d7-4808-ad06-e4493fbf9cf6.html" target="element"> Definition der Systemanforderungen </a> </td>
																		<td> <a href="../elements/926fc0a1-ebe5-4cf2-8d6a-ec647c7c6070.html" target="element"> finale RVTM </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ac773480-ed2a-4f37-8c55-114dfa3d8a9e.html" target="element">  </a> </td>
																		<td> <a href="../elements/ac773480-ed2a-4f37-8c55-114dfa3d8a9e.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/9c83d5ef-01d7-4808-ad06-e4493fbf9cf6.html" target="element"> Definition der Systemanforderungen </a> </td>
																		<td> <a href="../elements/dc9bf07b-fc5f-4926-acae-ed53f0264ded.html" target="element"> Lebenszyklusbedingte Einschr&#228;nkungen (???) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9e6f521b-1e7d-481f-bed7-2fcedfca0006.html" target="element">  </a> </td>
																		<td> <a href="../elements/9e6f521b-1e7d-481f-bed7-2fcedfca0006.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/9c83d5ef-01d7-4808-ad06-e4493fbf9cf6.html" target="element"> Definition der Systemanforderungen </a> </td>
																		<td> <a href="../elements/03c991c0-e97c-4aa8-8f76-c4b3236a1315.html" target="element"> Vorbereiten der Definition der Systemanforderungen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6050cb91-05d7-48aa-aceb-37c2a341612d.html" target="element">  </a> </td>
																		<td> <a href="../elements/6050cb91-05d7-48aa-aceb-37c2a341612d.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/9c83d5ef-01d7-4808-ad06-e4493fbf9cf6.html" target="element"> Definition der Systemanforderungen </a> </td>
																		<td> <a href="../elements/8361ac6e-3163-419d-b7ce-2bc52aeaa95f.html" target="element"> Definieren der Systemanforderungen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c2e065ea-9f49-423f-aeca-318cfa778fd7.html" target="element">  </a> </td>
																		<td> <a href="../elements/c2e065ea-9f49-423f-aeca-318cfa778fd7.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/9c83d5ef-01d7-4808-ad06-e4493fbf9cf6.html" target="element"> Definition der Systemanforderungen </a> </td>
																		<td> <a href="../elements/6f7b6ead-08fb-4e30-be78-921b38956230.html" target="element"> Analysieren der Systemanforderungen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3d5a022b-6cc2-4808-af99-6d4f9a24013d.html" target="element">  </a> </td>
																		<td> <a href="../elements/3d5a022b-6cc2-4808-af99-6d4f9a24013d.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/9c83d5ef-01d7-4808-ad06-e4493fbf9cf6.html" target="element"> Definition der Systemanforderungen </a> </td>
																		<td> <a href="../elements/95e24d56-5a9c-4615-9ee2-ed55ae7e48d7.html" target="element"> Verwalten der Systemanforderungen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/1d47d4d4-be43-4ba3-b74a-5ef3be3547e9.html" target="element">  </a> </td>
																		<td> <a href="../elements/1d47d4d4-be43-4ba3-b74a-5ef3be3547e9.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/9c83d5ef-01d7-4808-ad06-e4493fbf9cf6.html" target="element"> Definition der Systemanforderungen </a> </td>
																		<td> <a href="../elements/cca11f71-f9e3-45f0-8352-7656cd0a581c.html" target="element"> Strategie zur Definition der Systemanforderungen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d65cba8b-9902-4b9c-aa71-72ee0cf2d07e.html" target="element">  </a> </td>
																		<td> <a href="../elements/d65cba8b-9902-4b9c-aa71-72ee0cf2d07e.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/9c83d5ef-01d7-4808-ad06-e4493fbf9cf6.html" target="element"> Definition der Systemanforderungen </a> </td>
																		<td> <a href="../elements/a86aa7d9-f171-4c06-b536-a497058f4ce5.html" target="element"> Systemanforderungen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/90ee596c-f602-4bd2-aafe-cc411a037511.html" target="element">  </a> </td>
																		<td> <a href="../elements/90ee596c-f602-4bd2-aafe-cc411a037511.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/9c83d5ef-01d7-4808-ad06-e4493fbf9cf6.html" target="element"> Definition der Systemanforderungen </a> </td>
																		<td> <a href="../elements/1bb0180e-ad5a-46f1-856d-5278e5dac898.html" target="element"> Identifikation der funktionalen Systemschnittstellen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/856d8215-79ae-45a8-9c00-368bbdc00f52.html" target="element">  </a> </td>
																		<td> <a href="../elements/856d8215-79ae-45a8-9c00-368bbdc00f52.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/9c83d5ef-01d7-4808-ad06-e4493fbf9cf6.html" target="element"> Definition der Systemanforderungen </a> </td>
																		<td> <a href="../elements/d799ed49-121c-489d-b3bb-e4b8df04ac13.html" target="element"> Verifikationskriterien </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8f540419-19e7-4e3b-a30e-25a185b24384.html" target="element">  </a> </td>
																		<td> <a href="../elements/8f540419-19e7-4e3b-a30e-25a185b24384.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/9c83d5ef-01d7-4808-ad06-e4493fbf9cf6.html" target="element"> Definition der Systemanforderungen </a> </td>
																		<td> <a href="../elements/d83c0f33-aaf5-4429-ac4a-5450c4d72a52.html" target="element"> Bedarf an Leistungsmessungen (!!!) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/dde592fc-0976-4666-a799-0b5a7930eec1.html" target="element">  </a> </td>
																		<td> <a href="../elements/dde592fc-0976-4666-a799-0b5a7930eec1.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/9c83d5ef-01d7-4808-ad06-e4493fbf9cf6.html" target="element"> Definition der Systemanforderungen </a> </td>
																		<td> <a href="../elements/c8cb1658-d56d-40e6-96bf-8c2eddc6d6db.html" target="element"> Leistungsmessdaten </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/018ad8de-9e67-4bb6-9991-67a4d78d7986.html" target="element">  </a> </td>
																		<td> <a href="../elements/018ad8de-9e67-4bb6-9991-67a4d78d7986.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/9c83d5ef-01d7-4808-ad06-e4493fbf9cf6.html" target="element"> Definition der Systemanforderungen </a> </td>
																		<td> <a href="../elements/5217608c-403c-4774-a042-ea9e9cd46d53.html" target="element"> R&#252;ckverfolgbarkeit der Systemanforderungen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2c7538f5-8d0d-4427-9b96-febae31281d9.html" target="element">  </a> </td>
																		<td> <a href="../elements/2c7538f5-8d0d-4427-9b96-febae31281d9.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/9c83d5ef-01d7-4808-ad06-e4493fbf9cf6.html" target="element"> Definition der Systemanforderungen </a> </td>
																		<td> <a href="../elements/f6105dcf-0a13-4c12-85d9-e449652b0b9c.html" target="element"> aktualisierte RVTM </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8e153ff7-f65f-4cab-84d2-e0fa3e1175bb.html" target="element">  </a> </td>
																		<td> <a href="../elements/8e153ff7-f65f-4cab-84d2-e0fa3e1175bb.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/9c83d5ef-01d7-4808-ad06-e4493fbf9cf6.html" target="element"> Definition der Systemanforderungen </a> </td>
																		<td> <a href="../elements/3506e1b9-7229-456f-8771-ef3a99b78bd3.html" target="element"> Protokoll zur Definition der Systemanforderungen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/56c87866-e612-4ffd-b3d0-5821a2190e54.html" target="element">  </a> </td>
																		<td> <a href="../elements/56c87866-e612-4ffd-b3d0-5821a2190e54.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/9c83d5ef-01d7-4808-ad06-e4493fbf9cf6.html" target="element"> Definition der Systemanforderungen </a> </td>
																		<td> <a href="../elements/f68f2ec1-2ad4-49d7-899a-beba9d69a3d2.html" target="element"> Definition der Systemfunktionen </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>