<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>01-02 Definition der Stakeholder-Bedarfe und -Anforderungen</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>01-02 Definition der Stakeholder-Bedarfe und -Anforderungen</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/fc4c039c-54db-44e2-9b5d-f69105b003ef.png" alt="01-02 Definition der Stakeholder-Bedarfe und -Anforderungen" usemap="#fc4c039c-54db-44e2-9b5d-f69105b003efmap"/>
			   <map name="fc4c039c-54db-44e2-9b5d-f69105b003efmap">
				  		<area shape="rect" coords="646,553,851,608" href="../elements/3732c347-4472-4907-95f8-036c7e5354a1.html"  target="element">
				  		<area shape="rect" coords="646,493,851,548" href="../elements/820fbf61-c5bb-4760-a667-9b093b78a315.html"  target="element">
				  		<area shape="rect" coords="646,433,851,488" href="../elements/36d4a899-bde6-4e37-8fa6-79df485d155c.html"  target="element">
				  		<area shape="rect" coords="646,373,851,428" href="../elements/d645af10-125b-4f07-b2cf-a498718c56e4.html"  target="element">
				  		<area shape="rect" coords="646,313,851,368" href="../elements/f29abe8e-f911-46ed-b247-6eb48dbf0ba5.html"  target="element">
				  		<area shape="rect" coords="646,253,851,308" href="../elements/8d46c7ee-17b7-4f8f-8871-bed4f0a37965.html"  target="element">
				  		<area shape="rect" coords="646,193,851,248" href="../elements/6d9f7dee-dfa8-4b73-99f6-93f5a5ca73c5.html"  target="element">
				  		<area shape="rect" coords="646,130,851,185" href="../elements/135953ff-fb8f-4beb-b5de-3673cf2ff47b.html"  target="element">
				  		<area shape="rect" coords="646,70,851,125" href="../elements/e65566b5-1d74-4440-91e1-bbbffae5fd4b.html"  target="element">
				  		<area shape="rect" coords="646,10,851,65" href="../elements/01a98b72-0c19-4ec4-9d48-0fc28c743eb0.html"  target="element">
				  		<area shape="rect" coords="10,793,215,848" href="../elements/5217608c-403c-4774-a042-ea9e9cd46d53.html"  target="element">
				  		<area shape="rect" coords="10,733,215,788" href="../elements/2e33736a-044f-49c2-b14c-fbcf046aefc7.html"  target="element">
				  		<area shape="rect" coords="10,673,215,728" href="../elements/dc9bf07b-fc5f-4926-acae-ed53f0264ded.html"  target="element">
				  		<area shape="rect" coords="10,616,215,671" href="../elements/69a3f176-8d8e-4582-9e77-4a64812d5ec3.html"  target="element">
				  		<area shape="rect" coords="10,553,215,608" href="../elements/9e1e1d8d-846b-4752-b0fa-d48b7ab56ce0.html"  target="element">
				  		<area shape="rect" coords="10,493,215,548" href="../elements/af0d6bc8-3445-4910-8b6c-7cb4fc988a29.html"  target="element">
				  		<area shape="rect" coords="10,433,215,488" href="../elements/3b0ecdf4-9356-439d-97d2-49d0ba3c3351.html"  target="element">
				  		<area shape="rect" coords="10,373,215,428" href="../elements/f0672845-f672-4bae-80c0-f709a1eae564.html"  target="element">
				  		<area shape="rect" coords="10,313,215,368" href="../elements/ac4c14b4-361c-4100-a2f6-52d22195ae8d.html"  target="element">
				  		<area shape="rect" coords="10,253,215,308" href="../elements/ae9e97db-6908-46ee-8bde-facbabbfcb40.html"  target="element">
				  		<area shape="rect" coords="10,193,215,248" href="../elements/c6af653a-cd59-4bd5-967d-0f788c23a91b.html"  target="element">
				  		<area shape="rect" coords="10,130,215,185" href="../elements/cbaae451-a92e-4a0f-8983-dc3972b0977d.html"  target="element">
				  		<area shape="rect" coords="10,70,215,125" href="../elements/c0e1d3e2-e427-4617-bfb8-7960e6d676dd.html"  target="element">
				  		<area shape="rect" coords="10,10,215,65" href="../elements/08bc4610-9cf0-47bf-a527-c774eb516a9c.html"  target="element">
				  				<area shape="rect" coords="310,358,551,413" href="../elements/fc6d51cc-0388-4a6e-bc15-d4d93b366fe7.html"  target="element">
				  				<area shape="rect" coords="310,298,551,353" href="../elements/4b5db2e9-f33a-4fd9-beee-afb5f9c3c457.html"  target="element">
				  				<area shape="rect" coords="310,238,551,293" href="../elements/a109331c-2a05-4056-b13a-785979db6424.html"  target="element">
				  				<area shape="rect" coords="310,178,551,233" href="../elements/09aa1832-2f2e-4ea4-9fb6-ea02d56af2e1.html"  target="element">
				  				<area shape="rect" coords="310,118,551,173" href="../elements/c44d632c-fa37-494d-a1d3-f7fbbca39c66.html"  target="element">
				  				<area shape="rect" coords="310,58,551,113" href="../elements/de4548fd-b8ed-4b09-8630-4f2e243b77c4.html"  target="element">

				  		<area shape="rect" coords="286,10,575,848" href="../elements/13e19b84-beca-474c-8ab9-9d006c72bffb.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/13e19b84-beca-474c-8ab9-9d006c72bffb.html" target="element"> Definition der Stakeholder-Bedarfe und -Anforderungen </a> </td>
											    <td> <a href="../elements/13e19b84-beca-474c-8ab9-9d006c72bffb.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/de4548fd-b8ed-4b09-8630-4f2e243b77c4.html" target="element"> Vorbereiten der Definition der Bedarfe und Anforerungen der Stakeholder </a> </td>
													    <td> <a href="../elements/de4548fd-b8ed-4b09-8630-4f2e243b77c4.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/c44d632c-fa37-494d-a1d3-f7fbbca39c66.html" target="element"> Definieren der Stakeholder-Bedarfe </a> </td>
													    <td> <a href="../elements/c44d632c-fa37-494d-a1d3-f7fbbca39c66.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/09aa1832-2f2e-4ea4-9fb6-ea02d56af2e1.html" target="element"> Erstellen des Betriebskonzepts (OpsCon) und anderer Lebenszykluskonzepte </a> </td>
													    <td> <a href="../elements/09aa1832-2f2e-4ea4-9fb6-ea02d56af2e1.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/a109331c-2a05-4056-b13a-785979db6424.html" target="element"> &#220;berf&#252;hren der Stakeholder-Bedarfe in Stakeholder-Anforderungen </a> </td>
													    <td> <a href="../elements/a109331c-2a05-4056-b13a-785979db6424.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/4b5db2e9-f33a-4fd9-beee-afb5f9c3c457.html" target="element"> Analysieren der Stakeholder-Anforderungen </a> </td>
													    <td> <a href="../elements/4b5db2e9-f33a-4fd9-beee-afb5f9c3c457.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/fc6d51cc-0388-4a6e-bc15-d4d93b366fe7.html" target="element"> Verwalten der ermittelten Bedarfe und Anforderungen der Stakeholder </a> </td>
													    <td> <a href="../elements/fc6d51cc-0388-4a6e-bc15-d4d93b366fe7.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/08bc4610-9cf0-47bf-a527-c774eb516a9c.html" target="element"> Quelldokumente </a> </td>
											    <td> <a href="../elements/08bc4610-9cf0-47bf-a527-c774eb516a9c.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c0e1d3e2-e427-4617-bfb8-7960e6d676dd.html" target="element"> projektbedingte Einschr&#228;nkungen </a> </td>
											    <td> <a href="../elements/c0e1d3e2-e427-4617-bfb8-7960e6d676dd.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/cbaae451-a92e-4a0f-8983-dc3972b0977d.html" target="element"> Identifikation der Haupt-Stakeholder </a> </td>
											    <td> <a href="../elements/cbaae451-a92e-4a0f-8983-dc3972b0977d.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c6af653a-cd59-4bd5-967d-0f788c23a91b.html" target="element"> vorl&#228;ufige Lebenszykluskonzepte </a> </td>
											    <td> <a href="../elements/c6af653a-cd59-4bd5-967d-0f788c23a91b.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ae9e97db-6908-46ee-8bde-facbabbfcb40.html" target="element"> Problem- oder Chancenfeststellung </a> </td>
											    <td> <a href="../elements/ae9e97db-6908-46ee-8bde-facbabbfcb40.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ac4c14b4-361c-4100-a2f6-52d22195ae8d.html" target="element"> alternative L&#246;sungsrahmen </a> </td>
											    <td> <a href="../elements/ac4c14b4-361c-4100-a2f6-52d22195ae8d.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f0672845-f672-4bae-80c0-f709a1eae564.html" target="element"> vorl&#228;ufige Velidierungskriterien </a> </td>
											    <td> <a href="../elements/f0672845-f672-4bae-80c0-f709a1eae564.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3b0ecdf4-9356-439d-97d2-49d0ba3c3351.html" target="element"> validierte Anforderungen </a> </td>
											    <td> <a href="../elements/3b0ecdf4-9356-439d-97d2-49d0ba3c3351.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/af0d6bc8-3445-4910-8b6c-7cb4fc988a29.html" target="element"> Bedarf an vorl&#228;ufigen Wirksamkeitsmessungen </a> </td>
											    <td> <a href="../elements/af0d6bc8-3445-4910-8b6c-7cb4fc988a29.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9e1e1d8d-846b-4752-b0fa-d48b7ab56ce0.html" target="element"> vorl&#228;ufige Wirksamkeitsmessdaten </a> </td>
											    <td> <a href="../elements/9e1e1d8d-846b-4752-b0fa-d48b7ab56ce0.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/69a3f176-8d8e-4582-9e77-4a64812d5ec3.html" target="element"> R&#252;ckverfolgbarkeit der Gesch&#228;ftsanforderungen </a> </td>
											    <td> <a href="../elements/69a3f176-8d8e-4582-9e77-4a64812d5ec3.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/dc9bf07b-fc5f-4926-acae-ed53f0264ded.html" target="element"> Lebenszyklusbedingte Einschr&#228;nkungen (???) </a> </td>
											    <td> <a href="../elements/dc9bf07b-fc5f-4926-acae-ed53f0264ded.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2e33736a-044f-49c2-b14c-fbcf046aefc7.html" target="element"> Stakeholder-Bedarfe </a> </td>
											    <td> <a href="../elements/2e33736a-044f-49c2-b14c-fbcf046aefc7.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5217608c-403c-4774-a042-ea9e9cd46d53.html" target="element"> R&#252;ckverfolgbarkeit der Systemanforderungen </a> </td>
											    <td> <a href="../elements/5217608c-403c-4774-a042-ea9e9cd46d53.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/01a98b72-0c19-4ec4-9d48-0fc28c743eb0.html" target="element"> Strategie zur Definition der Stakeholder-Bedarfe und -Anforderungen </a> </td>
											    <td> <a href="../elements/01a98b72-0c19-4ec4-9d48-0fc28c743eb0.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e65566b5-1d74-4440-91e1-bbbffae5fd4b.html" target="element"> Lebenszykluskonzepte </a> </td>
											    <td> <a href="../elements/e65566b5-1d74-4440-91e1-bbbffae5fd4b.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/135953ff-fb8f-4beb-b5de-3673cf2ff47b.html" target="element"> Identifikation der Systemfunktionen </a> </td>
											    <td> <a href="../elements/135953ff-fb8f-4beb-b5de-3673cf2ff47b.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6d9f7dee-dfa8-4b73-99f6-93f5a5ca73c5.html" target="element"> Stakeholder-Anforderungen </a> </td>
											    <td> <a href="../elements/6d9f7dee-dfa8-4b73-99f6-93f5a5ca73c5.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8d46c7ee-17b7-4f8f-8871-bed4f0a37965.html" target="element"> Validierungskriterien </a> </td>
											    <td> <a href="../elements/8d46c7ee-17b7-4f8f-8871-bed4f0a37965.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f29abe8e-f911-46ed-b247-6eb48dbf0ba5.html" target="element"> Bedarf an Wirksamkeitsmessungen </a> </td>
											    <td> <a href="../elements/f29abe8e-f911-46ed-b247-6eb48dbf0ba5.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d645af10-125b-4f07-b2cf-a498718c56e4.html" target="element"> Wirksamkeitsmessdaten </a> </td>
											    <td> <a href="../elements/d645af10-125b-4f07-b2cf-a498718c56e4.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/36d4a899-bde6-4e37-8fa6-79df485d155c.html" target="element"> R&#252;ckverfolgbarkeit der Stakeholder-Anforderungen </a> </td>
											    <td> <a href="../elements/36d4a899-bde6-4e37-8fa6-79df485d155c.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/820fbf61-c5bb-4760-a667-9b093b78a315.html" target="element"> initiale RVTM </a> </td>
											    <td> <a href="../elements/820fbf61-c5bb-4760-a667-9b093b78a315.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3732c347-4472-4907-95f8-036c7e5354a1.html" target="element"> Protokoll zur Definition der Stakeholder-Bedarfe und -Anforderungen </a> </td>
											    <td> <a href="../elements/3732c347-4472-4907-95f8-036c7e5354a1.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/d289fbb5-869e-4d4e-9775-4cf323becc7f.html" target="element">  </a> </td>
																		<td> <a href="../elements/d289fbb5-869e-4d4e-9775-4cf323becc7f.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/13e19b84-beca-474c-8ab9-9d006c72bffb.html" target="element"> Definition der Stakeholder-Bedarfe und -Anforderungen </a> </td>
																		<td> <a href="../elements/08bc4610-9cf0-47bf-a527-c774eb516a9c.html" target="element"> Quelldokumente </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8ed2fd0f-8232-416c-b56f-7dcaf0729417.html" target="element">  </a> </td>
																		<td> <a href="../elements/8ed2fd0f-8232-416c-b56f-7dcaf0729417.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/13e19b84-beca-474c-8ab9-9d006c72bffb.html" target="element"> Definition der Stakeholder-Bedarfe und -Anforderungen </a> </td>
																		<td> <a href="../elements/c0e1d3e2-e427-4617-bfb8-7960e6d676dd.html" target="element"> projektbedingte Einschr&#228;nkungen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/1d6e30e0-f454-4258-b24e-dbc6b461d13c.html" target="element">  </a> </td>
																		<td> <a href="../elements/1d6e30e0-f454-4258-b24e-dbc6b461d13c.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/13e19b84-beca-474c-8ab9-9d006c72bffb.html" target="element"> Definition der Stakeholder-Bedarfe und -Anforderungen </a> </td>
																		<td> <a href="../elements/cbaae451-a92e-4a0f-8983-dc3972b0977d.html" target="element"> Identifikation der Haupt-Stakeholder </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c4570fe5-b915-42eb-b5e9-a244fb7ebbb5.html" target="element">  </a> </td>
																		<td> <a href="../elements/c4570fe5-b915-42eb-b5e9-a244fb7ebbb5.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/13e19b84-beca-474c-8ab9-9d006c72bffb.html" target="element"> Definition der Stakeholder-Bedarfe und -Anforderungen </a> </td>
																		<td> <a href="../elements/c6af653a-cd59-4bd5-967d-0f788c23a91b.html" target="element"> vorl&#228;ufige Lebenszykluskonzepte </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b7981598-3cef-4c01-87f5-5d53012bb9e2.html" target="element">  </a> </td>
																		<td> <a href="../elements/b7981598-3cef-4c01-87f5-5d53012bb9e2.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/13e19b84-beca-474c-8ab9-9d006c72bffb.html" target="element"> Definition der Stakeholder-Bedarfe und -Anforderungen </a> </td>
																		<td> <a href="../elements/ae9e97db-6908-46ee-8bde-facbabbfcb40.html" target="element"> Problem- oder Chancenfeststellung </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7455512b-a34b-405c-88bc-c316378b0aad.html" target="element">  </a> </td>
																		<td> <a href="../elements/7455512b-a34b-405c-88bc-c316378b0aad.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/13e19b84-beca-474c-8ab9-9d006c72bffb.html" target="element"> Definition der Stakeholder-Bedarfe und -Anforderungen </a> </td>
																		<td> <a href="../elements/ac4c14b4-361c-4100-a2f6-52d22195ae8d.html" target="element"> alternative L&#246;sungsrahmen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/5fd9f231-c4ab-430a-927e-586923c0c810.html" target="element">  </a> </td>
																		<td> <a href="../elements/5fd9f231-c4ab-430a-927e-586923c0c810.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/13e19b84-beca-474c-8ab9-9d006c72bffb.html" target="element"> Definition der Stakeholder-Bedarfe und -Anforderungen </a> </td>
																		<td> <a href="../elements/f0672845-f672-4bae-80c0-f709a1eae564.html" target="element"> vorl&#228;ufige Velidierungskriterien </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/46ad2716-2834-4e6e-8b56-42c272a3805a.html" target="element">  </a> </td>
																		<td> <a href="../elements/46ad2716-2834-4e6e-8b56-42c272a3805a.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/13e19b84-beca-474c-8ab9-9d006c72bffb.html" target="element"> Definition der Stakeholder-Bedarfe und -Anforderungen </a> </td>
																		<td> <a href="../elements/3b0ecdf4-9356-439d-97d2-49d0ba3c3351.html" target="element"> validierte Anforderungen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e7d8eded-b5a0-4a3c-9353-3d519f55ccaf.html" target="element">  </a> </td>
																		<td> <a href="../elements/e7d8eded-b5a0-4a3c-9353-3d519f55ccaf.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/13e19b84-beca-474c-8ab9-9d006c72bffb.html" target="element"> Definition der Stakeholder-Bedarfe und -Anforderungen </a> </td>
																		<td> <a href="../elements/af0d6bc8-3445-4910-8b6c-7cb4fc988a29.html" target="element"> Bedarf an vorl&#228;ufigen Wirksamkeitsmessungen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/cd7c8111-e5bd-4eb1-b898-63c78c06d0e9.html" target="element">  </a> </td>
																		<td> <a href="../elements/cd7c8111-e5bd-4eb1-b898-63c78c06d0e9.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/13e19b84-beca-474c-8ab9-9d006c72bffb.html" target="element"> Definition der Stakeholder-Bedarfe und -Anforderungen </a> </td>
																		<td> <a href="../elements/9e1e1d8d-846b-4752-b0fa-d48b7ab56ce0.html" target="element"> vorl&#228;ufige Wirksamkeitsmessdaten </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/49805334-a391-4046-b60a-b6949edc944d.html" target="element">  </a> </td>
																		<td> <a href="../elements/49805334-a391-4046-b60a-b6949edc944d.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/13e19b84-beca-474c-8ab9-9d006c72bffb.html" target="element"> Definition der Stakeholder-Bedarfe und -Anforderungen </a> </td>
																		<td> <a href="../elements/69a3f176-8d8e-4582-9e77-4a64812d5ec3.html" target="element"> R&#252;ckverfolgbarkeit der Gesch&#228;ftsanforderungen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/398d63ca-743e-4db5-9c63-79d239836a09.html" target="element">  </a> </td>
																		<td> <a href="../elements/398d63ca-743e-4db5-9c63-79d239836a09.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/13e19b84-beca-474c-8ab9-9d006c72bffb.html" target="element"> Definition der Stakeholder-Bedarfe und -Anforderungen </a> </td>
																		<td> <a href="../elements/dc9bf07b-fc5f-4926-acae-ed53f0264ded.html" target="element"> Lebenszyklusbedingte Einschr&#228;nkungen (???) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e23cbbaa-3512-4efe-b25f-6edb925732cb.html" target="element">  </a> </td>
																		<td> <a href="../elements/e23cbbaa-3512-4efe-b25f-6edb925732cb.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/13e19b84-beca-474c-8ab9-9d006c72bffb.html" target="element"> Definition der Stakeholder-Bedarfe und -Anforderungen </a> </td>
																		<td> <a href="../elements/2e33736a-044f-49c2-b14c-fbcf046aefc7.html" target="element"> Stakeholder-Bedarfe </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/41fce59b-4ae5-4886-83a8-6c15b98834da.html" target="element">  </a> </td>
																		<td> <a href="../elements/41fce59b-4ae5-4886-83a8-6c15b98834da.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/13e19b84-beca-474c-8ab9-9d006c72bffb.html" target="element"> Definition der Stakeholder-Bedarfe und -Anforderungen </a> </td>
																		<td> <a href="../elements/5217608c-403c-4774-a042-ea9e9cd46d53.html" target="element"> R&#252;ckverfolgbarkeit der Systemanforderungen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/892bc6ff-13f3-4e17-814f-81e2aa96a7df.html" target="element">  </a> </td>
																		<td> <a href="../elements/892bc6ff-13f3-4e17-814f-81e2aa96a7df.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/13e19b84-beca-474c-8ab9-9d006c72bffb.html" target="element"> Definition der Stakeholder-Bedarfe und -Anforderungen </a> </td>
																		<td> <a href="../elements/de4548fd-b8ed-4b09-8630-4f2e243b77c4.html" target="element"> Vorbereiten der Definition der Bedarfe und Anforerungen der Stakeholder </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/40cabc29-cac5-4346-a7c5-a3db0d28eb93.html" target="element">  </a> </td>
																		<td> <a href="../elements/40cabc29-cac5-4346-a7c5-a3db0d28eb93.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/13e19b84-beca-474c-8ab9-9d006c72bffb.html" target="element"> Definition der Stakeholder-Bedarfe und -Anforderungen </a> </td>
																		<td> <a href="../elements/c44d632c-fa37-494d-a1d3-f7fbbca39c66.html" target="element"> Definieren der Stakeholder-Bedarfe </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/cd2d909b-cfba-49f0-a4e9-bba11020d149.html" target="element">  </a> </td>
																		<td> <a href="../elements/cd2d909b-cfba-49f0-a4e9-bba11020d149.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/13e19b84-beca-474c-8ab9-9d006c72bffb.html" target="element"> Definition der Stakeholder-Bedarfe und -Anforderungen </a> </td>
																		<td> <a href="../elements/09aa1832-2f2e-4ea4-9fb6-ea02d56af2e1.html" target="element"> Erstellen des Betriebskonzepts (OpsCon) und anderer Lebenszykluskonzepte </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0e97f336-1d3e-46dc-8252-4f951c883055.html" target="element">  </a> </td>
																		<td> <a href="../elements/0e97f336-1d3e-46dc-8252-4f951c883055.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/13e19b84-beca-474c-8ab9-9d006c72bffb.html" target="element"> Definition der Stakeholder-Bedarfe und -Anforderungen </a> </td>
																		<td> <a href="../elements/a109331c-2a05-4056-b13a-785979db6424.html" target="element"> &#220;berf&#252;hren der Stakeholder-Bedarfe in Stakeholder-Anforderungen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/496acdfd-ff2e-485b-98d3-f5196133ef83.html" target="element">  </a> </td>
																		<td> <a href="../elements/496acdfd-ff2e-485b-98d3-f5196133ef83.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/13e19b84-beca-474c-8ab9-9d006c72bffb.html" target="element"> Definition der Stakeholder-Bedarfe und -Anforderungen </a> </td>
																		<td> <a href="../elements/4b5db2e9-f33a-4fd9-beee-afb5f9c3c457.html" target="element"> Analysieren der Stakeholder-Anforderungen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ebf6b672-cf31-47dd-bcd2-f2f7e84a1313.html" target="element">  </a> </td>
																		<td> <a href="../elements/ebf6b672-cf31-47dd-bcd2-f2f7e84a1313.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/13e19b84-beca-474c-8ab9-9d006c72bffb.html" target="element"> Definition der Stakeholder-Bedarfe und -Anforderungen </a> </td>
																		<td> <a href="../elements/fc6d51cc-0388-4a6e-bc15-d4d93b366fe7.html" target="element"> Verwalten der ermittelten Bedarfe und Anforderungen der Stakeholder </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6e8a5b99-a97e-4172-bea1-b7378334e1a7.html" target="element">  </a> </td>
																		<td> <a href="../elements/6e8a5b99-a97e-4172-bea1-b7378334e1a7.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/13e19b84-beca-474c-8ab9-9d006c72bffb.html" target="element"> Definition der Stakeholder-Bedarfe und -Anforderungen </a> </td>
																		<td> <a href="../elements/01a98b72-0c19-4ec4-9d48-0fc28c743eb0.html" target="element"> Strategie zur Definition der Stakeholder-Bedarfe und -Anforderungen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8b934e34-9a95-4303-8e50-b28d7028ce68.html" target="element">  </a> </td>
																		<td> <a href="../elements/8b934e34-9a95-4303-8e50-b28d7028ce68.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/13e19b84-beca-474c-8ab9-9d006c72bffb.html" target="element"> Definition der Stakeholder-Bedarfe und -Anforderungen </a> </td>
																		<td> <a href="../elements/e65566b5-1d74-4440-91e1-bbbffae5fd4b.html" target="element"> Lebenszykluskonzepte </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/15fbc349-738f-4b34-8df6-2f10bbe4fad0.html" target="element">  </a> </td>
																		<td> <a href="../elements/15fbc349-738f-4b34-8df6-2f10bbe4fad0.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/13e19b84-beca-474c-8ab9-9d006c72bffb.html" target="element"> Definition der Stakeholder-Bedarfe und -Anforderungen </a> </td>
																		<td> <a href="../elements/135953ff-fb8f-4beb-b5de-3673cf2ff47b.html" target="element"> Identifikation der Systemfunktionen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/cd090096-5bcb-48fb-badf-ac2b4672608f.html" target="element">  </a> </td>
																		<td> <a href="../elements/cd090096-5bcb-48fb-badf-ac2b4672608f.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/13e19b84-beca-474c-8ab9-9d006c72bffb.html" target="element"> Definition der Stakeholder-Bedarfe und -Anforderungen </a> </td>
																		<td> <a href="../elements/6d9f7dee-dfa8-4b73-99f6-93f5a5ca73c5.html" target="element"> Stakeholder-Anforderungen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a271d6fa-c137-4e4b-b5bb-86a3817270db.html" target="element">  </a> </td>
																		<td> <a href="../elements/a271d6fa-c137-4e4b-b5bb-86a3817270db.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/13e19b84-beca-474c-8ab9-9d006c72bffb.html" target="element"> Definition der Stakeholder-Bedarfe und -Anforderungen </a> </td>
																		<td> <a href="../elements/8d46c7ee-17b7-4f8f-8871-bed4f0a37965.html" target="element"> Validierungskriterien </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c2046066-18d5-44e4-ba19-af9baf7d5dbc.html" target="element">  </a> </td>
																		<td> <a href="../elements/c2046066-18d5-44e4-ba19-af9baf7d5dbc.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/13e19b84-beca-474c-8ab9-9d006c72bffb.html" target="element"> Definition der Stakeholder-Bedarfe und -Anforderungen </a> </td>
																		<td> <a href="../elements/f29abe8e-f911-46ed-b247-6eb48dbf0ba5.html" target="element"> Bedarf an Wirksamkeitsmessungen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7b07b45e-65d4-4a25-85b0-3615cfac247e.html" target="element">  </a> </td>
																		<td> <a href="../elements/7b07b45e-65d4-4a25-85b0-3615cfac247e.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/13e19b84-beca-474c-8ab9-9d006c72bffb.html" target="element"> Definition der Stakeholder-Bedarfe und -Anforderungen </a> </td>
																		<td> <a href="../elements/d645af10-125b-4f07-b2cf-a498718c56e4.html" target="element"> Wirksamkeitsmessdaten </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/995f29a5-7fb8-48b2-85fb-abe3f9164c6b.html" target="element">  </a> </td>
																		<td> <a href="../elements/995f29a5-7fb8-48b2-85fb-abe3f9164c6b.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/13e19b84-beca-474c-8ab9-9d006c72bffb.html" target="element"> Definition der Stakeholder-Bedarfe und -Anforderungen </a> </td>
																		<td> <a href="../elements/36d4a899-bde6-4e37-8fa6-79df485d155c.html" target="element"> R&#252;ckverfolgbarkeit der Stakeholder-Anforderungen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7b3cc65e-2b4e-4b6c-9024-0c75fbd5feab.html" target="element">  </a> </td>
																		<td> <a href="../elements/7b3cc65e-2b4e-4b6c-9024-0c75fbd5feab.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/13e19b84-beca-474c-8ab9-9d006c72bffb.html" target="element"> Definition der Stakeholder-Bedarfe und -Anforderungen </a> </td>
																		<td> <a href="../elements/820fbf61-c5bb-4760-a667-9b093b78a315.html" target="element"> initiale RVTM </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c4159080-28f7-4a3e-bcda-157ad3672496.html" target="element">  </a> </td>
																		<td> <a href="../elements/c4159080-28f7-4a3e-bcda-157ad3672496.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/13e19b84-beca-474c-8ab9-9d006c72bffb.html" target="element"> Definition der Stakeholder-Bedarfe und -Anforderungen </a> </td>
																		<td> <a href="../elements/3732c347-4472-4907-95f8-036c7e5354a1.html" target="element"> Protokoll zur Definition der Stakeholder-Bedarfe und -Anforderungen </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>